@model DataLayer.Models.PatientActivation
@using DataLayer;
@{
    ViewBag.Title = "Activation_pdf";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>myadvancedpt.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="favicon.png">

    <!-- Bootstrap core CSS -->


</head>

<body>
    @using (Html.BeginForm("Create", "PatientActivation", FormMethod.Post, new { name = "Create", id = "Create" }))
    {

        <div style="width:95%; margin:0 auto; padding:40px 0; font-family:verdana; font-size:20px; color:#333;">


            <div style="padding:0 0 25px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="38%"><h2 style="padding:0; font-size:50px; margin:0; text-align:center;">Activation Form</h2></td>

                    </tr>
                </table>

            </div>


            <div style="padding:0 0 10px 0; margin-bottom:20px; border-bottom:3px solid #666;">
                <table width="100%" border="0">
                    <tr>
                        <td width="31%" style="padding-right:20px;"> Date:
                            <div>
                                <span style="width:100%; margin:0 10px 0 0; padding-top:11px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">

                                    @Model.Condition.Contact_Date.GetExactValue() 
                                </span>


                                @*@Html.TextBoxFor(m => m.Condition.Contact_Date, new { @class = "applitextfield" })*@
                            </div>
                        </td>
                        <td width="31%" style="padding-right:10px;"> 
                            <div style="margin-left:80px;">
                                Staff Name :
                                <div>
                                    <span style="width:80%; margin:0 10px 0 0;  padding-top:11px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">

                                        @Html.DisplayFor(m => m.User.Name, new { @class = "applitextfield" })
                                    </span>
                                    @*@Html.TextBoxFor(m => m.User.Name, new { @class = "applitextfield" })*@
                                </div>
                            </div>
                        </td>
                        <td width="31%" style="padding-right:10px;" valign="top">
                            <div style="margin-left:80px;">
                                Contact Method :
                                <div>
                                    <span style="width:200px; margin:0 10px 0 0; padding-top:11px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                        @(((PatientContactType)Enum.ToObject(typeof(PatientContactType), (Convert.ToInt32(Model.Condition.Contact_Type)))).ToCustomString())
                                    </span>
                                    @* @Html.DropDownListFor(Model => Model.Condition.Contact_Type, from DataLayer.PatientContactType state in Enum.GetValues(typeof(DataLayer.PatientContactType)) select new SelectListItem() { Text = state.ToCustomString(), Value = Convert.ToInt32((state)).ToString() })*@
                                </div>
                            </div>

                         </td>
                    </tr>
                </table>

            </div>

            <div style="padding:15px 0 30px 0; text-align:center; font-size:30px;"><strong>A. INTRODUCTION FOR ALL CALLS</strong></div>
            <div style="padding:12px 0;">
                <table width="100%" border="0" style="padding-bottom:20px;">
                    <tr>
                        <td width="5%" style="text-align:center; color:#000; font-weight:bold; vertical-align:top; padding-right:8px;">(A1)</td>
                        <td width="95%" valign="top">
                            Thank you for calling
                            <span style="width:500px; margin:0 10px 0 10px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @*<input type="text" class="applitextfield1" value="AdvancePT">*@Advanced Physical Therapy Of Central Florida
                            </span>, how can I help you?
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0" style="padding-bottom:20px;">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(A2)</td>
                        <td width="94%" valign="top">
                            May I have your name?
                            <span style="width:300px; margin:0 10px 0 10px;  display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.Patient.FirstName, new { @class = "applitextfield1" })
                            </span>
                            <span style="width:300px; margin:0 10px 0 10px;  display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">

                                @Html.DisplayFor(m => m.Patient.LastName, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0" style="padding-bottom:20px;">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(A3)</td>
                        <td width="94%" valign="top">
                            What is the best phone number at which to reach you?
                            <span style="width:167px; margin:0 10px 0 10px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.PatientUser.MobNo, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0" style="padding-bottom:20px;">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(A4)</td>
                        <td width="94%" valign="top">
                            And may I have your address?
                            <span style="width:700px; margin:0 10px 0 10px;  display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.Patient.AddressLine1, new { @class = "applitextfield1" }),
                                @Html.DisplayFor(m => m.Patient.AddressLine2, new { @class = "applitextfield1" }),
                                @Html.DisplayFor(m => m.Patient.City, new { @class = "applitextfield1" }),
                                @Html.DisplayFor(m => m.Patient.State, new { @class = "applitextfield1" }),
                                @Html.DisplayFor(m => m.Patient.ZipCode, new { @class = "applitextfield1" })
                            </span>
                            <div style="padding-top:20px;"><strong>IF THEY ASK WHY:</strong> We want to get you to the office closest to your home.</div>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0" style="padding-bottom:20px;">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(A5)</td>
                        <td width="94%" valign="top">
                            And may I have your birthdate as well?
                            <span style="width:200px; margin:0 10px 0 10px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Model.Patient.DOB.GetExactValue()
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0" style="padding-bottom:20px;">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(A6)</td>
                        <td width="94%" valign="top">
                            Okay,
                            <span style="width:400px; margin:0 10px 0 10px;  display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @(Model.Patient.FirstName + " " + Model.Patient.LastName)
                            </span>
                            how did you hear about us?
                            <span style="width:200px; margin:0 10px 0 10px; padding-top:0px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @if (Model.Patient.tblMReferralSource != null)
                                {
                                    @Model.Patient.tblMReferralSource.Name
                                }
                                @*@Html.DisplayFor(m => m.Patient.From_Where_You_Know_About_Us, new { @class = "applitextfield1" })*@
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0" style="padding-bottom:20px;">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(A7)</td>
                        <td width="94%" valign="top">
                            Very good, welcome to <span style="width:500px; margin:0 10px 0 10px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                Advanced Physical Therapy Of Central Florida
                            </span><br />my name is,
                            <span style="width:300px; margin:0 10px 0 10px; padding-top:0px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.User.Name, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0" style="padding-bottom:20px;">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(A8)</td>
                        <td width="94%" valign="top">
                            What exactly is wrong and how can we help you?
                            <span style="width:200px; margin:0 10px 0 10px;  display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @if (Model.Condition.ProblemType != 0 && Model.Condition.ProblemType != null)
                                {
                                    @(((ProblrmType)Enum.ToObject(typeof(ProblrmType), (Convert.ToInt32(Model.Condition.ProblemType)))).ToCustomString())
                                }


                                @*@(((ProblrmType)Enum.ToObject(typeof(ProblrmType), (Convert.ToInt32(Model.Condition.ProblemType)))).ToCustomString())*@
                            </span>






                            @*@Html.DropDownListFor(m => m.Condition.ProblemType, from DataLayer.ProblrmType option in Enum.GetValues(typeof(DataLayer.ProblrmType))
                    select new SelectListItem() { Text = option.ToCustomString(), Value = Convert.ToInt32((option)).ToString() }, new { @class = "applitextfield1" })*@
                            <span style="width:200px; margin:0 10px 0 10px; padding-top:20px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.Condition.ProblemDetail)
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0" style="padding-bottom:20px;">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(A9)</td>
                        <td width="94%" valign="top">
                            Alright, and are you currently under the care of a physician for this problem? <div>

                                <strong>
                                    <label class="radio-inline">
                                        @Html.RadioButtonFor(m => m.Condition.IsUnderPhysician, Convert.ToInt16(YesNo.Yes).ToString()) Yes
                                    </label>
                                    <label class="radio-inline">
                                        @Html.RadioButtonFor(m => m.Condition.IsUnderPhysician, Convert.ToInt16(YesNo.No).ToString()) No

                                    </label>
                                </strong>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0" style="padding-bottom:20px;">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(A10)</td>
                        <td width="94%" valign="top">
                            May I have his or her name please?
                            <span style="width:200px; margin:0 10px 0 10px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.Condition.DoctorName, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0" style="padding-bottom:20px;">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(A11)</td>
                        <td width="94%" valign="top">
                            Do you know the name of your doctor’s group or their phone number?
                            <span style="width:200px; margin:0 10px 0 10px; padding-top:20px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.Condition.DoctorPhone, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0" style="padding-bottom:20px;">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(A12)</td>
                        <td width="94%" valign="top">
                            When did your
                            <span style="width:200px; margin:0 10px 0 10px;  display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @if (Model.Condition.ProblemType != 0 && Model.Condition.ProblemType != null)
                                {
                                    @(((ProblrmType)Enum.ToObject(typeof(ProblrmType), (Convert.ToInt32(Model.Condition.ProblemType)))).ToCustomString())
                                }



                            </span>



                            @*@Html.DropDownListFor(m => m.Condition.ProblemType, from DataLayer.ProblrmType option in Enum.GetValues(typeof(DataLayer.ProblrmType))
                    select new SelectListItem() { Text = option.ToCustomString(), Value = Convert.ToInt32((option)).ToString() }, new { @class = "applitextfield1" })*@ happen?
                            <span style="width:200px; margin:0 10px 0 10px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Model.Condition.FromWhenProblemExist.GetExactValue()
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0" style="padding-bottom:20px;">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px; padding-top: 10px;">(A13)</td>
                        <td width="94%" valign="top">
                            And are you experiencing a lot of
                            <span style="width:200px; margin:0 10px 0 10px; padding-top:11px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @if (Model.Condition.ProblemType != 0 && Model.Condition.ProblemType != null)
                                {
                                    @(((ProblrmType)Enum.ToObject(typeof(ProblrmType), (Convert.ToInt32(Model.Condition.ProblemType)))).ToCustomString())
                                }

                            </span>


                            @*@Html.DropDownListFor(m => m.Condition.ProblemType, from DataLayer.ProblrmType option in Enum.GetValues(typeof(DataLayer.ProblrmType))
                    select new SelectListItem() { Text = option.ToCustomString(), Value = Convert.ToInt32((option)).ToString() }, new { @class = "applitextfield1" })*@ , medium or a little bit?
                            <span style="width:200px; margin:0 10px 0 10px; padding-top:11px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @if (Model.Condition.ProblemStrength != 0 && Model.Condition.ProblemStrength != null)
                                {
                                    @(((ProblemStrength)Enum.ToObject(typeof(ProblemStrength), (Convert.ToInt32(Model.Condition.ProblemStrength)))).ToCustomString())
                                }


                                @*@(((ProblemStrength)Enum.ToObject(typeof(ProblemStrength), (Convert.ToInt32(Model.Condition.ProblemStrength)))).ToCustomString())*@
                            </span>
                            @*@Html.DropDownListFor(m => m.Condition.ProblemStrength, from DataLayer.ProblemStrength option in Enum.GetValues(typeof(DataLayer.ProblemStrength))
                    select new SelectListItem() { Text = option.ToCustomString(), Value = Convert.ToInt32((option)).ToString() }, new { @class = "applitextfield1" })*@
                        </td>
                    </tr>
                </table>

            </div>
            
            <div style="padding:12px 0;">
                <table width="100%" border="0" style="padding-bottom:20px;">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px; padding-top: 10px; ">(A14)</td>
                        <td width="94%" valign="top">
                            I’m sorry to hear you’re experiencing so much <span style="width:200px; margin:0 10px 0 10px; padding-top:11px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @(((ProblrmType)Enum.ToObject(typeof(ProblrmType), (Convert.ToInt32(Model.Condition.ProblemType)))).ToCustomString())

                                @*@Html.DisplayFor(m => m.Condition.ProblemType, new { @class = "applitextfield1" })*@
                            </span> We’ll try to get you in as
                            soon as possible. Are you seeking in home care or would you be coming to us? <span class="p_left15">
                                <br /><label class="radio-inline">
                                    @Html.RadioButtonFor(m => m.Condition.SeekingCareType, ((Convert.ToInt16(SeekingCareType.Home_Care)) + 1).ToString(), new { @class = "radioCare" }) HomeCare
                                </label>
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(m => m.Condition.SeekingCareType, ((Convert.ToInt16(SeekingCareType.Walk_In)) + 1).ToString(), new { @class = "radioCare" }) Out Patient
                                </label>
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
@if (Model.Condition.SeekingCareType == ((Convert.ToInt32(SeekingCareType.Walk_In))+1))
{
            <div style="padding:100px 0;" >
                <table width="100%" border="0" style="padding-bottom:20px;">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(A13)</td>
                        <td width="94%" valign="top">
                            Which office is most convenient? SW State Road 200 in Ocala, SE 17th Street in Ocala, Belleview, or The Villages?<br>
                            First Choice

                            @* @Html.DropDownListFor(m => m.Condition.ConvenientLocation1, (IEnumerable<SelectListItem>)ViewBag.ConvenientLocation1, new { @Style="background:none; border:none; margin:7px 15px 0 0; border-bottom:1px solid #ccc; width:234px;"})*@

                            <span style="width:200px; margin:0 10px 0 10px; padding-top:20px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.Display("ConvenientLocation1", new { @class = "applitextfield1", @value = @ViewBag.ConvenientLocation1 })
                            </span>
                            @*@Html.DropDownList("ConvenientLocation1", null, new { @class = "applitextfield1" });*@
                            @*<input type="text" class="applitextfield1">*@ Second Choice
                            @*@Html.DropDownListFor(m => m.Condition.ConvenientLocation2, (IEnumerable<SelectListItem>)ViewBag.ConvenientLocation2, new { @Style="background:none; border:none; margin:12px 15px 0 0; border-bottom:1px solid #ccc; width:234px;"})*@
                            <span style="width:200px; margin:0 10px 0 10px; padding-top:20px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.Display("ConvenientLocation2", new { @class = "applitextfield1", @value = @ViewBag.ConvenientLocation1 })
                            </span>

                            @*<input type="text" class="applitextfield1">*@
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0" style="padding-bottom:20px;">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px; ">(A14)</td>
                        <td width="94%" valign="top">
                            Have you been here before? <strong>
                                <span class="p_left15">
                                    @Html.RadioButtonFor(m => m.Condition.IsSeenHereBefore, Convert.ToInt16(YesNo.Yes).ToString()) Yes
                                    @Html.RadioButtonFor(m => m.Condition.IsSeenHereBefore, Convert.ToInt16(YesNo.No).ToString()) No
                                </span>
                            </strong>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0" style="padding-bottom:20px;">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;padding-top:10px">(A15)</td>
                        <td width="94%" valign="top">
                            What day of the week works best for you?
                            <span style="width:200px; margin:0 10px 0 10px; padding-top:11px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @(((SuitedDayOfWeek)Enum.ToObject(typeof(SuitedDayOfWeek), (Convert.ToInt32(Model.Condition.SuitedWeekDay)))).ToCustomString())
                            </span>
                            @*@Html.DropDownListFor(m => m.Condition.SuitedWeekDay, from DataLayer.SuitedDayOfWeek option in Enum.GetValues(typeof(DataLayer.SuitedDayOfWeek)))*@
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0" style="padding-bottom:20px;">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px; ">(A16)</td>
                        <td width="94%" valign="top">
                            And are mornings or afternoons better? <strong>
                                <span class="p_left15">

                                    @Html.RadioButtonFor(m => m.Condition.SuitedDayTime, Convert.ToInt16(DaySessionTime.Morning).ToString()) Mornings
                                    @Html.RadioButtonFor(m => m.Condition.SuitedDayTime, Convert.ToInt16(DaySessionTime.Afternoon).ToString()) Afternoons
                                    @Html.RadioButtonFor(m => m.Condition.SuitedDayTime, Convert.ToInt16(DaySessionTime.Anytime).ToString()) Anytime

                                </span>
                            </strong>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0" style="padding-bottom:20px;">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(A17)</td>
                        <td width="94%" valign="top">
                            Are you looking to get in as soon as possible or can you wait a few days? <strong>
                                <br /><span class="p_left15">
                                    @Html.RadioButtonFor(m => m.Condition.CanWaitUpto, Convert.ToInt16(CanWaitUpto.Urgent).ToString()) Urgent
                                    @Html.RadioButtonFor(m => m.Condition.CanWaitUpto, Convert.ToInt16(CanWaitUpto.Can_Wait_a_Week).ToString()) Can Wait a Week
                                    @Html.RadioButtonFor(m => m.Condition.CanWaitUpto, Convert.ToInt16(CanWaitUpto.Can_Wait_a_Month).ToString()) Can Wait a Month
                                </span>
                            </strong>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0" style="padding-bottom:20px;">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right:8px">(A18)</td>
                        <td width="94%" valign="top">
                            Okay, let me go ahead and check to see exactly what times we have available and I’ll be right back, okay? <strong>(Hold)</strong>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0" style="padding-bottom:20px;">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px">(A19)</td>
                        <td width="94%" valign="top">
                            Hi
                            <span style="width:200px; margin:0 10px 0 10px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.Patient.FirstName, new { @class = "applitextfield1" })
                            </span> are you still there? Great News! We have two appointments available on
                            <strong>
                                <span style="width:200px; margin:0 10px 0 10px; padding-top:11px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                    @(((SuitedDayOfWeek)Enum.ToObject(typeof(SuitedDayOfWeek), (Convert.ToInt32(Model.Condition.SuitedWeekDay)))).ToCustomString())
                                </span>
                                @*(day of week)*@
                            </strong>, one at <strong>(time #1)</strong> and one at <strong>(time #2)</strong>. Which one do you prefer?
                            <span style="width:200px; margin:0 10px 0 10px; padding-top:11px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.Condition.ScheduledDateTime, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0" style="padding-bottom:20px;">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(A20)</td>
                        <td width="94%" valign="top">
                            Okay, I’m going to go ahead and put you down for
                            <span style="width: 200px; margin: 0 10px 0 10px; display:inline-block; border-bottom: 1px solid #ccc; border-left: none; border-right: none; border-top: none;">
                                @Html.DisplayFor(m => m.Condition.ScheduledDateTime, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0" style="padding-bottom:20px;">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px">(A21)</td>
                        <td width="94%" valign="top">
                            Now I’m going to reserve this spot for you, so if for any reason you might have to cancel or reschedule, call us at
                            least 48 hours in advance to let us know, okay?
                        </td>
                    </tr>
                </table>

            </div>
            }

@if (Model.Condition.SeekingCareType == ((Convert.ToInt32(SeekingCareType.Home_Care))+1))
{
            
            <div style="padding:200px 0 20px 0; text-align:center; font-size:25px;"><strong>B. FOR HOME HEALTHCARE ONLY</strong></div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(B1)</td>
                        <td width="94%" valign="top">
                            Okay, what city do you live in?
                            <span style="width:200px; margin:0 10px 0 10px;  display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.Patient.City)
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(B2)</td>
                        <td width="94%" valign="top">
                            Is it difficult for you to leave your home? <strong>
                                <span class="p_left15">

        @Html.RadioButtonFor(m => m.Condition.IsDifficultToLeaveHome, Convert.ToInt16(YesNo.Yes).ToString()) Yes
        @Html.RadioButtonFor(m => m.Condition.IsDifficultToLeaveHome, Convert.ToInt16(YesNo.No).ToString()) No
   
                                        </span>
                            </strong>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(B3)</td>
                        <td width="94%" valign="top">
                            Do you use a cane, walker or wheelchair?
                           
                                    @Html.RadioButtonFor(m => m.Condition.WalkerType, Convert.ToInt16(WalkerType.cane).ToString()) Cane
                                    @Html.RadioButtonFor(m => m.Condition.WalkerType, Convert.ToInt16(WalkerType.walker).ToString()) Walker
                                    @Html.RadioButtonFor(m => m.Condition.WalkerType, Convert.ToInt16(WalkerType.wheelchair).ToString()) Wheelchair
                                    @Html.RadioButtonFor(m => m.Condition.WalkerType, Convert.ToInt16(WalkerType.None).ToString()) None
          
                               @*<input type="text" style="width:230px; margin:0 10px 8px 10px; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">*@
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(B4)</td>
                        <td width="94%" valign="top">
                            How often do you leave the house for social functions?
                            <span style="width:200px; margin:0 10px 0 10px;  display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.Condition.FrequencyOfLeavingHome, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(B5)</td>
                        <td width="94%" valign="top">
                            And do you drive or does someone take you?

    <div>
        @Html.RadioButtonFor(m => m.Condition.IsDriveByOwn, (Convert.ToInt16(IsDriveType.Drive_By_Own) + 1).ToString()) Drive By Myself
        @Html.RadioButtonFor(m => m.Condition.IsDriveByOwn, (Convert.ToInt16(IsDriveType.Drive_By_Someone) + 1).ToString()) Drive By Someone

    </div>


                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(B6)</td>
                        <td width="94%" valign="top">
                            Do you need the help of another person to safely leave your home?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>
                                <span class="p_left15">
                                    @Html.RadioButtonFor(m => m.Condition.NeedHelpOfOtherPerson, Convert.ToInt16(NeedHelpOfOtherPerson.Yes).ToString())Yes
                                    @Html.RadioButtonFor(m => m.Condition.NeedHelpOfOtherPerson, Convert.ToInt16(NeedHelpOfOtherPerson.No).ToString())No
                                    @Html.RadioButtonFor(m => m.Condition.NeedHelpOfOtherPerson, Convert.ToInt16(NeedHelpOfOtherPerson.Some_Times).ToCustomString())Sometimes
                                </span>
                            </strong>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(B7)</td>
                        <td width="94%" valign="top">
                            <strong>
                                <span class="p_left15">
                                    @Html.RadioButtonFor(m => m.Condition.IsEligible, (Convert.ToInt16(IsEligable.Eligible_for_HomeCare) + 1).ToString(), new { @class = "Eligibility" }) Eligible for HomeCare
                                    @Html.RadioButtonFor(m => m.Condition.IsEligible, (Convert.ToInt16(IsEligable.Not_Eligible) + 1).ToString(), new { @class = "Eligibility" }) Or Not Eligible
                                </span>
                            </strong> It sounds like you may be better suited for treatment in our outpatient clinic.
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(B8)</td>
                        <td width="94%" valign="top"><strong>ELIGIBLE: </strong>Okay, it sounds like you may be eligable for home care.</td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(B9)</td>
                        <td width="94%" valign="top">
                            Do you have medical insurance?&nbsp;&nbsp;<strong>
                                <span class="p_left15">
                                    @Html.RadioButtonFor(m => m.Condition.IsInsuranceDone, Convert.ToInt16(YesNo.Yes).ToString()) Yes
                                    @Html.RadioButtonFor(m => m.Condition.IsInsuranceDone, Convert.ToInt16(YesNo.No).ToString()) No
                                </span>
                            </strong>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(B10)</td>
                        <td width="94%" valign="top">
                            Okay, what type of insurance do you have?
                            <span style="width:200px; margin:0 10px 0 10px;  display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.HomeCareInsurances[0].Name, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(B11)</td>
                        <td width="94%" valign="top">
                            Do you have your card handy? May I have the policy number?
                            <span style="width:200px; margin:0 10px 0 10px;  display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.HomeCareInsurances[0].PolicyNumber, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(B12)</td>
                        <td width="94%" valign="top">
                            And is there a group number?
                            <span style="width:200px; margin:0 10px 0 10px;  display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.HomeCareInsurances[0].GroupNumber, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(B13)</td>
                        <td width="94%" valign="top">
                            Thank you for this information. I’m going to have our home care specialist call you back as soon as she can to set up
                            all of your services. Does that work okay for you? Great! Thank you for calling and have a wonderful day.
                        </td>
                    </tr>
                </table>

            </div>
    
}
            <div style="padding:10px; background:#f0f0f0; margin:10px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="94%" valign="top">
                            Now how do you intend to pay for your services?
                            @if (Convert.ToInt32(Model.Condition.PaymentType) != null && Convert.ToInt32(Model.Condition.PaymentType)!=0)
                            {
                            <span style="width:200px; margin:0 10px 0 10px; padding-top:11px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @(((PatientPaymentOption)Enum.ToObject(typeof(PatientPaymentOption), (Convert.ToInt32(Model.Condition.PaymentType)))).ToCustomString())
                            </span>
                            }
                            @*@Html.DropDownListFor(Model => Model.Condition.PaymentType, from DataLayer.PatientPaymentOption option in Enum.GetValues(typeof(DataLayer.PatientPaymentOption))
                                select new SelectListItem() { Text = option.ToCustomString(), Value = Convert.ToInt32((option)).ToString() })*@
                            @*Okay, and what type of insurance do you have?
                            <span style="width:200px; margin:0 10px 0 10px; padding-top:11px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.Insurances[0].InsuranceType, new { @class = "applitextfield1" })
                            </span>*@



                        </td>
                    </tr>
                </table>

            </div>


@if (Model.Condition.PaymentType == Convert.ToInt32(PatientPaymentOption.In_Network_Commercial_Insurance))
            {
            <div style="padding:25px 0 20px 0; text-align:center; font-size:18px;"><strong>C. IN-NETWORK COMMERCIAL INSURANCE / MEDICARE REPLACEMENT PLAN</strong></div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(C1)</td>
                        <td width="94%" valign="top">Okay, do you have your card handy? <strong>(IF NOT, THEY WILL NEED TO CALL BACK WHEN IT’S AVAILABLE.)</strong></td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(C2)</td>
                        <td width="94%" valign="top">
                            May I have the policy number?
                            <span style="width:200px; margin:0 10px 0 10px;  display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.InNetworkInsurances[0].PolicyNumber, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(C3)</td>
                        <td width="94%" valign="top">
                            And is there a group number?
                            <span style="width:200px; margin:0 10px 0 10px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.InNetworkInsurances[0].GroupNumber, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(C4)</td>
                        <td width="94%" valign="top">
                            May I have the name of the policy holder?
                            <span style="width:200px; margin:0 10px 0 10px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">

                                @Html.DisplayFor(m => m.InNetworkInsurances[0].HolderName, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(C5)</td>
                        <td width="94%" valign="top">
                            And may I have the policy holder’s date of birth?
                            <span style="width:200px; margin:0 10px 0 10px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">

                                @Html.DisplayFor(m => m.InNetworkInsurances[0].HolderDOB, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(C6)</td>
                        <td width="94%" valign="top">
                            Can you turn that card over and give me the phone number listed for Provider Service?
                            <span style="width:200px; margin:0 10px 0 10px; padding-top:11px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.InNetworkInsurances[0].ServiceProviderPhone, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style=" padding: 20px; background: #ddd; margin: 15px 0; font-size: 15px; line-height: 26px;">
                <strong>Office Use:</strong><span style="padding:0 15px 0 0;">
                    Authorization for evaluation required? <strong>
                        <span class="p_left15">
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.InNetworkInsurances[0].IsAuthRequired, Convert.ToInt16(YesNo.Yes).ToString()) Yes</label>
                            <label class="radio-inline">@Html.RadioButtonFor(m => m.InNetworkInsurances[0].IsAuthRequired, Convert.ToInt16(YesNo.No).ToString()) No</label> <br />
                    </strong>
                </span> Authorization for treatment required? <strong>
                    <span class="p_left15">
                        <label class="radio-inline">@Html.RadioButtonFor(m => m.InNetworkInsurances[0].IsAuthRequiredForTreatment, Convert.ToInt16(YesNo.Yes).ToString()) Yes</label>
                        <label class="radio-inline">@Html.RadioButtonFor(m => m.InNetworkInsurances[0].IsAuthRequiredForTreatment, Convert.ToInt16(YesNo.No).ToString()) No</label>
                    </span>
                </strong>
            </div>
            <div style="padding:12px 0">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(C7)</td>
                        <td width="94%" valign="top">Okay, this is what I’d like for you to do. Do you see the 1-800 number on the card?</td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(C8)</td>
                        <td width="94%" valign="top">I want you to give them a call and then get three pieces of information to bring in. Do you have a pen handy?</td>
                    </tr>
                </table>

            </div>
          
            <div style="height:25px">&nbsp;</div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(C9)</td>
                        <td width="94%" valign="top">
                            I’d like you to ask them for three things: your deductible, coinsurance, and any maximums for outpatient physical
                            therapy treatment. Just bring those three pieces of information with you and also make sure to bring your insurance
                            card and government-issued photo identification. If for any reason you feel that your deductible or coinsurance is too
                            high, don’t worry, we have special programs available to help with those situations and to make it affordable for you.
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:15px 0; text-align:center;">
                <strong>
                    ANSWER TO ‘HOW MUCH WILL IT BE?’: ANYWHERE BETWEEN $5 AND $60 PER VISIT DEPENDING ON YOUR
                    INSURANCE AND MOST OF OUR PATIENTS GET BETTER WITHIN 8 VISITS.
                </strong>
            </div>
}
    
            @if (Model.Condition.PaymentType == Convert.ToInt32(PatientPaymentOption.Medicare))
            {
                <div style="padding:25px 0 20px 0; text-align:center; font-size:18px;"><strong>D. MEDICARE</strong></div>
                <div style="padding:3px 0;">
                    <table width="100%" border="0">
                        <tr>
                            <td width="6%" style="text-align:center; color:#000; font-weight:bold; vertical-align:top;">(D1)</td>
                            <td width="94%" valign="top">Okay, do you have your card handy? <strong>(IF NOT, THEY WILL NEED TO CALL BACK WHEN IT’S AVAILABLE.)</strong></td>
                        </tr>
                    </table>

                </div>
                <div style="padding:12px 0;">
                    <table width="100%" border="0">
                        <tr>
                            <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(D2)</td>
                            <td width="94%" valign="top">
                                May I have the policy number?
                                <span style="width:200px; margin:0 10px 0 10px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">

                                    @Html.DisplayFor(m => m.MedicareInsurances[0].PolicyNumber, new { @class = "applitextfield1" })
                                </span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div style="padding:12px 0;">
                    <table width="100%" border="0">
                        <tr>
                            <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(D3)</td>
                            <td width="94%" valign="top">
                                And is there a group number?
                                <span style="width:200px; margin:0 10px 0 10px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                    @Html.DisplayFor(m => m.MedicareInsurances[0].GroupNumber, new { @class = "applitextfield1" })
                                </span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div style="padding:12px 0;">
                    <table width="100%" border="0">
                        <tr>
                            <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(D4)</td>
                            <td width="94%" valign="top">
                                May I have the name of the policy holder?
                                <span style="width:200px; margin:0 10px 0 10px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                    @Html.DisplayFor(m => m.MedicareInsurances[0].HolderName, new { @class = "applitextfield1" })
                                </span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div style="padding:12px 0;">
                    <table width="100%" border="0">
                        <tr>
                            <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(D5)</td>
                            <td width="94%" valign="top">
                                And may I have the policy holder’s date of birth?
                                <span style="width:200px; margin:0 10px 0 10px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                    @Html.DisplayFor(m => m.MedicareInsurances[0].HolderDOB, new { @class = "applitextfield1" })
                                </span>
                            </td>
                        </tr>
                    </table>

                </div>
              
                <div style="padding:12px 0;">
                    <table width="100%" border="0">
                        <tr>
                            <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(D6)</td>
                            <td width="94%" valign="top">
                                Okay and do you have a secondary or Medigap policy as well?<strong>
                             @*@if(Model.MedicareInsurances.Count== 1)
                               {*@
                                    <span class="p_left15">
                                        <label class="radio-inline">
                                            <input name="optradio" type="radio">Yes
                                        </label> 
                                        <label class="radio-inline">
                                                     <input name="optradio" type="radio" checked="checked">No
                                            @*@Html.RadioButtonFor(m => m.Insurances[0].IsAuthRequiredForTreatment, Convert.ToInt16(YesNo.No).ToString())No*@
                                        </label>
                                    </span>
                             @*}*@
                               @*else if (Model.MedicareInsurances.Count > 1)
                                      {*@
                                        <span class="p_left15">
                                         <label class="radio-inline">
                                             <input name="optradio" type="radio" checked="checked">Yes
                                               </label>
                                               <label class="radio-inline">
                                       <input name="optradio" type="radio" >No
                                            @*@Html.RadioButtonFor(m => m.Insurances[0].IsAuthRequiredForTreatment, Convert.ToInt16(YesNo.No).ToString())No*@
                                        </label>
                                         </span>
                                           @*}*@
                                </strong>
                            </td>
                        </tr>
                    </table>

                </div>
                
                if(Model.MedicareInsurances.Count>1)
                { 
                <div style="padding:12px 0;">
                    <table width="100%" border="0">
                        <tr>
                            <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(D7)</td>
                            <td width="94%" valign="top">
                                And what is the name of that policy?
                                <span style="width:200px; margin:0 10px 0 10px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                    @Html.DisplayFor(m => m.MedicareInsurances[1].Name, new { @class = "applitextfield1" })
                                </span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div style="padding:12px 0;">
                    <table width="100%" border="0">
                        <tr>
                            <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(D8)</td>
                            <td width="94%" valign="top">
                                May I have the policy number?
                                <span style="width:200px; margin:0 10px 0 10px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                    @Html.DisplayFor(m => m.MedicareInsurances[1].PolicyNumber, new { @class = "applitextfield1" })
                                </span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div style="padding:12px 0;">
                    <table width="100%" border="0">
                        <tr>
                            <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(D9)</td>
                            <td width="94%" valign="top">
                                And is there a group number?
                                <span style="width:200px; margin:0 10px 0 10px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                    @Html.DisplayFor(m => m.MedicareInsurances[1].GroupNumber, new { @class = "applitextfield1" })
                                </span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div style="padding:12px 0;">
                    <table width="100%" border="0">
                        <tr>
                            <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(D10)</td>
                            <td width="94%" valign="top">
                                May I have the name of the policy holder?
                                <span style="width:200px; margin:0 10px 0 10px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">

                                    @Html.DisplayFor(m => m.MedicareInsurances[1].HolderName, new { @class = "applitextfield1" })
                                </span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div style="padding:12px 0;">
                    <table width="100%" border="0">
                        <tr>
                            <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(D11)</td>
                            <td width="94%" valign="top">
                                And may I have the policy holder’s date of birth?
                                <span style="width:200px; margin:0 10px 0 10px;  display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                    @Html.DisplayFor(m => m.MedicareInsurances[1].HolderDOB, new { @class = "applitextfield1" })
                                </span>
                            </td>
                        </tr>
                    </table>

                </div>
              }
                <div style="padding:12px 0;">
                    <table width="100%" border="0">
                        <tr>
                            <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(D12)</td>
                            <td width="94%" valign="top">
                                Have you received any physical therapy treatment this year? &nbsp;<strong>
                                    <span class="p_left15">
                                        @Html.RadioButtonFor(m => m.Condition.Is_PhysicalTherephyBefore, Convert.ToInt16(YesNo.Yes).ToString()) Yes
                                        @Html.RadioButtonFor(m => m.Condition.Is_PhysicalTherephyBefore, Convert.ToInt16(YesNo.No).ToString()) No
                                    </span>
                                </strong>
                            </td>
                        </tr>
                    </table>

                </div>
                <div style="padding:12px 0;">
                    <table width="100%" border="0">
                        <tr>
                            <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(D13)</td>
                            <td width="94%" valign="top">
                                And are you currently being seen by a home health agency? &nbsp;&nbsp;<strong>
                                    <span class="p_left15">
                                        @Html.RadioButtonFor(m => m.Condition.IsSeenByHomeHealthAgency, Convert.ToInt16(YesNo.Yes).ToString()) Yes
                                        @Html.RadioButtonFor(m => m.Condition.IsSeenByHomeHealthAgency, Convert.ToInt16(YesNo.No).ToString()) No
                                    </span>
                                </strong>
                            </td>
                        </tr>
                    </table>

                </div>
            }

            @if (Model.Condition.PaymentType == Convert.ToInt32(PatientPaymentOption.Workers_Compensation))
            {
            <div style="padding:25px 0 20px 0; text-align:center; font-size:18px;"><strong>E. WORKERS COMPENSATION CLAIM</strong></div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align:center; color:#000; font-weight:bold; vertical-align:top;">(E1)</td>
                        <td width="94%" valign="top">
                            What is your employer’s name?
                            <span style="width:200px; margin:0 10px 0 10px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.Patient.Employer_Name, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:3px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(E2)</td>
                        <td width="94%" valign="top">
                            And what is the phone number there?
                            <span style="width:200px; margin:0 10px 0 10px;  display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.Patient.Employer_Phone, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(E3)</td>
                        <td width="94%" valign="top">
                            What is your adjuster’s name?
                            <span style="width:200px; margin:0 10px 0 10px;  display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.Condition.Insurance_Adjustor_Name, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(E4)</td>
                        <td width="94%" valign="top">
                            And what is his or her phone number?
                            <span style="width:200px; margin:0 10px 0 10px;  display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.Condition.Insurance_Adjustor_Phone, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            }
            
@if (Model.Condition.PaymentType == Convert.ToInt32(PatientPaymentOption.Auto_Accident_Or_Attorney_Lien))
            {
            <div style="height:25px">&nbsp;</div>
            <div style="padding:25px 0 20px 0; text-align:center; font-size:18px;"><strong>F. AUTO ACCIDENT / ATTORNEY LIEN CASE</strong></div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(F1)</td>
                        <td width="94%" valign="top">
                            Whose fault was the accident?
                            <span style="width:200px; margin:0 10px 0 10px;  display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.Condition.WhoseFaultAccident, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(F2)</td>
                        <td width="94%" valign="top">
                            And what is the name of the auto insurance for the at-fault party?
                            <span style="width:200px; margin:0 10px 0 10px;  display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.Condition.NameOfAutoInsurance, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(F3)</td>
                        <td width="94%" valign="top">
                            Do you have a contact number for that insurance company?
                            <span style="width:200px; margin:0 10px 0 10px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.Condition.AutoInsurancePhone, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(F4)</td>
                        <td width="94%" valign="top">
                            And may I have the claim number?
                            <span style="width:200px; margin:0 10px 0 10px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.Condition.AutoInsuranceClaimNo, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(F5)</td>
                        <td width="94%" valign="top">
                            What is your attorney’s name?
                            <span style="width:200px; margin:0 10px 0 10px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.Condition.Attorney_Name, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
}

@if (Model.Condition.PaymentType == Convert.ToInt32(PatientPaymentOption.Personal_Injury))
            {
            <div style="padding:25px 0 20px 0; text-align:center; font-size:18px;"><strong>G. PERSONAL INJURY (I.E. SLIP AND FALL IN A STORE)</strong></div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(G1)</td>
                        <td width="94%" valign="top">
                            May I have the date of the injury?
                            <span style="width:200px; margin:0 10px 0 10px;  display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.Condition.Date_Of_Accident, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(G2)</td>
                        <td width="94%" valign="top">
                            And who is the company contact person?
                            <span style="width:200px; margin:0 10px 0 10px;  display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.Condition.StoreContactPerson, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(G3)</td>
                        <td width="94%" valign="top">
                            Do you have their phone number
                            <span style="width:200px; margin:0 10px 0 10px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.Condition.StorePhoneNo, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
}

@if (Model.Condition.PaymentType == Convert.ToInt32(PatientPaymentOption.HMO))
            {
            <div style="padding:25px 0 20px 0; text-align:center; font-size:18px;"><strong>H. HMO (OUT-OF-NETWORK)</strong></div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(H1)</td>
                        <td width="94%" valign="top">
                            Okay, since you have an HMO, you have two options available to you at this time: the first option is you can submit
                            a request to your HMO to be seen here by us and we can help you submit that request; do you know how to do that?
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(H2)</td>
                        <td width="94%" valign="top">Or option number two is that you can take advantage of our special program for HMO members who want to opt out.</td>
                    </tr>
                </table>

            </div>

}

@if (Model.Condition.PaymentType == Convert.ToInt32(PatientPaymentOption.Out_of_Network_Commercial_Insurance))
            {
            <div style="padding:25px 0 20px 0; text-align:center; font-size:18px;"><strong>I. OUT-OF-NETWORK COMMERCIAL INSURANCE</strong></div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(I1)</td>
                        <td width="94%" valign="top">Okay, do you have your card handy? <strong>(IF NOT, THEY WILL NEED TO CALL BACK WHEN IT’S AVAILABLE.)</strong></td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(I2)</td>
                        <td width="94%" valign="top">
                            May I have the policy number?
                            <span style="width:200px; margin:0 10px 0 10px;  display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.OutNetworkInsurances[0].PolicyNumber, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(I3)</td>
                        <td width="94%" valign="top">
                            And is there a group number?
                            <span style="width:200px; margin:0 10px 0 10px;  display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.OutNetworkInsurances[0].GroupNumber, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(I4)</td>
                        <td width="94%" valign="top">
                            May I have the name of the policy holder?
                            <span style="width:200px; margin:0 10px 0 10px;  display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.OutNetworkInsurances[0].HolderName, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(I5)</td>
                        <td width="94%" valign="top">
                            And may I have the policy holder’s date of birth?
                            <span style="width:200px; margin:0 10px 0 10px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.OutNetworkInsurances[0].HolderDOB, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(I6)</td>
                        <td width="94%" valign="top">
                            Can you turn that card over and give me the phone number listed for Provider Service?
                            <span style="width:200px; margin:0 10px 0 10px; padding-top:11px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.OutNetworkInsurances[0].ServiceProviderPhone, new { @class = "applitextfield1" })
                            </span>
                        </td>
                    </tr>
                </table>

            </div>
            <div style="height:25px">&nbsp;</div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(I7)</td>
                        <td width="94%" valign="top">
                            Do you know if you’ve met your deductible?&nbsp;<strong>
                                <span class="p_left15">
                                    @Html.RadioButtonFor(m => m.OutNetworkInsurances[0].Deductible, Convert.ToInt16(YesNo.Yes).ToString()) Yes
                                    @Html.RadioButtonFor(m => m.OutNetworkInsurances[0].Deductible, Convert.ToInt16(YesNo.No).ToString()) No
                                    @Html.RadioButtonFor(m => m.OutNetworkInsurances[0].Deductible, Convert.ToInt16(YesNo.NoOption).ToString()) No Not Sure
                                </span>
                            </strong>
                        </td>
                    </tr>
                </table>

            </div>

            <div style="padding:8px; text-align:center;"><strong>HANG UP / CALL TO CHECK PATIENT BENEFITS. WHEN YOU CALL THE PATIENT BACK WITH INFORMATION:</strong></div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(I8)</td>
                        <td width="94%" valign="top">
                            <strong>For members with unmet in-network deductibles:</strong> ‘You have two options; you can go to an in-network provider
                            and pay $ (in-network deductible amount >$499) or you can come to us and we can see you for only $499.’
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(I9)</td>
                        <td width="94%" valign="top">
                            For members with a deductible that has been met: “You can go in-network and pay a
                            <span style="width:200px; margin:0 10px 0 10px; padding-top:11px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.OutNetworkInsurances[0].CoInsurance, new { @class = "applitextfield1" })
                            </span> % co-insurance or you can come to us out of network and pay a little bit more at
                            <span style="width:200px; margin:0 10px 0 10px; padding-top:11px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @Html.DisplayFor(m => m.OutNetworkInsurances[0].CoPay, new { @class = "applitextfield1" })
                            </span> %
                        </td>
                    </tr>
                </table>

            </div>
}

            <div style="padding:10px 0 20px 0; text-align:center; font-size:25px;"><strong>J. ADVANCED PHYSICAL THERAPY & QUICK CARE PATIENTS HEAR ‘APPLE’</strong></div>
            <div style="padding:1px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(J1)</td>
                        <td width="94%" valign="top">
                            <strong>(Attire) </strong>Since it is your (body part) I’d like for you to wear (tank top/shorts/loose clothing) so its easier for you to
                            participate in your exam. We do have gowns available but they’re not quite as comfortable as your own clothes.
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:1px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 9px;">(J2)</td>
                        <td width="94%" valign="top">
                            <strong>(Paperwork Via Email)</strong> Would you like me to email you the paperwork?&nbsp;&nbsp; <strong>
                                <span class="p_left15">
                                    @Html.RadioButtonFor(m => m.Condition.IsPaperworkViaEmail, Convert.ToInt16(YesNo.Yes).ToString()) Yes
                                    @Html.RadioButtonFor(m => m.Condition.IsPaperworkViaEmail, Convert.ToInt16(YesNo.No).ToString()) No
                                </span>
                            </strong>
                            <div style="padding-top:8px;">
                                What is your email address?
                                <span style="width:200px; margin:0 10px 0 10px; padding-top:11px; display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                    @Html.DisplayFor(m => m.PatientUser.Email, new { @class = "applitextfield1" })
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
           
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(J3)</td>
                        <td width="94%" valign="top">
                            <strong>(Payment)</strong> Also remember to bring some form of payment like check, card, or cash. If for any reason you feel like
                            your deductible or co-insurance is too high, don’t worry; we have programs available for that.
                        </td>
                    </tr>
                </table>

            </div>
           
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(J4)</td>
                        <td width="94%" valign="top"><strong>(Late)</strong> Also, don’t be late; we have a pretty strict late policy and we’ll have to reschedule if you are late.</td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(J5)</td>
                        <td width="94%" valign="top">
                            <strong>(Early) </strong>Also, since you are using insurance and there’s paperwork involved, come 20 minutes early before your
                            appointment; that way we can take care of all those things.
                        </td>
                    </tr>
                </table>

            </div>
            <div style="padding:12px 0;">
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" style="text-align: center; color: #000; font-weight: bold; vertical-align: top; padding-right: 8px;">(J6)</td>
                        <td width="94%" valign="top">
                            So we’ll see you on
                            <span style="width:200px; margin:0 10px 0 10px;  display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">

                                @Html.DisplayFor(m => m.Condition.ScheduledDateTime, new { @class = "applitextfield1" })
                            </span>
                            Okay
                            <span style="width:200px; margin:0 10px 0 10px;  display:inline-block; border-bottom:1px solid #ccc; border-left:none; border-right:none; border-top:none;">
                                @(Model.Patient.FirstName + " " + Model.Patient.LastName)
                            </span>;
                            <div style="padding-top:5px;">it was nice talking to you and we look forward to seeing you soon. Have a wonderful day!    </div>
                        </td>
                    </tr>
                </table>

            </div>



        </div>


    }
    








</body>
</html>

