@model PagedList.IPagedList<DataLayer.Models.tblMUser>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}


<section class="bodyinner2">
    <div>
        <p class="pull-right">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
        </p>
        @using (Html.BeginForm("Index", "User", FormMethod.Get))
        {

            <div class="searchsec">

                @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Search by User Name,Name" })
                <button><i class="fa fa-search" aria-hidden="true"></i></button>
                <div class="clearfix"></div>
            </div>
        }
        <div class="clearfix"></div>
    </div>








    @*<div>
        <p class="pull-right">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
        </p>
        @using (Html.BeginForm("Index", "User", FormMethod.Get))
        {
            <div class="searchsec">
                @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Search here ..." })
                <button><i class="fa fa-search" aria-hidden="true"></i></button>
                <div class="clearfix"></div>
            </div>
        }
       
        <div class="clearfix"></div>
    </div>*@
    <div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                
                <thead>
                    <tr>

                        <th>
                            @{ var classname = "botharrow";}
                            @if ((ViewBag.CurrentSort == "UserName" && ((ViewBag.SortDirection == true || ViewBag.SortDirection == null) && ViewBag.PageLoad != null)))
                            {
                                classname = "bottarrow";
                            }
                            else if ((ViewBag.CurrentSort == "UserName" && ViewBag.SortDirection == false))
                            {
                                classname = "toparrow";
                            }
                            @Html.ActionLink("User Name", "Index", new { sortOrder = "UserName", CurrentSort = ViewBag.CurrentSort, searchString = ViewBag.CurrentFilter, IsAsc = ViewBag.SortDirection }, new { @class = "SortHeader " + classname })

                        </th>
                        <th>
                            @{ var classname1 = "botharrow";}
                            @if ((ViewBag.CurrentSort == "Name" && ((ViewBag.SortDirection == true || ViewBag.SortDirection == null) && ViewBag.PageLoad != null)))
                            {
                                classname1 = "bottarrow";
                            }
                            else if ((ViewBag.CurrentSort == "Name" && ViewBag.SortDirection == false))
                            {
                                classname1 = "toparrow";
                            }
                            @Html.ActionLink("Name", "Index", new { sortOrder = "Name", CurrentSort = ViewBag.CurrentSort, searchString = ViewBag.CurrentFilter, IsAsc = ViewBag.SortDirection }, new { @class = "SortHeader " + classname1 })
                            @*@Html.Label("Page Number")*@

                        </th>
                        <th>
                            @Html.DisplayName("MobNo")
                        </th>
                        <th style="display:none;">
                            @Html.DisplayName("CreatedOn")
                        </th>
                        <th>
                            @Html.Label("Last Login On")
                        </th>
                        <th>
                            @{ var classname2 = "botharrow";}
                            @if ((ViewBag.CurrentSort == "UserRole" && ((ViewBag.SortDirection == true || ViewBag.SortDirection == null) && ViewBag.PageLoad != null)))
                            {
                                classname2 = "bottarrow";
                            }
                            else if ((ViewBag.CurrentSort == "UserRole" && ViewBag.SortDirection == false))
                            {
                                classname2 = "toparrow";
                            }
                            @Html.ActionLink("User Role", "Index", new { sortOrder = "UserRole", CurrentSort = ViewBag.CurrentSort, searchString = ViewBag.CurrentFilter, IsAsc = ViewBag.SortDirection }, new { @class = "SortHeader " + classname2 })
                            @*@Html.Label("Page Number")*@

                        </th>
                        <th></th>
                    </tr>

                </thead>


                    @*<thead>
                        <tr>
                            <th>
                                @Html.Label("User Name")
                            </th>
                            <th>
                                @Html.DisplayName("Password")
                               
                            </th>
                            <th>
                                @Html.DisplayName("Name")
                            </th>

                            <th>
                                @Html.DisplayName("MobNo")
                            </th>
                            <th style="display:none;">
                                @Html.DisplayName("CreatedOn")
                            </th>
                            <th>
                                @Html.Label("Last Login On")
                            </th>
                            <th>
                                @Html.Label("User Role")
                            </th>
                            <th></th>
                        </tr>
                    </thead>*@
                    <tbody>
                        @{
                            int i = 0;

                            foreach (var item in Model)
                            {
                                //cnt += 0;
                                //for (int i = 0; i < cnt; i++)
                                //{


                                <tr class=@(i % 2 == 0 ? "sky"  : "")>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.MobNo)
                                    </td>
                                    <td style="display:none;">
                                        @Html.DisplayFor(modelItem => item.CreatedOn)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastLoginOn)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tblMUserRole.UserRole)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "User", new { id = item.User_Id })">
                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                        </a>
                                        &nbsp;&nbsp;
                                        <a href="@Url.Action("Delete", "User", new { id = item.User_Id })">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>&nbsp;&nbsp;
                                        <a href="@Url.Action("Details", "User", new { id = item.User_Id })">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>

                                    </td>
                                </tr>
                                i++;
                            }
                        }




                    </tbody>
                </table>
</div>
        <div>
            <br />
@using (Html.BeginForm("Index", "User", new { sortOrder = ViewBag.CurrentSort, searchString = ViewBag.CurrentFilter, CurrentSort = ViewBag.CurrentSort }, FormMethod.Post, new { @style="float:left;width:80px;"}))
{
            @Html.DropDownList("PageSize")
}
            <div class="pull-left" style=" padding: 10px;">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </div>
            @{
                bool? direction = ViewBag.SortDirection;
                if (direction == null) { direction = false; }
            }
            @Html.PagedListPager(Model, page => Url.Action("Index",
                                                          new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, CurrentSort = ViewBag.CurrentSort, IsAsc = !direction, pagesize = ViewBag.IPageSize }))
        
        </div>
    </div>

</section>
<script>
    $("#PageSize").addClass("form-control");
    $('#PageSize').on('change', function (event) {
               
        var form = $(event.target).parents('form');
            
        form.submit();
    });
</script>

