@model DataLayer.Models.tblRTemplateTypeField

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblRTemplateTypeField</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblMTemplateType.TemplateTypes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblMTemplateType.TemplateTypes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblSTemplatefield.TemplateFields)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblSTemplatefield.TemplateFields)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TemplateTypeFieldsMapping_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
