@model DataLayer.Models.tblTPaymtPatient

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tblTPaymtPatient</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.PatientPayTran_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.PatientId, "PatientId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PatientId", String.Empty)
                @Html.ValidationMessageFor(model => model.PatientId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PatientConditionId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatientConditionId)
                @Html.ValidationMessageFor(model => model.PatientConditionId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaymentDate)
                @Html.ValidationMessageFor(model => model.PaymentDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentMode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaymentMode)
                @Html.ValidationMessageFor(model => model.PaymentMode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsCash, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsCash)
                @Html.ValidationMessageFor(model => model.IsCash)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsCard, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsCard)
                @Html.ValidationMessageFor(model => model.IsCard)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CardHolderName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CardHolderName)
                @Html.ValidationMessageFor(model => model.CardHolderName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CardNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CardNumber)
                @Html.ValidationMessageFor(model => model.CardNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CardType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CardType)
                @Html.ValidationMessageFor(model => model.CardType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExipryDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExipryDate)
                @Html.ValidationMessageFor(model => model.ExipryDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CVV, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CVV)
                @Html.ValidationMessageFor(model => model.CVV)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsCheque, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsCheque)
                @Html.ValidationMessageFor(model => model.IsCheque)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChequeNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChequeNumber)
                @Html.ValidationMessageFor(model => model.ChequeNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChequeDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChequeDate)
                @Html.ValidationMessageFor(model => model.ChequeDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BankName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BankName)
                @Html.ValidationMessageFor(model => model.BankName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BranchName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BranchName)
                @Html.ValidationMessageFor(model => model.BranchName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IFSC, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IFSC)
                @Html.ValidationMessageFor(model => model.IFSC)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalAmoutToPay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalAmoutToPay)
                @Html.ValidationMessageFor(model => model.TotalAmoutToPay)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaidAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaidAmount)
                @Html.ValidationMessageFor(model => model.PaidAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DueAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DueAmount)
                @Html.ValidationMessageFor(model => model.DueAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdvancePaidAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdvancePaidAmount)
                @Html.ValidationMessageFor(model => model.AdvancePaidAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdvPtAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdvPtAmount)
                @Html.ValidationMessageFor(model => model.AdvPtAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationId, "LocationId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LocationId", String.Empty)
                @Html.ValidationMessageFor(model => model.LocationId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedBy, "CreatedBy", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CreatedBy", String.Empty)
                @Html.ValidationMessageFor(model => model.CreatedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedOn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedOn)
                @Html.ValidationMessageFor(model => model.CreatedOn)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifiedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModifiedBy)
                @Html.ValidationMessageFor(model => model.ModifiedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifiedOn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModifiedOn)
                @Html.ValidationMessageFor(model => model.ModifiedOn)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
