@model DataLayer.Models.DMEOfficeStaffPaperworkOA
@using DataLayer;
@{
    ViewBag.Title = "Knee Brace Custom Order";
}



<section class="bodyinner">
    @*@using (Html.BeginForm("Create", "KneeBraceCustomForm", FormMethod.Post, new { name = "Create", id = "Create" }))
    {*@
       
    <div class="bodyleft">
       

        @Html.Partial("~/Views/Shared/_LeftPart.cshtml")
    </div>
        <div class="bodyright">

            <div class="report-form clearfix">
                <h2>Fusion OA Knee Brace Order Form HCPCS Code: L1845</h2>
                <div class="p_bot15"><strong>*MEDICARE PATIENTS: DO NOT PROCEED IF THEY HAVE BEEN ISSUED A ‘KNEE BRACE’ IN THE PAST 5 YEARS.</strong></div>

                <hr>
              @using (Html.BeginForm("Create6", "KneeBraceFusionOAForm", FormMethod.Post, new { name = "Create", id = "Create" }))
              { 
                <div id="dvFirst">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(e => e.Paperwork.DMEForm_Id)
                    @*@Html.Hidden("DMEForm_Id", ViewData["id"].ToString())*@
                    @Html.Hidden("CreatedOn", DateTime.Now)
                    @Html.Hidden("DMEFormCode", "L1845")
                    @Html.HiddenFor(e => e.Paperwork.DMEOfficeStaffPaperwork_Id)
                    @Html.HiddenFor(e => e.Paperwork.DMEFormCode)
                    @Html.HiddenFor(e => e.Paperwork.CreatedOn)
                    @if (ViewBag.Error != null)
                    {
                        @Html.Raw(ViewBag.Error)
                    }
                    <div id="dvPaperwork" class="todo_inner">
                        <div class="outerf">
                            <div class="stepheading"><strong>6. Office Staff </strong> <i>paperwork</i></div>

                            <div class="row p_top15">
                                <div class="col-sm-1 p_top10">Int</div>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.Paperwork.PrepareChartPaperwork_Initial, new { @class = "form-control" })
                                    <span id="PrepareChartPaperwork" class="validateMsg"></span>
                                </div>
                            </div>


                            <div class="hiddenform">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 form-group">
                                        <label class="checkbox-inline">
                                            
                                            @Html.CheckBoxFor(e => e.Paperwork.IsDeliveryTicketComplete, new { @class = "checkbox-inline ChkCheked" })
                                            Delivery Ticket complete, pt signs, give pt carbon copy</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 form-group">
                                        <label class="checkbox-inline">
                                            
                                            @Html.CheckBoxFor(e => e.Paperwork.IsAOBComplete, new { @class = "checkbox-inline ChkCheked" })
                                            AOB complete, pt signs, give pt carbon copy</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 form-group">
                                        <label class="checkbox-inline">
                                            
                                            @Html.CheckBoxFor(e => e.Paperwork.IsCheckListComplete, new { @class = "checkbox-inline ChkCheked" })
                                            Check List complete with staff initials, pt signs, keep in chart</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 form-group">
                                        <label class="checkbox-inline">
                                            
                                            @Html.CheckBoxFor(e => e.Paperwork.IsHIPPA1Complete, new { @class = "checkbox-inline ChkCheked" })
                                            HIPPA #1 complete, pt signs, keep in chart</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 form-group">
                                        <label class="checkbox-inline">
                                            
                                            @Html.CheckBoxFor(e => e.Paperwork.IsHIPPA2GiveToPT, new { @class = "checkbox-inline ChkCheked" })
                                            HIPPA #2 give to pt</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 form-group">
                                        <label class="checkbox-inline">
                                            
                                            @Html.CheckBoxFor(e => e.Paperwork.IsProtocolComplaintsGiveToPT, new { @class = "checkbox-inline ChkCheked" })
                                            Protocol for Complaints give to pt</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 form-group">
                                        <label class="checkbox-inline">
                                            
                                            @Html.CheckBoxFor(e => e.Paperwork.IsMC_DMEPOS_Supplier_StandardsGiveToPT, new { @class = "checkbox-inline ChkCheked" })
                                            MC DMEPOS Supplier Standards give to pt</label>
                                    </div>
                                </div>
                                <span id="errMsg" class="validateMsg"></span>
                            </div>

                            <div class="subbutt">
                                @*<button type="button" class="btn btn-primary pull-left" onclick="GotoOrder()">Back</button>*@
                                <button type="submit" onclick="return validateInputs()" class="btn btn-orange pull-right">Submit</button>
                                <div class="clearfix"></div>
                            </div>

                        </div>



                    </div>
                    <hr>
                </div>
              }


            </div>

        </div>

        <div class="clearfix"></div>
        
       
      
    @*}*@
</section>


<script type="text/javascript">
    $(document).ready(function () {
        $("#Paperwork_PrepareChartPaperwork_Initial").focus();
        $("#PrepareChartPaperwork").hide();
        $("#errMsg").hide();
    });
    //$("#DMEGenaricForm_PaperWork_Step6").submit(function () {
    //    return validateInputs();
    //});


    function validateInputs() {
        var Paperwork = document.getElementById("Paperwork_PrepareChartPaperwork_Initial");
        var validated = false;
        if (Paperwork.value == "") {
            $("#PrepareChartPaperwork").show();
            $("#PrepareChartPaperwork").text("Enter PrepareChart Initial Value");
            Paperwork.focus();
        }
        else
            validated = true;

        var allChecked = true;
        $("input.ChkCheked").each(function (index, element) {
            if (!element.checked) {
                allChecked = false;
                $("#errMsg").show();
                $("#errMsg").text("Please Checked All The CheckedBoxes.");
                validated = false;
            }
        });

        return validated;

    }
</script>



