@model DataLayer.Models.DMEClinicalStaffPrescriptionOA
@using DataLayer;
@{
    ViewBag.Title = "Knee Brace Custom Order";
    var counter = 1;
  
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@* <script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<section class="bodyinner">
  
    <div class="bodyright" style="width:100%;">

        <div class="report-form clearfix">
            <h2>Fusion OA Knee Brace Order Form HCPCS Code: L1845</h2>
            @*<div class="p_bot15"><strong>*MEDICARE PATIENTS: DO NOT PROCEED IF THEY HAVE BEEN ISSUED A ‘KNEE BRACE’ IN THE PAST 5 YEARS.</strong></div>*@
            
           
               <div class="row" id="pname">
                   <div class="col-sm-6">
                       Patient Name:
                       @if (ViewBag.patientname != null)
                       {
                           <span> @ViewBag.patientname </span>
                       }
                       else
                       {
                           <span id="CustomForm_PatientName"></span>
                       }

                   </div>
                   <div class="col-sm-6">
                       DOB:
                       @if (ViewBag.dob != null)
                       {
                           <span> @ViewBag.dob </span>
                       }
                       else
                       {
                           <span id="CustomForm_DOB"></span>
                       }

                   </div>

            </div>
           
            <hr>
            @using (Html.BeginForm("Create1", "KneeBraceFusionOAForm", FormMethod.Post, new { name = "Create2", id = "Create2" }))
              {
                <div id="dvFirst">
                  
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(e => e.Prescription.DMEFormCode)
                    @Html.HiddenFor(e => e.Prescription.CreatedOn)
                    @Html.HiddenFor(e => e.KneeBraceFusionOASoftForm.KneeBraceFusionOAForm_Id)
                    @Html.HiddenFor(e => e.Prescription.DMEClinicalStaffPrescription_Id)
                    @Html.HiddenFor(e => e.KneeBraceFusionOASoftForm.CreatedOn)
                    @Html.HiddenFor(e => e.KneeBraceFusionOASoftForm.CreatedBy)
                    @Html.HiddenFor(e => e.PurchaseOrderItemDetail.PO_Item_Code)
                    @Html.HiddenFor(e => e.KneeBraceFusionOASoftForm.HCPCSCode)
                    @Html.HiddenFor(e => e.KneeBraceFusionOASoftForm.Patient_Id)
                    @Html.HiddenFor(e => e.CustomBrace.CustomBrace_Desc)
                    @Html.HiddenFor(e => e.PreviousTreatment.PreviousTreatment_Desc)
                    @Html.HiddenFor(e => e.Prescription.IsItemReqByTherapist)
                    @Html.HiddenFor(e => e.Prescription.IsItemReqByDoctor)
                    @Html.HiddenFor(e => e.Prescription.IsItemReqByPatient)
                    @Html.HiddenFor(e => e.Prescription.Doctor_Id)
                    @Html.HiddenFor(e => e.KneeBraceFusionOASoftForm.Patient_Name)
                    @if (ViewBag.Error != null)
                    {
                    @Html.Raw(ViewBag.Error)
                    }

                    <div id="div_1">
                        <div class="row">
                            <div class="col-sm-12">


                                <div class="borderbox">
                                    <div class="row">
                                        <div class="col-md-12">


                                            <div class="col-sm-6  form-group">
                                                @*Patient Name
                                                @Html.TextBoxFor(m => m.KneeBraceFusionOASoftForm.Patient_Name, new { @class = "form-control" })
                                                <span id="Patient_Name" class="validateMsg"></span>
                                                <br />
                                                @Html.ValidationMessageFor(m => m.KneeBraceFusionOASoftForm.Patient_Name)*@
                                                <div class="col-sm-6 form-group" style="padding-left: 0;">
                                                    <div class=headrightcont>First Name</div>
                                                    <input id="txtPatientFirstName" type="text" class="form-control" name="Fname" value="" />
                                                </div>
                                                <div class="col-sm-6 form-group">
                                                    <div class=headrightcont>Last Name</div>
                                                    <input id="txtPatientLastName" type="text" class="form-control" name="Lname" value="" />
                                                </div>
                                            </div>
                                            <div class="col-sm-4 form-group">
                                                DOB
                                                @Html.TextBoxFor(m => m.KneeBraceFusionOASoftForm.DOB, new { @class = "form-control datepicker-bg CustomDateFormat", style = "width:100%;", @Value = @Model.KneeBraceFusionOASoftForm.DOB.GetExactValue() })
                                                <span id="PatientDOB" class="validateMsg"></span>
                                                <br />
                                                @Html.ValidationMessageFor(m => m.KneeBraceFusionOASoftForm.DOB)
                                            </div>
                                            <div class="col-sm-2 form-group" style="padding-top:30px;">
                                                <!-- Trigger the modal with a button -->
                                                <button type="button" id="btnTo" class="btn btn-primary PatientEmailSearchModal" data-toggle="modal" data-id="To" data-target="#PatientEmailSearchModal">Search Patient</button>
                                           
                                             </div>


                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">


                                <div class="borderbox">
                                    <div class="row">
                                        <div class="col-md-12">


                                            <div class="col-sm-5  form-group">
                                                Date of injury
                                                @Html.TextBoxFor(m => m.KneeBraceFusionOASoftForm.Dateofinjury, new { @class = "form-control datepicker datepicker-bg DenyAdvanceDateSelection", @placeholder = "MM/dd/YYYY", style = "width:100%;" })
                                                @*<span id="Patient_Name" class="validateMsg"></span>*@
                                                <br />
                                                @Html.ValidationMessageFor(m => m.KneeBraceFusionOASoftForm.Dateofinjury)
                                            </div>
                                            <div class="col-sm-5 form-group">
                                                Date of surgery
                                                @Html.TextBoxFor(m => m.KneeBraceFusionOASoftForm.Dateofsurgery, new { @class = "form-control datepicker datepicker-bg DenyAdvanceDateSelection", @placeholder = "MM/dd/YYYY", style = "width:100%;" })
                                                @*<span id="PatientDOB" class="validateMsg"></span>*@
                                                <br />

                                            </div>


                                        </div>
                                    </div>

                                </div>


                            </div>

                        </div>
                        <div class="borderbox">
                            <div class="outerf">
                                @*<div class="stepheading"><strong>1. Clinical Staff </strong> <i>prescription</i></div>*@
                                <div class="hiddenform">
                                  
                                    <div class="row">
                                        <div class="col-sm-4 col-md-5">
                                            Diagnosis
                                        </div>
                                        <div class="col-sm-4 col-md-5">
                                            ICD-10 Code
                                        </div>
                                        <div class="col-sm-4 col-md-2">

                                        </div>
                                    </div>
                                    <div id="dvDiagnosis">
                                        <script>
                                            var counter = 0;
                                        </script>
                                        @for (int i = 0; i < Model.DMEDiognosis.Count; i++)
                                        {
                                            <div class="row">
                                                <div class="col-sm-4 col-md-5 form-group">
                                                    @Html.TextBoxFor(e => e.DMEDiognosis[i].Diagnosis_Desc, new { @class = "form-control Disease_nameForICD" })
                                                    <span id="Diagnosis_Desc_0" class="validateMsg"></span>
                                                </div>
                                                <div class="col-sm-4 col-md-5 form-group">
                                                    @Html.TextBoxFor(e => e.DMEDiognosis[i].ICD10Code, new { @class = "form-control ICD_CodeForICD" })
                                                    <span id="ICD10Code_0" class="validateMsg"></span>
                                                </div>
                                                <div class="col-sm-4 col-md-2 form-group">
                                                    <button id="addRows" class="addbutt" type="button" style="margin-top:0;" title="Add New Diagnosis"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                                    @Html.HiddenFor(e => e.DMEDiognosis[i].DMEDiagnosis_Id, new { @class = "icdidForICD" })
                                                </div>
                                            </div>
                                            <script>
                                                counter += 1;
                                            </script>
                                        }
                                    </div>
                                    <div class="p_bot15">
                                        <button type="button" class="btn btn-primary pull-left" onclick="OpenDialog()">Search ICD-10</button>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div>
                                        <div class="row form-group">
                                            <div class="col-sm-12"></div>
                                        </div>

                                    </div>


                                </div>
                                @Html.HiddenFor(e => e.PurchaseOrderItemDetail.PO_Item_Desc, new { @id = "hdnItemDesc" })
                                @Html.HiddenFor(e => e.PurchaseOrderItemDetail.PO_Item_Code, new { })


                            </div>

                        </div>
                        <div class="subbutt">
                            @*<button type="submit" class="btn btn-primary pull-right" onclick="return validateInputs();">Next  ></button>*@
                            <input type="button" id="btnNext4" class="btn btn-primary pull-right" value="Next  >" onclick="fnShowDiv2()" />
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div id="div_2">


                        <div class="clearfix"></div>
                        <div class="borderbox">
                            <div class="row">

                                <div class="col-sm-12" style="margin-top:30px;">
                                    <h3>FreeStyle Description:</h3>
                                    <div class="row p_bot20">

                                        <div class="col-sm-12">
                                            <div class="rightgray">
                                                <ul>
                                                    <li><strong>Used for mild to moderate unicompartmental osteoarthritis (5 Sizes Available). Both medial & lateral available.</strong></li>
                                                    <li><strong>Simple wrap around design allows patients to don and doff with ease.</strong></li>
                                                    <li><strong>Single-sided low profile hinge with adjustable offloading – no tools required.</strong></li>
                                                    <li><strong>Great for ADL’s, baseball, softball, golf, tennis, walking, hiking.</strong></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        <img src="~/Images/KneeBraceFreeStyleOASoftFormpic1.jpg" alt="KneeBraceFreeStyleOASoft image 1" />
                                    </div>

                                    <div class="col-sm-5">
                                        <div class="rightgray">
                                            <h4>L1843 Code Includes the Following:</h4>
                                            <ul>
                                                <li>Orthosis</li>
                                                <li>All Straps, Closures and Padding</li>
                                                <li>Fitting & Adjustment</li>
                                            </ul>
                                        </div>

                                    </div>

                                    <div class="col-sm-5">

                                        <div class="rightgray">
                                            <h4>Manufacturer: BREG</h4>
                                            <p>*Note: Order Custom Brace if Thigh & Calf Measurements DO NOT Fall in the Ranges Noted in the Chart Below (see custom form).</p>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="subbutt">
                            @*<button type="submit" class="btn btn-primary pull-right" onclick="return validateInputs();">Next  ></button>*@
                            <input type="button" id="btnNext4" class="btn btn-primary pull-right" value="Next  >" onclick="fnShowDiv3()" />
                            <input type="button" id="btnprev" class="btn btn-primary pull-left" value="<  Previous" onclick="fnPrevious3()" />
                            <div class="clearfix"></div>
                        </div>

                    </div>

                    <div id="div_3">
                        <div class="row">
                            <div class="outerf">
                                <div class="clearfix"></div>
                                <div class="borderbox">

                                    <h3>Fitting</h3>
                                    <div class="row">
                                        <div class="col-md-7 col-sm-12">

                                            <div class="table-responsive">
                                                <table id="Fitting" class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Size #</th>
                                                            <th>Size</th>
                                                            <th>
                                                                6” Above
                                                                Mid-Patella
                                                            </th>
                                                            <th>
                                                                6” Below
                                                                Mid-Patella
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr>
                                                            <th>XS = 10 </th>
                                                            <th>Extra Small</th>
                                                            <th>13 - 15 inches</th>
                                                            <th>10 – 12 inches</th>
                                                        </tr>
                                                        <tr>
                                                            <th>S =20 </th>
                                                            <th>Small</th>
                                                            <th>15.1 - 18 inches</th>
                                                            <th>12.1 – 14 inches</th>
                                                        </tr>
                                                        <tr>
                                                            <th>M = 30 </th>
                                                            <th>Medium</th>
                                                            <th>18.1 - 19.5 inches</th>
                                                            <th>14.1 – 15 inches</th>
                                                        </tr>
                                                        <tr>
                                                            <th>M+ = 35 </th>
                                                            <th>Meduim Plus</th>
                                                            <th>19.6 - 21 inches</th>
                                                            <th>15.1 – 16 inches</th>
                                                        </tr>
                                                        <tr>
                                                            <th>L = 40 </th>
                                                            <th>Large</th>
                                                            <th>21.1 - 24 inches</th>
                                                            <th>16.1 – 18 inches</th>
                                                        </tr>

                                                        <tr>
                                                            <th>XL = 50 </th>
                                                            <th>Extra Large</th>
                                                            <th>24.1 - 27 inches</th>
                                                            <th>18.1 – 20 inches</th>
                                                        </tr>

                                                        <tr>
                                                            <th>XXL = 60 </th>
                                                            <th>Extra Extra Large</th>
                                                            <th>27.1 - 30 inches</th>
                                                            <th>20.1 – 22 inches</th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>




                                        </div>
                                        <div class="col-md-5 col-sm-12">

                                            <div class="borderbox">
                                                <div class="abovetext">

                                                    <div class="pull-left">Above: @Html.TextBoxFor(model => model.KneeBraceFusionOASoftForm.Fitting_Above) in<br/><span id="valFitting_Above" class="validateMsg"></span></div>
                                                    <div class="pull-right">Below: @Html.TextBoxFor(model => model.KneeBraceFusionOASoftForm.Fitting_Below, new { @onkeyup = "fnReCallSizeSelect();" }) in<br /><span id="valFitting_Below" class="validateMsg"></span></div>

                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="row p_bot15">
                                                    <div class="col-sm-2 p_top10">Size: </div>
                                                    <div class="col-sm-5">
                                                        @Html.DropDownListFor(e => e.KneeBraceFusionOASoftForm.FusionKneeBraceSize_Id, (IEnumerable<SelectListItem>)ViewBag.FusionKneeBraceSize_Id, new { @class = "form-control", disabled = "disabled" })
                                                        @*@Html.DropDownListFor(e => e.KneeBraceFusionOASoftForm.FusionKneeBraceSize_Id, (IEnumerable<SelectListItem>)ViewBag.FusionKneeBraceSize_Id, "Select A Year")*@
                                                        @Html.ValidationMessageFor(model => model.KneeBraceFusionOASoftForm.FusionKneeBraceSize_Id)
                                                    </div>
                                                </div>

                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-striped">
                                                        <tbody>
                                                            <tr>
                                                                <th><input type="radio" id="radio1" name="chooseFreestyle" onclick="fnchooseFreestyle(120);" value="1"></th>
                                                                <th>120XX</th>
                                                                <th><span id="Desc_120">  Breg Fusion OA, Left </span></th>

                                                            </tr>
                                                            <tr>
                                                                <th><input type="radio" id="radio2" name="chooseFreestyle" onclick="fnchooseFreestyle(121);" value="2"></th>
                                                                <th>121XX</th>
                                                                <th><span id="Desc_121"> Breg Fusion OA, Right </span></th>
                                                            </tr>
                                                         

                                                        </tbody>
                                                    </table>
                                                </div>


                                                <div class="row p_bot15">
                                                    <div class="col-sm-3 p_top10">Model#: </div>
                                                    <div class="col-sm-4">
                                                        @Html.TextBoxFor(model => model.KneeBraceFusionOASoftForm.Model_No, new { @class = "form-control", @readonly = true })
                                                        <span id="Model_No" class="validateMsg"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="subbutt">
                                    @*<button type="submit" class="btn btn-primary pull-right" onclick="return validateInputs();">Next  ></button>*@
                                    <input type="button" id="btnNext4" class="btn btn-primary pull-right" value="Next  >" onclick="fnShowDiv4()" />
                                    <input type="button" id="btnprev" class="btn btn-primary pull-left" value="<  Previous" onclick="fnPrevious4()" />
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div id="div_4">
                        <div class="borderbox">
                            <div class="row">
                                <div id="mydiv" class="col-sm-12">
                                    <h3>Reason for custom vs. off the shelf brace (select one or more):</h3>

                                    <div class="col-sm-12">
                                        <div class="col-sm-6 ">


                                            <input id="KneeBraceCustomFormCustomBrace_Desc1" class="checkbox-custom " name="IsCustomOAMedialOffLoader_01208" type="checkbox" value="1" onclick="fnchooseFreestyle(1);">

                                            <label for="KneeBraceCustomFormCustomBrace_Desc1" class="checkbox-custom-label">

                                                <span>Disproportionate size of thigh and calf</span>
                                            </label>
                                        </div>

                                        <div class="col-sm-6 ">


                                            <input id="KneeBraceCustomFormCustomBrace_Desc2" class="checkbox-custom " name="IsCustomLigamentBrace_01207" type="checkbox" value="2" onclick="fnchooseFreestyle(3);">

                                            <label for="KneeBraceCustomFormCustomBrace_Desc2" class="checkbox-custom-label">
                                                <span>Minimal muscle mass upon which to suspend an orthosis</span>

                                            </label>
                                        </div>
                                        <div class="clearfix">&nbsp;</div>
                                        <div class="col-sm-6 ">


                                            <input id="KneeBraceCustomFormCustomBrace_Desc3" class="checkbox-custom " name="IsCustomOALateralOffLoader_01300" type="checkbox" value="3" onclick="fnchooseFreestyle(2);">

                                            <label for="KneeBraceCustomFormCustomBrace_Desc3" class="checkbox-custom-label">
                                                <span>A typical thigh and calf dimensions due to obesity (BMI greater than or equal to 30)</span>

                                            </label>
                                        </div>
                                        <div class="col-sm-6 ">


                                            <input id="KneeBraceCustomFormCustomBrace_Desc4" class="checkbox-custom " name="IsCustomLigamentBrace_01207" type="checkbox" value="4" onclick="fnchooseFreestyle(3);">

                                            <label for="KneeBraceCustomFormCustomBrace_Desc4" class="checkbox-custom-label">
                                                <span>Intimate fit is required for ligament protection or off-loading indication</span>

                                            </label>
                                        </div>
                                        
                                    </div>
                                    <br />
                                    <span id="Reasonforcustom" class="validateMsg"></span>
                                </div>

                            </div>

                        </div>

                        <div class="subbutt">
                          
                            <input type="button" id="btnNext4" class="btn btn-primary pull-right" value="Next  >" onclick="fnShowDiv5()" />
                            <input type="button" id="btnprev" class="btn btn-primary pull-left" value="<  Previous" onclick="fnPrevious5()" />
                            <div class="clearfix"></div>
                        </div>
                    </div>*@

                    <div id="div_5">
                        <div class="borderbox radiosection_with1">
                            <div class="row">
                                <div id="Previous" class="col-sm-12">
                                    <h3>Previous Treatments/Medications (select one or more only if applicable):</h3>

                                    <div style="margin-left:10px;" class="previoustreatment">
                                        <div class="radiosec">


                                            <input id="PreviousTreatments1" class="checkbox-custom " name="IsCustomOAMedialOffLoader_01208" type="checkbox" value="1" onclick="fnchooseFreestyle1(1);">

                                            <label for="PreviousTreatments1" class="checkbox-custom-label">

                                                <span>Prior Surgery</span>
                                            </label>
                                        </div>

                                        <div class="radiosec">


                                            <input id="PreviousTreatments2" class="checkbox-custom " name="IsCustomLigamentBrace_01207" type="checkbox" value="2" onclick="fnchooseFreestyle1(3);">

                                            <label for="PreviousTreatments2" class="checkbox-custom-label">
                                                <span>NSAIDS/Pain Medications</span>

                                            </label>
                                        </div>
                                        <div class="clearfix">&nbsp;</div>
                                        <div class="radiosec">


                                            <input id="PreviousTreatments3" class="checkbox-custom " name="IsCustomOALateralOffLoader_01300" type="checkbox" value="3" onclick="fnchooseFreestyle1(2);">

                                            <label for="PreviousTreatments3" class="checkbox-custom-label">
                                                <span>Injections</span>

                                            </label>
                                        </div>
                                       
                                        <div class="radiosec">


                                            <input id="PreviousTreatments4" class="checkbox-custom " name="IsCustomLigamentBrace_01207" type="checkbox" value="4" onclick="fnchooseFreestyle1(3);">

                                            <label for="PreviousTreatments4" class="checkbox-custom-label">
                                                <span>Physical Therapy </span>

                                            </label>
                                        </div>
                                        <div class="clearfix">&nbsp;</div>
                                    </div>
                                    <span id="PreviousTreatments" class="validateMsg"></span>
                                </div>

                            </div>

                        </div>

                        <div class="subbutt">
                            @*<button type="submit" class="btn btn-primary pull-right" onclick="return validateInputs();">Next  ></button>*@
                            <input type="button" id="btnNext4" class="btn btn-primary pull-right" value="Next  >" onclick="fnShowDiv6()" />
                            <input type="button" id="btnprev" class="btn btn-primary pull-left" value="<  Previous" onclick="fnPrevious6()" />
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div id="div_6">
                        <div class="borderbox">
                            <div class="row">
                                <div class="col-sm-12">

                                    <h3>Item Requested By:</h3>
                                    <div class="col-sm-12">

                                        @if (@ViewBag.userrole == 13)
                                        {
                                            <div class="radiosec">
                                                <input id="Prescription1" class="checkbox-custom checkone1" name="IsItemReqByTherapist" type="checkbox" value="true" onchange="fnEnableDisableTextbox3(this,'');">
                                                <label for="Prescription1" class="checkbox-custom-label">Therapist</label>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="radiosec">
                                                <input id="Prescription1" class="checkbox-custom checkone1" name="IsItemReqByTherapist" type="checkbox" value="true" onchange="fnEnableDisableTextbox3(this,'');">
                                                <label for="Prescription1" class="checkbox-custom-label">Therapist</label>
                                            </div>
                                        }
                                        <div class="radiosec">
                                            <input id="Prescription2" class="checkbox-custom checkone1" name="IsItemReqByPatient" type="checkbox" value="true" onchange="fnEnableDisableTextbox1(this,'Prescription_Doctor_Name');">
                                            <label for="Prescription2" class="checkbox-custom-label">Patient</label>
                                        </div>
                                        <div class="radiosec">
                                            <input id="Prescription3" class="checkbox-custom checkone1" name="IsItemReqByDoctor" type="checkbox" value="true" onchange="fnEnableDisableTextbox2(this,'Prescription_Doctor_Name');">
                                            <label for="Prescription3" class="checkbox-custom-label">Doctor</label>
                                        </div>
                                    </div>
                                    <div id="Doctor_Name" class="col-sm-12">
                                        <div class="col-sm-12 col-md-8 form-group p_top10">
                                            @Html.TextBoxFor(e => e.Prescription.Doctor_Name, new { @class = "form-control" })
                                            <span id="Doctor_Name1" class="validateMsg"></span>
                                        </div>
                                        <div class="col-sm-2 " style="padding-top:10px;">
                                            <!-- Trigger the modal with a button -->
                                            <button type="button" id="btnTo1" class="btn btn-primary _SearchDoctor" data-toggle="modal" data-id="To" data-target="#_SearchDoctor">Search Doctor</button>
                                        </div>
                                    </div>
                                    @if (@ViewBag.userrole == 13)
                                    {
                                        <div id="Therapist_Name" class="col-sm-12">
                                            <div class="col-sm-12 col-md-8 form-group p_top10">
                                                <input type="text" value="@ViewBag.ptname" id="Prescription_Therapist_Name" name="Prescription_Therapist_Name" class="form-control" />
                                                @*@Html.TextBoxFor(e => e.Prescription.Therapist_Name, new { @class = "form-control", @Value = ViewBag.CompName })*@
                                                <span id="Doctor_Name" class="validateMsg"></span>

                                            </div>

                                        </div>
                                    }
                                    else
                                    {
                                        <div id="Therapist_Name" class="col-sm-12">
                                            <div class="col-sm-12 col-md-8 form-group p_top10">

                                                @Html.TextBoxFor(e => e.Prescription.Therapist_Name, new { @class = "form-control", @Value = ViewBag.CompName })
                                                <span id="Doctor_Name" class="validateMsg"></span>

                                            </div>

                                        </div>
                                    }
                                </div>

                            </div>

                        </div>
                        <div>
                            <span id="ItemReqBy" style="color:red"></span>
                        </div>
                        <div class="subbutt">
                            @*<button type="submit" class="btn btn-primary pull-right" onclick="return validateInputs();">Next  ></button>*@
                            <button type="submit" class="btn btn-orange pull-right" onclick="return validateInputs();">Submit</button>
                            <input type="button" id="btnprev" class="btn btn-primary pull-left" value="<  Previous" onclick="fnPrevious7()" />
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <hr>
                </div>
              }

        </div>

    </div>

    <div class="clearfix"></div>
    <div id="Dialog-Box" class="ICDSearch">
        @Html.Partial("_ICDSearch")
    </div>


    @*}*@
</section>



<div class="modal fade" id="PatientEmailSearchModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom:0;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @*<h4 class="modal-title">Search Patient Name</h4>*@
            </div>
            <div class="modal-body">
                <div>
                    <div id="searchPatient">
                        <div class="row SearchFilterContainer" id="SearchFilterContainer" style="display:none;">
                            <div class="col-sm-6 col-md-3">
                                <div class=headrightcont>First Name</div>
                                <input id="txtPatientFirstName" type="text" class="applitextfield2" name="Fname" value="" />
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class=headrightcont>Last Name</div>
                                <input id="txtPatientLastName" type="text" class="applitextfield2" name="Lname" value="" />
                            </div>


                            <div class="col-sm-6 col-md-3">
                                <div class="headrightcont">SSN</div>
                                <input id="txtPatientSSN" type="text" class="applitextfield2" name="SSN" value="" />
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="headrightcont">Phone</div>
                                <input id="txtPatientPhone" type="text" class="applitextfield2 UsCellFormat" name="Phone" value="" />
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class=headrightcont>City</div>
                                <input id="txtPatientCity" type="text" class="applitextfield2" name="City" value="" />
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class=headrightcont>State</div>
                                <input id="txtPatientState" type="text" class="applitextfield2" name="State" value="" />
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="headrightcont">Zip Code</div>
                                <input id="txtPatientZipCode" type="text" class="applitextfield2" name="ZipCode" value="" maxlength="5" />
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="headrightcont">&nbsp;</div>
                                <button id="btn_psearch" class="btn btn-success fnSearchForPatient1" onclick="fnSearchForPatient();">Search</button>

                            </div>
                        </div>
                        <div class="SearchResultContainer1">
                            <table class="table table-bordered table-scroll" id="tblPatientList">
                                <thead>
                                    <tr>
                                        @*<th>#</th>*@
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>DOB</th>
                                        <th>Address</th>
                                        @*<th>Mob No</th>
                                            <th>Home Phone</th>
                                            <th>Address</th>*@
                                    </tr>
                                </thead>
                                <tbody> </tbody>
                            </table>

                            <div id="div_noRecPatient" style="text-align: center; vertical-align: middle; line-height: 38px; display:none;"><label style='color:red'>There are no records found !!</label></div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdToCC" value="" />
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="_SearchDoctor" role="dialog">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom:0;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 id="headingSearch" class="modal-title">Search Doctor</h3>

            </div>
            <div class="modal-body">
                <div>
                    <div id="searchDoctor">
                        <div class="row SearchFilterContainer" id="SearchFilterContainer">
                            <div class="col-sm-6 col-md-3">
                                <div class=headrightcont>First Name</div>
                                <input id="txtDoctorFirstName" type="text" class="applitextfield2" name="name" value="" />
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class=headrightcont>Last Name</div>
                                <input id="txtDoctorLastName" type="text" class="applitextfield2" name="name" value="" />
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class=headrightcont>NPI No</div>
                                <input id="txtDoctorNpiNo" type="text" class="applitextfield2" name="name" value="" />
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="headrightcont">Phone</div>
                                <input id="txtDoctorPhone" type="text" class="applitextfield2 UsCellFormat" name="name" value="" />
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class=headrightcont>City</div>
                                <input id="txtDoctorCity" type="text" class="applitextfield2" name="name" value="" />
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class=headrightcont>State</div>
                                <input id="txtDoctorState" type="text" class="applitextfield2" name="name" value="" />
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="headrightcont">Zip Code</div>
                                <input id="" type="text" class="applitextfield2 zipcode" name="name" value="" maxlength="5" />
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="headrightcont">&nbsp;</div>
                                @*<button class="btn btn-success" onclick="fnSearchForDoctor();">Search</button>*@
                                <button class="btn btn-success" onclick="fnSearchForDoctor();" id="btnTodoc">Search</button>
                            </div>
                        </div>
                        <div class="SearchResultContainer">
                            <table class="table table-bordered" id="tblDoctorList">
                                <thead>
                                    <tr>
                                        <td>First Name</td>
                                        <td>Last Name</td>
                                        <td>NPI No</td>
                                        <td>Phone1 </td>
                                        @*<td>Phone2</td>*@
                                        <td>Address</td>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <div id="div_noRec" style="text-align: center; vertical-align: middle; line-height: 38px; display:none;"><label style='color:red'>There are no records found !!</label></div>
                            <button style="display:none;" class="btn btn-success" id="btnAddNewDoctor" onclick="fnShowAddDoctorPane();">Add New Doctor</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                @*<button id="btnDoctorSave" type="button" class="btn btn-primary">Save</button>*@
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
  

    function fnSearchForDoctor() {
       
        $.ajax({
            url: '@Url.Action("SearchForDoctor", "KneeBraceFusionOAForm")',
            type: 'POST',
            data: {
                FirstName: $("#txtDoctorFirstName").val(),
                LastName: $('#txtDoctorLastName').val(),
                NpiNo: $('#txtDoctorNpiNo').val(),
                Phone: $('#txtDoctorPhone').val(),
                City: $('#txtDoctorCity').val(),
                State: $('#txtDoctorState').val(),
                ZipCode: $('#txtDoctorZipCode').val()
            },
            success: function (json) {
                $("#tblDoctorList tbody").html('');
                for (var i = 0; i < json.length; i++) {
                    var row = "<tr onclick='fnSelectRow(this);'>" +
                                       " <td>  " + json[i].First_Name + "</td>" +
                                        "<td>" + json[i].Last_Name + "</td>" +
                                        "<td>" + json[i].NPI_No + "</td>" +
                                        "<td>" + json[i].Phone1 + " </td>" +
                                        //"<td>" + json[i].Phone2 + "</td>" +
                                        "<td> <input type='hidden' name='' value='" + json[i].Doctor_Id + "' class='doctorid' />" + json[i].Address + "</td>" +
                                    "</tr>";
                    $("#tblDoctorList tbody").append(row);
                }
                if (json.length == 0) {
                    $("#div_noRec").show();
                    $("#btnAddNewDoctor").show();
                }
                else {
                    $("#div_noRec").hide();
                    $("#btnAddNewDoctor").hide();
                }
            },
            error: function (msg) {
            }
        });
    }
    //$("#KneeBraceFusionOASoftForm_Patient_Name").keypress(function (e) {
    //    var code = (e.keyCode ? e.keyCode : e.which);
    //    if (code === 13) {
    //        fnSearchForPatient();
    //        $("#btnTo").click();
    //        return false;
    //        // $("#btn").trigger("click");
    //    }
    //});
    $(document).on("click", ".PatientEmailSearchModal", function () {

       
        fnShowPatientSearch();
        $("#btn_psearch").click();
        var firstname = $("#KneeBraceFusionOASoftForm_Patient_Name").val();
        var firstnamesplit = firstname.split(" ");
        if (firstnamesplit.length > 1 && firstnamesplit.length < 3) {
            $("#txtPatientFirstName").val(firstnamesplit[0]);
            $("#txtPatientLastName").val(firstnamesplit[1]);
        }
        else if (firstnamesplit.length > 1 && firstnamesplit.length >= 3) {
            $("#txtPatientFirstName").val(firstnamesplit[0]);
            $("#txtPatientLastName").val(firstnamesplit[1] + " " + firstnamesplit[2]);
        }
        else {
            $("#txtPatientFirstName").val($("#KneeBraceFusionOASoftForm_Patient_Name").val());
            $("#txtPatientLastName").val("");
        }


        $("#KneeBraceFusionOASoftForm_Patient_Name").val("");

        $("#KneeBraceFusionLigamentForm_DOB").val("");
        fnSearchForPatient();
    });
    $('#txtPatientFirstName').on("keypress", function (e) {
        //alert(11);
        if (e.keyCode == 13) {

            fnShowPatientSearch();
            $("#btn_psearch").click();
            var firstname = $("#txtPatientFirstName").val();
            var Lastname = $("#txtPatientLastName").val();
            //var firstnamesplit = firstname.split(" ");
            if (firstname.length > 1 && Lastname.length < 1) {
                $("#txtPatientFirstName").val();
                $("#txtPatientLastName").val();
            }
            else if (firstname.length > 1 && Lastname.length < 1) {
                $("#txtPatientFirstName").val();
                $("#txtPatientLastName").val();
            }
            else {
                $("#txtPatientFirstName").val();
                $("#txtPatientLastName").val();
            }


            $("#KneeBraceFusionOASoftForm_Patient_Name").val("");

            $("#KneeBraceFusionLigamentForm_DOB").val("");
            fnSearchForPatient();
            return false; // prevent the button click from happening
        }
    });
    $('#txtPatientLastName').on("keypress", function (e) {
        //alert(11);
        if (e.keyCode == 13) {

            fnShowPatientSearch();
            $("#btn_psearch").click();
            var firstname = $("#txtPatientFirstName").val();
            var Lastname = $("#txtPatientLastName").val();
            //var firstnamesplit = firstname.split(" ");
            if (firstname.length > 1 && Lastname.length < 1) {
                $("#txtPatientFirstName").val();
                $("#txtPatientLastName").val();
            }
            else if (firstname.length > 1 && Lastname.length < 1) {
                $("#txtPatientFirstName").val();
                $("#txtPatientLastName").val();
            }
            else {
                $("#txtPatientFirstName").val();
                $("#txtPatientLastName").val();
            }


            $("#KneeBraceFusionOASoftForm_Patient_Name").val("");

            $("#KneeBraceFusionLigamentForm_DOB").val("");
            fnSearchForPatient();
            return false; // prevent the button click from happening
        }
    });
    function fnSelectRow(obj) {
        $("#tblDoctorList tbody tr").removeClass('selectedRow');
        $(obj).addClass('selectedRow');
        //alert($($(obj).find('td')[0]).html() + " " + $($(obj).find('td')[1]).html());
        $('#_SearchDoctor').modal('hide');
        //alert($($(obj).find('input')[0]).val());
        $("#Prescription_Doctor_Name").val(($($(obj).find('td')[0]).html().trim() + " " + $($(obj).find('td')[1]).html().trim()).trim());
        $("#Prescription_Doctor_Id").val($($(obj).find('input')[0]).val());
        $("#Doctor_Name1").hide();
    }
    $(document).ready(function () {
        $("#KneeBraceFusionOASoftForm_Fitting_Above").focus();
        $("#div_2").hide();
        $("#pname").hide();
        $("#div_3").hide();
        $("#div_4").hide();
        $("#div_5").hide();
        $("#div_6").hide();
    });

    function fnShowDiv2() {
        var flag = true;
        debugger;
        var pName = document.getElementById("KneeBraceFusionOASoftForm_Patient_Name");
        var dob = document.getElementById("KneeBraceFusionOASoftForm_DOB");
        var Diagnosis_Desc = document.getElementById("DMEDiognosis_0__Diagnosis_Desc");
        var ICD10Code = document.getElementById("DMEDiognosis_0__ICD10Code");

        if (pName != undefined && dob != undefined && Diagnosis_Desc.value != undefined && ICD10Code.value != undefined) {
            if (pName.value == null || pName.value == "" || pName.value == '') {
                $("#Patient_Name").show();
                $("#Patient_Name").text("Please enter patient name");
                pName.focus();
                flag = false;
            }
            else {
                $("#Patient_Name").text("");
            }
            if (dob.value == null || dob.value == "" || dob.value == '') {
                $("#PatientDOB").show();
                $("#PatientDOB").text("Please enter date of birth");
                dob.focus();
                flag = false;
            }
            else {
                $("#PatientDOB").text("");
            }
            if (Diagnosis_Desc.value == null || Diagnosis_Desc.value == "" || Diagnosis_Desc.value == '') {
                $("#Diagnosis_Desc_0").show();
                $("#Diagnosis_Desc_0").text("Please enter diagnosis");
                Diagnosis_Desc.focus();
                flag = false;
            }
            else {
                $("#Diagnosis_Desc_0").text("");
            }
            if (ICD10Code.value == null || ICD10Code.value == "" || ICD10Code.value == '') {
                $("#ICD10Code_0").show();
                $("#ICD10Code_0").text("Please enter ICD10 code");
                ICD10Code.focus();
                flag = false;
            }
            else {
                $("#ICD10Code_0").text("");
            }
            if (flag) {
                $("#div_1").hide();
                $("#div_2").show();
                $("#pname").show();
                $("#div_3").hide();
                $("#div_4").hide();
                $("#div_5").hide();
                $("#div_6").hide();
                $("#div_7").hide();
            }
        }




        
    }
    function fnPrevious3() {
        $("#div_1").show();
        $("#div_2").hide();
        $("#pname").hide();
        $("#div_3").hide();
        $("#div_4").hide();
        $("#div_5").hide();
        $("#div_6").hide();
        $("#div_7").hide();
    }
    function fnShowDiv3() {

        $("#div_1").hide();
        $("#div_2").hide();
        $("#pname").show();
        $("#div_3").show();
        $("#div_4").hide();
        $("#div_5").hide();
        $("#div_6").hide();
        $("#div_7").hide();
    }
    function fnPrevious4() {
        $("#div_1").hide();
        $("#div_2").show();
        $("#pname").show();
        $("#div_3").hide();
        $("#div_4").hide();
        $("#div_5").hide();
        $("#div_6").hide();
        $("#div_7").hide();
    }
    function fnShowDiv4() {
        var flag = true;
        var vAbove = document.getElementById("KneeBraceFusionOASoftForm_Fitting_Above");
        var vBelow = document.getElementById("KneeBraceFusionOASoftForm_Fitting_Below");
        var vModel = document.getElementById("KneeBraceFusionOASoftForm_Model_No");
        if (vAbove != undefined && vBelow != undefined && vModel != undefined) {
            if (vAbove.value == null || vAbove.value == "" || vAbove.value == '') {
                $("#valFitting_Above").show();
                $("#valFitting_Above").text("Please enter above");
                vAbove.focus();
                flag = false;
            }
            else {
                $("#valFitting_Above").text("");
            }
            if (vBelow.value == null || vBelow.value == "" || vBelow.value == '') {
                $("#valFitting_Below").show();
                $("#valFitting_Below").text("Please enter below");
                vBelow.focus();
                flag = false;
            }
            else {
                $("#valFitting_Below").text("");
            }
            if (vModel.value == null || vModel.value == "" || vModel.value == '') {
                $("#Model_No").show();
                $("#Model_No").text("Please enter model no");
                vModel.focus();
                flag = false;
            }
            else {
                $("#Model_No").text("");
            }

            if (flag) {
                $("#div_1").hide();
                $("#div_2").hide();
                $("#pname").show();
                $("#div_3").hide();
                $("#div_4").hide();
                $("#div_5").show();
                $("#div_6").hide();
                $("#div_7").hide();
            }

        }
        $('#KneeBraceFusionOASoftForm_FusionKneeBraceSize_Id').removeAttr('disabled');
        
    }
    function fnPrevious5() {
        $("#div_1").hide();
        $("#div_2").hide();
        $("#pname").show();
        $("#div_3").show();
        $("#div_4").hide();
        $("#div_5").hide();
        $("#div_6").hide();
        $("#div_7").hide();
    }
    function fnShowDiv5() {
        var allVals = [];
        $('#mydiv :checked').each(function () {
            allVals.push($(this).val());
        });
        $('#CustomBrace_CustomBrace_Desc').val(allVals)

        var flag = false;
        for (var i = 1; i <= 4; i++) {
            var SelectedId = 'KneeBraceCustomFormCustomBrace_Desc' + i;
            if($("#"+SelectedId).prop('checked') == true){
                flag = true;
            }
        }
        if(flag){
            $("#div_1").hide();
            $("#div_2").hide();
            $("#pname").show();
            $("#div_3").hide();
            $("#div_4").hide();
            $("#div_5").show();
            $("#div_6").hide();
            $("#div_7").hide();
            $("#Reasonforcustom").text("");
        }
        else{
            $("#Reasonforcustom").text("Please select an option");
        }



        
    }
    function fnPrevious6() {
        $("#div_1").hide();
        $("#div_2").hide();
        $("#pname").show();
        $("#div_3").show();
        $("#div_4").hide();
        $("#div_5").hide();
        $("#div_6").hide();
        $("#div_7").hide();
    }
    function fnShowDiv6() {
       
        var allVals1 = [];
        $('#Previous :checked').each(function () {
            allVals1.push($(this).val());
        });
        //alert(allVals1)
        $('#PreviousTreatment_PreviousTreatment_Desc').val(allVals1)
        var flag = false;
        for (var i = 1; i <= 4; i++) {
            var SelectedId = 'PreviousTreatments' + i;
            if($("#"+SelectedId).prop('checked') == true){
                flag = true;
            }
        }
        if(flag){
            $("#div_1").hide();
            $("#div_2").hide();
            $("#pname").show();
            $("#div_3").hide();
            $("#div_4").hide();
            $("#div_5").hide();
            $("#div_6").show();
            $("#div_7").hide();
            $("#PreviousTreatments").text("");
        }
        else{
            $("#PreviousTreatments").text("Please select an option");
        }
        
    }
    function fnPrevious7() {
        $("#div_1").hide();
        $("#div_2").hide();
        $("#pname").show();
        $("#div_3").hide();
        $("#div_4").hide();
        $("#div_5").show();
        $("#div_6").hide();
        $("#div_7").hide();
    }

    function fnEnableDisableTextbox3(obj, textbox) {

        $('.checkone1').not(obj).attr("checked", false);
        $('#Prescription_IsItemReqByPatient').val(false)
        $('#Prescription_IsItemReqByTherapist').val(true)
        $('#Prescription_IsItemReqByDoctor').val(false)
        $("#Doctor_Name").hide();
        $("#Therapist_Name").show();
    }
    function fnEnableDisableTextbox2(obj, textbox) {
        $('.checkone1').not(obj).attr("checked", false);
        $('#Prescription_IsItemReqByTherapist').val(false)
        $('#Prescription_IsItemReqByPatient').val(false)
        $('#Prescription_IsItemReqByDoctor').val(true)
        $("#Doctor_Name").show();
        $("#Therapist_Name").hide();
    }
    function fnEnableDisableTextbox1(obj, textbox) {
        $('.checkone1').not(obj).attr("checked", false);
        $('#Prescription_IsItemReqByTherapist').val(false)
        $('#Prescription_IsItemReqByDoctor').val(false)
        $('#Prescription_IsItemReqByPatient').val(true)
        $("#Doctor_Name").hide();
        $("#Therapist_Name").hide();
    }
    $(document).on("click", ".PatientEmailSearchModal", function () {
        var myBookId = $(this).data('id');
        $("#btnTo").val(myBookId);
        fnSearchForPatient();

    });
</script>
<script type="text/javascript">
    var k1 = "";
    var ccto = "";

    function fnSearchForPatient() {

       
        $.ajax({
            url: '@Url.Action("SearchForPatient", "KneeBraceFusionOAForm")',
            type: "GET",
            dataType:"JSON",
            data: {
                FirstName: $('#txtPatientFirstName').val(),
                LastName: $('#txtPatientLastName').val(),
                SSN: $('#txtPatientSSN').val(),
                Email: $('#txtPatientEmail').val(),
                Phone: $('#txtPatientPhone').val(),
                City: $('#txtPatientCity').val(),
                State: $('#txtPatientState').val(),
                ZipCode: $('#txtPatientZipCode').val()
            },
            success: function (json) {
                var count = 1;
                $("#tblPatientList tbody").html('');
                for (var i = 0; i < json.length; i++) {
                    var __date = json[i].DOB;
                    //alert('DOB:' + __date);
                    var dateString = __date.substr(6);
                    var currentTime = new Date(parseInt(dateString));
                    var month;
                    if (currentTime.getMonth() < 10)
                    {
                        month = currentTime.getMonth() + 1;
                        month = '0' + month.toString();
                    }

                    else
                        month = currentTime.getMonth() + 1;
                    var day;
                    if (currentTime.getDate() < 10)
                    {

                        day = currentTime.getDate();
                        day = '0' + day.toString();
                    }
                    else
                    {
                        day = currentTime.getDate();
                    }

                    var year = currentTime.getFullYear();
                    var date = month + "/" + day + "/" + year;
                    //alert(date);
                    var row = "<tr onclick='fnSelectPatientRow(this);'>" +
                                        //"<td>" + count + "</td>" +
                                       "<td>" + json[i].First_Name + "</td>" +
                                        "<td>" + json[i].Last_Name + "</td>" +
                                        "<td>" + date + "</td>" +
                                         //"<td>" + json[i].Email + "</td>" +
                                        //"<td>" + json[i].MobNo + " </td>" +
                                        //"<td>" + json[i].Email + "</td>" +
                                        //"<td>" + json[i].MobNo + " </td>" +
                                        //"<td>" + json[i].Phone2 + "</td>" +
                                        "<td> <input type='hidden' name='' value='" + json[i].Patient_Id + "' class='patientID' /><input type='hidden' name='' value='" + json[i].Email + "' class='patientEmail' />" + json[i].Address + "</td>" +
                                        "<input type='hidden' name='" + "hdn__" + count + "' id='" + "hdn__" + count + "' value='" + date + "' class='patientID' />" +
                                    "</tr>";
                    $("#tblPatientList tbody").append(row);
                    count = count + 1;
                }
                if (json.length == 0) {
                    $("#div_noRecPatient").show();
                    $("#KneeBraceFusionOASoftForm_Patient_Name").val("");
                    $("#Condition_PatientId").val("");
                }
                else {
                    $("#div_noRecPatient").hide();
                }
            },
            error: function (msg) {
            },
        });
    }

    function fnShowPatientSearch() {
        $('#PatientEmailSearchModal').modal();
        $("#tblPatientList tbody").html('');


        //$('#txtPatientFirstName').val("");
        //$('#_SearchPatient').modal();

        //$('#txtPatientFirstName').val("");
        //$('#txtPatientLastName').val("");
        ////$('#txtPatientFirstDOB').val("");
        //$('#txtPatientLastSSN').val("");
        //$('#txtPatientPhone').val("");
        //$('#txtPatientCity').val("");
        //$('#txtPatientState').val("");
        //$('#txtPatientZipCode').val("");
    }
    //For Patient
    function fnSelectPatientRow(obj) {
        //alert(obj);
        $("#tblPatientList tbody tr").removeClass('selectedRow');
        $(obj).addClass('selectedRow');
        $('#PatientEmailSearchModal').modal('hide');
        $("#txtPatientFirstName").val($($(obj).find('td')[0]).html());
        $("#txtPatientLastName").val($($(obj).find('td')[1]).html());
        $("#KneeBraceFusionOASoftForm_Patient_Name").val($($(obj).find('td')[0]).html() + " " + $($(obj).find('td')[1]).html());
        //$("#KneeBraceCustomForm_DOB").val($($(obj).find('td')[3]).html());
        //$("#KneeBraceCustomForm_DOB").val($($(obj).find('input')[3]).val());
        $("#KneeBraceFusionOASoftForm_DOB").val($($(obj).find('td')[2]).html());
        $("#KneeBraceFusionOASoftForm_Patient_Id").val($($(obj).find('input')[0]).val());

        $("#CustomForm_PatientName").html($($(obj).find('td')[0]).html() + " " + $($(obj).find('td')[1]).html());
        $("#CustomForm_DOB").html($($(obj).find('td')[2]).html());

        //$("#PatientUser_Email").val($($(obj).find('input')[1]).val());

        //if ($("#hdToCC").val() == "To") {
        //    k1 = k1 + ";" + $($(obj).find('input')[1]).val();
        //    $("#EmailTo").val(k1.substr(1));

        //}
        //else if ($("#hdToCC").val() == "CC") {
        //    ccto = ccto + ";" + $($(obj).find('input')[1]).val();
        //    $("#EmailCC").val(ccto.substr(1));

        //}
       // $('#txtPatientFirstName').val("");
    }



</script>
<script type="text/javascript">

    $(document).ready(function () {

        //$('#KneeBraceFusionOASoftForm_DOB').datepicker('setEndDate', new Date());

        //$("#Model_No").hide();
        //alert($("#CustomBrace_CustomBrace_Desc").val());
        //alert($("#PreviousTreatment_PreviousTreatment_Desc").val());
        var selected = $("#CustomBrace_CustomBrace_Desc").val();
        var pnamet = '@ViewBag.userrole'
        //alert(pnamet);
        if (selected) {
            var chkArray = selected.split(',');
            for (var i = 0; i < chkArray.length; i++) {
                // alert('KneeBraceCustomFormCustomBrace_Desc' + chkArray[i]);
                $('#KneeBraceCustomFormCustomBrace_Desc' + chkArray[i]).prop('checked', 'true');
            }

        }
        var selected1 = $("#PreviousTreatment_PreviousTreatment_Desc").val();
        if (selected1) {
            var chkPrevious = selected1.split(',');
            for (var i = 0; i < chkPrevious.length; i++) {
                // alert('PreviousTreatments1' + chkPrevious[i]);
                $('#PreviousTreatments' + chkPrevious[i]).prop('checked', 'true');
            }
            PreviousTreatments1
        }

        if ($("#Prescription_IsItemReqByTherapist").val() == "True") {
            //alert("ok");
            $('#Prescription1').prop('checked', true);
            $("#Doctor_Name").hide();
            $("#Therapist_Name").show();

        }
        else if ($("#Prescription_IsItemReqByDoctor").val() == "True") {
            $("#Doctor_Name").show();
            $("#Therapist_Name").hide();
            $("#Prescription3").prop("checked", true);



        }
        else if ($("#Prescription_IsItemReqByPatient").val() == "True") {
            $("#Doctor_Name").hide();
            $("#Therapist_Name").hide();
            $("#Prescription2").prop("checked", true);

        }
        else if (pnamet == 13) {
            $("#Doctor_Name").hide();
            $("#Therapist_Name").show();
            $('#Prescription1').prop('checked', true);
        }
        else {
            $("#Doctor_Name").hide();
            $("#Therapist_Name").hide();
        }
        $("#Model_No").hide();
        $("#PatientName").hide();
        $("#DOB").hide();
        $("#Prescription").hide();
        //$("#Doctor_Name").hide();
        //$("#Therapist_Name").hide();
        $("#Diagnosis_Desc_0").hide();
        $("#ICD10Code_0").hide();
    });


    function validateInputs() {

        var flag = true;
        var Therapist_Name = document.getElementById("Prescription_Therapist_Name");
        var Doctor = document.getElementById("Prescription_Doctor_Name");
        if ($("#Prescription_IsItemReqByDoctor").val() == "true") {
            //alert(Doctor.value);
            if (Doctor.value == "") {

                $("#Doctor_Name1").show();
                $("#Doctor_Name1").text("Enter Doctor Name");
                Doctor.focus();
                flag = false;

            }
            else {
                $("#Doctor_Name1").text("");
                $("#Doctor_Name1").hide();
            }
        }
        //if (($("#Prescription2").is(':checked')) || ($("#Prescription_Therapist_Name").val() != "") || ($("#Prescription_Doctor_Name").val() != "")) {
        //    //alert(1);
        //    flag = true;

        //}
        //else {
        //    // alert(2);
        //    $("#ItemReqBy").text("Please select an option");
        //    flag = false;
        //}
        //var Model_No = document.getElementById("KneeBraceFusionOASoftForm_Model_No");
        //var PatientName = document.getElementById("KneeBraceFusionOASoftForm_Patient_Name");
        //var DOB = document.getElementById("KneeBraceFusionOASoftForm_DOB");
        //var Prescription = document.getElementById("Prescription_CompleteLOMN_Initial");
        //var Therapist_Name = document.getElementById("Prescription_Therapist_Name");
        //var Doctor = document.getElementById("Prescription_Doctor_Name");
        //var Diagnosis_Desc = document.getElementById("DMEDiognosis_0__Diagnosis_Desc");
        //var ICD10Code = document.getElementById("DMEDiognosis_0__ICD10Code");

        //if (Model_No.value == "" || Model_No.value == null || Model_No.value == '') {
        //    $("#Model_No").show();
        //    $("#Model_No").text("Enter Above and Bellow Knee Size");
        //    Model_No.focus();
        //    flag = false;
        //}
        //else
        //{
        //    $("#Model_No").hide();
        //    $("#Model_No").text("");
        //}

        //if (PatientName.value == "" ||PatientName.value ==null ||PatientName.value =='') {
        //    $("#Patient_Name").show();
        //    $("#Patient_Name").text("Enter Patient Name");
        //    PatientName.focus();
        //    flag = false;
        //}
        //else
        //{
        //    $("#Patient_Name").hide();
        //    $("#Patient_Name").text("");
        //}

        //if (DOB.value == "" ||DOB.value == '' || DOB.value ==  null) {
        //    $("#DOB").show();
        //    $("#DOB").text("Enter Patient Date of Bearth");
        //    DOB.focus();
        //    flag = false;
        //}
        //else{
        //    $("#DOB").hide();
        //    $("#DOB").text("");
        //}
        // if ((Math.abs(new Date().getFullYear() - new Date(DOB.value).getFullYear())) < 10) {
        //    $("#DOB").show();
        //    $("#DOB").text("Patient's age should be 10 years or more!!");
        //    DOB.focus();
        //    flag = false;
        // }

        // if (Diagnosis_Desc.value != undefined) {
        //     if (Diagnosis_Desc.value == null || Diagnosis_Desc.value == "" || Diagnosis_Desc.value == '') {
        //         $("#Diagnosis_Desc").show();
        //         $("#Diagnosis_Desc").text("Enter Diagnosis_Desc");
        //         Diagnosis_Desc.focus();
        //         flag = false;
        //     }
        //     else {
        //         $("#Diagnosis_Desc").hide();
        //         $("#Diagnosis_Desc").text("");
        //     }
        // }

        // if (ICD10Code.value != undefined) {
        //     if (ICD10Code.value == null || ICD10Code.value == "" || ICD10Code.value == '') {
        //         $("#ICD10Code").show();
        //         $("#ICD10Code").text("Enter ICD10 Code");
        //         ICD10Code.focus();
        //         flag = false;
        //     }
        //     else {
        //         $("#ICD10Code").hide();
        //         $("#ICD10Code").text("");
        //     }
        // }

        // if (Prescription.value == "" || Prescription.value == null || Prescription.value == '') {
        //    $("#CompleteLOMN_Initial").show();
        //    $("#CompleteLOMN_Initial").text("Enter Prescription");
        //    Prescription.focus();
        //    flag = false;
        // }
        // else {
        //     $("#CompleteLOMN_Initial").hide();
        //     $("#CompleteLOMN_Initial").text("");
        // }

        // if ($("#Prescription_IsItemReqByTherapist").is(':checked')) {
        //     if (Therapist_Name.value == "") {
        //         $("#Therapist_Name").show();
        //         $("#Therapist_Name").text("Enter Therapist Name");
        //         Therapist_Name.focus();
        //         flag = false;
        //     }
        //     else {
        //         $("#Therapist_Name").hide();
        //     }
        // }
        // else if ($("#Prescription_IsItemReqByDoctor").is(':checked')) {

        //     if (Doctor.value == "") {

        //         $("#Doctor_Name").show();
        //         $("#Doctor_Name").text("Enter Doctor Name");
        //         Doctor.focus();
        //         flag = false;

        //     }
        //     else {
        //         $("#Doctor_Name").text("");
        //         $("#Doctor_Name").hide();
        //     }
        // }

        // if ($("#Prescription_IsItemReqByPatient").is(':checked')) {
        //     if ((Doctor.value == "") && (Therapist_Name.value == "")) {
        //         return true;
        //     }
        // }
        // else if ((Therapist_Name.value == "") && (Doctor.value == "")) {
        //     $("#Therapist_Name").show();
        //     $("#Therapist_Name").text("Enter Therapist Name");
        //     Therapist_Name.focus();
        //     $("#Doctor_Name").show();
        //     $("#Doctor_Name").text("Enter Doctor Name");
        //     Doctor.focus();
        //     flag = false;
        // }
        //else {
        //    flag = true;
        //}
         return flag;
    }


</script>



<script type="text/javascript">

    $(function () {
        $("#addRows").click(function () {
            var cnt = counter - 1;
            if ($("#DMEDiognosis_" + cnt + "__Diagnosis_Desc").val() != "" && $("#DMEDiognosis_" + cnt + "__ICD10Code").val() != "") {
                fnAddICDRows();
                $("#Diagnosis_Desc_" + cnt + "").hide();
                $("#ICD10Code_" + cnt + "").hide();
            }
            else {
                if ($("#DMEDiognosis_" + cnt + "__Diagnosis_Desc").val() == "") {
                    $("#Diagnosis_Desc_" + cnt + "").show();
                    $("#Diagnosis_Desc_" + cnt + "").text("Please enter diagnosis");
                    $("#DMEDiognosis_" + cnt + "__Diagnosis_Desc").focus();
                    return false;
                }
                if ($("#DMEDiognosis_" + cnt + "__ICD10Code").val() == "") {
                    $("#ICD10Code_" + cnt + "").show();
                    $("#ICD10Code_" + cnt + "").text("Please enter ICD10 code");
                    $("#DMEDiognosis_" + cnt + "__ICD10Code").focus();
                    return false;
                }
            }
        });
    });

    function fnAddICDRows() {
        $("#dvDiagnosis").append("<div class='row'><div id='Div"
               + counter + "' class='col-sm-4 col-md-5 form-group'>" +
               "<input class='form-control Disease_nameForICD'  id='DMEDiognosis_" + counter + "__Diagnosis_Desc' name='DMEDiognosis[" + counter + "].Diagnosis_Desc' type='text'>" +
               "<span id='Diagnosis_Desc_" + counter + "' class='validateMsg' style='display: none;'></span>" +
               "</div><div id='Div1" + counter + "' class='col-sm-4 col-md-5 form-group'>" +
               "<input class='form-control ICD_CodeForICD' id='DMEDiognosis_" + counter + "__ICD10Code' name='DMEDiognosis[" + counter + "].ICD10Code'  type='text'>" +
               "<span id='ICD10Code_" + counter + "' class='validateMsg' style='display: none;'></span>" +
               "</div><div id='Div2" + counter +
               "' class='col-sm-4 col-md-2 form-group'> <button  class='addbutt' type='button' style='margin-top:0;' title='Remove New Diagnosis' onclick='removeRow("
               + counter + ")'><i class='fa fa-remove' aria-hidden='true'></i></button><input type='hidden' id='DMEDiognosis_" + counter + "__DMEDiagnosis_Id' name='DMEDiognosis[" + counter + "].DMEDiagnosis_Id' value='' class='icdidForICD' /></div></div>")
        BindOnFocusForICD();
        counter++;
    }

    //$(function () {
    //    $("#addRows").click(function () {
    //        //counter = 2;
    //        $("#dvDiagnosis").append("<div class='row'><div id='Div"
    //            + counter + "' class='col-sm-4 col-md-5 form-group'>" +
    //            "<input class='form-control Disease_nameForICD'  id='DMEDiognosis_" + counter + "__Diagnosis_Desc' name='DMEDiognosis[" + counter + "].Diagnosis_Desc' type='text'>" +
    //            "</div><div id='Div1" + counter + "' class='col-sm-4 col-md-5 form-group'>" +
    //            "<input class='form-control ICD_CodeForICD' id='DMEDiognosis_" + counter + "__ICD10Code' name='DMEDiognosis[" + counter + "].ICD10Code'  type='text'>" +
    //            "</div><div id='Div2" + counter +
    //            "' class='col-sm-4 col-md-2 form-group'> <button  class='addbutt' type='button' style='margin-top:0;' title='Remove New Diagnosis' onclick='removeRow("
    //            + counter + ")'><i class='fa fa-remove' aria-hidden='true'></i></button><input type='hidden' id='DMEDiognosis_" + counter + "__DMEDiagnosis_Id' name='DMEDiognosis[" + counter + "].DMEDiagnosis_Id' value='' class='icdidForICD' /></div></div>")
    //        BindOnFocusForICD();
    //        counter++;
    //    });
    //});

    function removeRow(cnt) {
        $("#Div" + cnt).remove();
        $("#Div1" + cnt).remove();
        $("#Div2" + cnt).remove();
        counter--;
    }
    $('#Dialog-Box').dialog({
        autoOpen: false,
        height: 500,
        width: 700,
        modal: true
    });

    function OpenDialog() {

      
        var cnt = 0;

        if (counter == 1) {
            cnt = counter - 1;
        }
        else if (counter > 1) {
            cnt = counter - 1;
        }

        var name = $('#Name').val();
        var address = $('#Address').val();
        $('#Dialog-Name').val(name);
        $('#Dialog-Address').val(address);
        $('#Dialog-Box').dialog("open");

        if ($("#DMEDiognosis_" + cnt + "__Diagnosis_Desc").val() != "" && $("#DMEDiognosis_" + cnt + "__Diagnosis_Desc").val() != " " && $("#DMEDiognosis_" + cnt + "__Diagnosis_Desc").val() != '' && $("#DMEDiognosis_" + cnt + "__Diagnosis_Desc").val() != ' ') {
            $("#SearchStr").val($("#DMEDiognosis_" + cnt + "__Diagnosis_Desc").val());
        } else {
            $("#SearchStr").val($("#DMEDiognosis_" + cnt + "__ICD10Code").val());
        }

        $("#DMEFormCode").val("L1845");
        $("#DMEICDRow").val(cnt);

        fn_ICD10_Code_Search();
    }
    


    function SearchICD10() {

        // $('#Dialog-Box').dialog("close");

        @*$.ajax({
            url: '@Url.Action("ActionName", "ControllerName")',
            type: 'POST',
            data: {
                code: $('#Dialog-Name').val()

            },
            success: function (msg) {
            },
            error: function (msg) {
            }
        });*@


        }



    //var formData = $('#Create').serializeObject();
    //$.extend(formData, { 'count': counter }); //Send Additional data


    function fnEnableDisableTextbox(obj, textbox) {
        $('.enabledisable').attr("disabled", "disabled");
        $('.enabledisable').val('');
        if ($(obj).is(":checked")) {
            $('#' + textbox).removeAttr("disabled");
            $('.checkone1').not(obj).attr("checked", false);
        }
    }


    function closeDiv() {
        $('#Dialog-Box').dialog("close");
    }
</script>
<script type="text/javascript">
    //var _rightleft;
    //function fnchooseFreestyle(m) {
    //    //alert('111');
    //    _rightleft = m;
    //    SetModelNo();
    //}

   

    var _rightleft;
    function fnchooseFreestyle(m) {
        _rightleft = m;
        // alert("Item Desc ==" + $("#Desc_" + _rightleft).text());

        SetModelNo();

        //Set the PO Item Description
        $("#hdnItemDesc").val($("#Desc_" + _rightleft).text().trim());
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetItemDesc", "KneeBraceFusionOAForm")',
            data: "{'ItemDesc':'" + $("#hdnItemDesc").val().trim() + "','ItemCode':'" + $("#PurchaseOrderItemDetail_PO_Item_Code").val().trim() + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            cache: false,
            success: function (data) {
                //alert(data);

                var desc = data;
            },
            error: function () {
                alert("Failed to load Item");
            }
        });
        //End

    }
    //function fnReCallSizeSelect() {
    //    if (_rightleft != undefined) {
    //        SetModelNo();
    //    }
    //}
    function SetModelNo() {
        
        var above = "";
        var below = "";
        var x = "";
        
        above = $('#KneeBraceFusionOASoftForm_Fitting_Above').val();
        below = $('#KneeBraceFusionOASoftForm_Fitting_Below').val();
        if (_rightleft != undefined) {
            //alert('222');
            if ((!((above == null) || (below == null)) && !((above == "") || (below == "")) && !((above == " ") || (below == " ")))) {
                //alert($('#KneeBraceFreeStyleOASoftForm_Fitting_Above').val() + " " + $('#KneeBraceFreeStyleOASoftForm_Fitting_Below').val());
                $("#Fitting tbody tr").css("color", "");
                //X=2 (Small)
                if ((above >= 13 && above <= 15) && (below >= 10 && below <= 12)) {
                    //alert('222');
                    //x = 2;
                    x = 1;
                    var model = "";
                    //model = '117' + _rightleft + x;
                    //alert(_rightleft);
                    //alert(model);
                    model = _rightleft + '10';
                    $('#KneeBraceFusionOASoftForm_Model_No').val(model);                    
                    $('#KneeBraceFusionOASoftForm_FusionKneeBraceSize_Id').val(x).attr("selected", "selected");
                    $($("#Fitting tbody tr")[0]).css("color", "#f58f22");
                    $("#PurchaseOrderItemDetail_PO_Item_Code").val(model);
                }
                    //X=3 (Medium)
                else if ((above >= 15.1 && above <= 18) && (below >= 12.1 && below <= 14)) {
                    //x = 3;
                    //alert('333');
                    x = 2;
                    var model = "";
                    //model = '117' + _rightleft + x;
                    //alert(model);
                    model = _rightleft + '20';
                    $('#KneeBraceFusionOASoftForm_Model_No').val(model);
                    $('#KneeBraceFusionOASoftForm_FusionKneeBraceSize_Id').val(x).attr("selected", "selected");
                    $($("#Fitting tbody tr")[1]).css("color", "#f58f22");
                    $("#PurchaseOrderItemDetail_PO_Item_Code").val(model);
                }
                    //X=4 (Large)
                else if ((above >= 18.1 && above <= 19.5) && (below >= 14.1 && below <= 15)) {
                    //x = 5;
                    x = 3;
                    var model = "";
                   // model = '1171' + x;
                    //alert(model);
                    model = _rightleft + '30';
                    $('#KneeBraceFusionOASoftForm_Model_No').val(model);
                    $('#KneeBraceFusionOASoftForm_FusionKneeBraceSize_Id').val(x).attr("selected", "selected");
                    $($("#Fitting tbody tr")[2]).css("color", "#f58f22");
                    $("#PurchaseOrderItemDetail_PO_Item_Code").val(model);
                }
                    //X=5 (X-Large)
                else if ((above >= 19.6 && above <= 21) && (below >= 15.1 && below <= 16)) {
                    //x = 6;
                    x = 4;
                    var model = "";
                    //model = '117' + _rightleft + x;
                    //alert(model);
                    model = _rightleft + '35';
                    $('#KneeBraceFusionOASoftForm_Model_No').val(model);
                    $('#KneeBraceFusionOASoftForm_FusionKneeBraceSize_Id').val(x).attr("selected", "selected");
                    $($("#Fitting tbody tr")[3]).css("color", "#f58f22");
                    $("#PurchaseOrderItemDetail_PO_Item_Code").val(model);
                }
                else if ((above >= 21.1 && above <= 24) && (below >= 16.1 && below <= 18)) {
                    //x = 7;
                    x = 5;
                    var model = "";
                    //model = '117' + _rightleft + x;
                    //alert(model);
                    model = _rightleft + '40';
                    $('#KneeBraceFusionOASoftForm_Model_No').val(model);
                    $('#KneeBraceFusionOASoftForm_FusionKneeBraceSize_Id').val(x).attr("selected", "selected");
                    $($("#Fitting tbody tr")[4]).css("color", "#f58f22");
                    $("#PurchaseOrderItemDetail_PO_Item_Code").val(model);
                }
                else if ((above >= 24.1 && above <= 27) && (below >= 18.1 && below <= 20)) {
                    //x = 7;
                    x = 6;
                    var model = "";
                    //model = '117' + _rightleft + x;
                    //alert(model);
                    model = _rightleft + '50';
                    $('#KneeBraceFusionOASoftForm_Model_No').val(model);
                    $('#KneeBraceFusionOASoftForm_FusionKneeBraceSize_Id').val(x).attr("selected", "selected");
                    $($("#Fitting tbody tr")[5]).css("color", "#f58f22");
                    $("#PurchaseOrderItemDetail_PO_Item_Code").val(model);
                }
                else if ((above >= 27.1 && above <= 30) && (below >= 20.1 && below <= 22)) {
                    //x = 7;
                    x = 7;
                    var model = "";
                    //model = '117' + _rightleft + x;
                    //alert(model);
                    model = _rightleft + '60';
                    $('#KneeBraceFusionOASoftForm_Model_No').val(model);
                    $('#KneeBraceFusionOASoftForm_FusionKneeBraceSize_Id').val(x).attr("selected", "selected");
                    $($("#Fitting tbody tr")[6]).css("color", "#f58f22");
                    $("#PurchaseOrderItemDetail_PO_Item_Code").val(model);
                }
                else {
                    alert("Range Violated!...");
                    $('#KneeBraceFusionOASoftForm_Model_No').val('');
                }
            }
            
        }
        
    }
    function fnEnableDisableTextbox(obj, textbox) {
        $('.enabledisable').attr("disabled", "disabled");
        $('.enabledisable').val('');
        if ($(obj).is(":checked")) {
            $('#' + textbox).removeAttr("disabled");
            $('.checkone1').not(obj).attr("checked", false);
        }
    }

    $('#btnSubmit').click(function () {
        $('#KneeBraceFusionOASoftForm_FusionKneeBraceSize_Id').removeAttr('disabled');
    });

</script>
<script>
    $('#Prescription_Doctor_Name').on("keypress", function (e) {
        //alert(11);
        $("#Doctor_Name1").hide();
        if (e.keyCode == 13) {

            var DoctorFirstName = $("#Prescription_Doctor_Name").val();
            var DoctorFirstNamesplit = DoctorFirstName.split(" ");
            if (DoctorFirstNamesplit.length > 1 && DoctorFirstNamesplit.length < 3) {
                $("#txtDoctorFirstName").val(DoctorFirstNamesplit[0]);
                $("#txtDoctorLastName").val(DoctorFirstNamesplit[1]);
            }
            else if (DoctorFirstNamesplit.length > 1 && DoctorFirstNamesplit.length >= 3) {
                $("#txtDoctorFirstName").val(DoctorFirstNamesplit[0]);
                $("#txtDoctorLastName").val(DoctorFirstNamesplit[1] + " " + DoctorFirstNamesplit[2]);
            }
            else {
                $("#txtDoctorFirstName").val($("#Prescription_Doctor_Name").val());
                $("#txtDoctorLastName").val("");
            }


            //$("#Prescription_Doctor_Name").val("");
            fnShowDoctorSearch();
            $("#btnTodoc").click();
            //$("#txtDoctorFirstName").val($("#Prescription_Doctor_Name").val());
            $("#Prescription_Doctor_Name").val("");
        }
    });
    $(document).on("click", "._SearchDoctor", function () {

        var DoctorFirstName = $("#Prescription_Doctor_Name").val();
        var DoctorFirstNamesplit = DoctorFirstName.split(" ");
        if (DoctorFirstNamesplit.length > 1 && DoctorFirstNamesplit.length < 3) {
            $("#txtDoctorFirstName").val(DoctorFirstNamesplit[0]);
            $("#txtDoctorLastName").val(DoctorFirstNamesplit[1]);
        }
        else if (DoctorFirstNamesplit.length > 1 && DoctorFirstNamesplit.length >= 3) {
            $("#txtDoctorFirstName").val(DoctorFirstNamesplit[0]);
            $("#txtDoctorLastName").val(DoctorFirstNamesplit[1] + " " + DoctorFirstNamesplit[2]);
        }
        else {
            $("#txtDoctorFirstName").val($("#Prescription_Doctor_Name").val());
            $("#txtDoctorLastName").val("");
        }


        // $("#Prescription_Doctor_Name").val("");
        fnShowDoctorSearch();
        $("#btnTodoc").click();
        //$("#txtDoctorFirstName").val($("#Prescription_Doctor_Name").val());
        $("#Prescription_Doctor_Name").val("");
    });
    function fnShowDoctorSearch() {
        $('#_SearchDoctor').modal();

        $('#btnDoctorSave').hide();
        $('#headingAddDoctor').hide();
        $('#CreateNewDoctor').hide();

        $('#btnDoctorSearch').show();
        $('#headingSearch').show();
        $('#searchDoctor').show();

        $("#btnAddNewDoctor").hide();


        $("#tblDoctorList tbody").html('');
        //$('#txtDoctorFirstName').val("");
    }
</script>

