@model DataLayer.Models.DMEOfficeStaffOrderOA
@using DataLayer;
@{
    ViewBag.Title = "Knee Brace Custom Order";
}



<section class="bodyinner">
    @*@using (Html.BeginForm("Create", "KneeBraceCustomForm", FormMethod.Post, new { name = "Create", id = "Create" }))
    {*@
       
    <div class="bodyleft">
       

        @Html.Partial("~/Views/Shared/_LeftPart.cshtml")
    </div>
        <div class="bodyright">

            <div class="report-form clearfix">
                <h2>Fusion OA Knee Brace Order Form HCPCS Code: L1845</h2>
                <div class="p_bot15"><strong>*MEDICARE PATIENTS: DO NOT PROCEED IF THEY HAVE BEEN ISSUED A ‘KNEE BRACE’ IN THE PAST 5 YEARS.</strong></div>

                <hr>
              @using (Html.BeginForm("Create3", "KneeBraceFusionOAForm", FormMethod.Post, new { name = "Create", id = "Create" }))
              { 
                <div id="dvFirst">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(e => e.Order.DMEForm_Id)
                    @*@Html.Hidden("DMEForm_Id", ViewData["id"].ToString())*@
                    @Html.Hidden("CreatedOn", DateTime.Now)
                    @Html.Hidden("DMEFormCode", "L1845")
                    @Html.HiddenFor(e => e.Order.DMEOfficeStaffOrder_Id)
                    @Html.HiddenFor(e => e.Order.DMEFormCode)
                    @Html.HiddenFor(e => e.Order.CreatedOn)
                    @Html.HiddenFor(e => e.KneeBraceFusionOASoftForm.Patient_Id)
                    @Html.HiddenFor(e => e.KneeBraceFusionOASoftForm.KneeBraceFusionOAForm_Id)
                    @if (ViewBag.Error != null)
                    {
                        @Html.Raw(ViewBag.Error)
                    }


                    <div id="dvOrder" class="todo_inner">


                        <div class="outerf">
                            <div class="stepheading"><strong>3. Office Staff </strong> <i>order</i></div>
                            <div class="hiddenform">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 form-group">
                                        <label class="checkbox-inline"> 
                                            
                                            @Html.CheckBoxFor(e => e.Order.IsFaxLOMN, new { @class = "checkbox-inline", @onclick = "fnMedicalNecessity(this,'" + @Model.Order.DMEForm_Id + "');" })
                                            Fax Letter of Med.Nec.
                                        </label>
                                        <span id="IsFaxLOMN" class="validateMsg"></span>
                                    </div>
                                </div>
                                <div>
                                    <div class="row form-group">
                                        <div class="col-sm-3 p_top10">Date</div>
                                        <div class="col-sm-5">                                            
                                            @Html.TextBoxFor(m => m.Order.FaxLOMN_Date, new { @class = "form-control datepicker datepicker-bg", @placeholder = "MM/dd/YYYY", style = "width:100%;", @Value = @Model.Order.FaxLOMN_Date.GetExactValue() })
                                            <span id="FaxLOMN_Date" class="validateMsg"></span>
                                        </div>
                                    </div>
                                </div>




                                @*<div class="row">
                                    <div class="col-sm-12 col-md-12 form-group">
                                        <label class="checkbox-inline">
                                            
                                            @Html.CheckBoxFor(e => e.Order.IsReceiveLOMN, new { @class = "checkbox-inline" })
                                            Receive Letter of Med.Nec.
                                        </label>
                                    </div>
                                </div>
                                <div>
                                    <div class="row form-group">
                                        <div class="col-sm-3 p_top10">Date</div>
                                        <div class="col-sm-5">
                                            @Html.TextBoxFor(m => m.Order.ReceiveLOMN_Date, new { @class = "form-control datepicker datepicker-bg", style = "width:100%;", @Readonly = true })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-12 form-group">
                                        <label class="checkbox-inline">
                                            
                                            @Html.CheckBoxFor(e => e.Order.IsOrderOrthosis, new { @class = "checkbox-inline" })
                                            Order Orthosis
                                        </label>
                                    </div>
                                </div>
                                <div>
                                    <div class="row form-group">
                                        <div class="col-sm-3 p_top10">Date</div>
                                        <div class="col-sm-5">
                                            @Html.TextBoxFor(m => m.Order.OrderOrthosis_Date, new { @class = "form-control datepicker datepicker-bg", style = "width:100%;", @Readonly = true })
                                        </div>
                                    </div>
                                </div>

                                <div class="row p_top15">
                                    <div class="col-sm-12 col-md-12 form-group">

                                        <p style="padding-bottom:8px;">
                                            Ph# 800-321-0607 Acct#: 23298
                                            <br /><strong>NOTE: Ground Shipping/UPS</strong>
                                        </p>
                                        <div class="row form-group">
                                            <div class="col-sm-3 p_top10">Confirmation#</div>
                                            <div class="col-sm-5">
                                                @Html.TextBoxFor(m => m.Order.ConfirmationNo, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        PO#: Last Name of the Patient

                                    </div>
                                </div>*@



                            </div>
                            <div class="subbutt">
                                @*<button type="button" class="btn btn-primary pull-left" onclick="GotoMC()">Back</button>*@
                                <button type="submit" onclick="return validateInputs()" class="btn btn-orange pull-right">Submit</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
              }

            </div>

        </div>

        <div class="clearfix"></div>
        
       
        
      
    @*}*@
</section>


<script>
    function fnMedicalNecessity(obj, KneeBraceFusionOAForm_Id) {
        if ($(obj).is(":checked")) {
            var url = "@Url.Action("MedicalNecessityPDF", "KneeBraceFusionOAForm", new { Area = "DmeForm" })" + "?id=" + KneeBraceFusionOAForm_Id;
            //fnShowPopupForDetail(url);
            popupwindow(url, 'Medical Necessity', 1000, 800);
        }
    }
</script>

@*<script type="text/javascript">

    $(document).ready(function () {
        $("#FaxLOMN_Date").hide();

    });

    function validateInputs() {
        var FaxLOMN_Date = document.getElementById("Order_FaxLOMN_Date");


        if (FaxLOMN_Date.value == "") {
            $("#FaxLOMN_Date").show();
            $("#FaxLOMN_Date").text("Enter PatientMC No");
            FaxLOMN_Date.focus();
            return false;
        }

        else {
            return true;
        }

    }
</script>*@


<script type="text/javascript">
    $(document).ready(function () {

        $('#Order_FaxLOMN_Date').datepicker('setEndDate', new Date());
        $("#Order_IsFaxLOMN").focus();
        $('#FaxLOMN_Date').hide();
        $('#IsFaxLOMN').hide();
    });

    function validateInputs() {
        var Fax_Date = document.getElementById("Order_FaxLOMN_Date");
        var IsFax = document.getElementById("Order_IsFaxLOMN");

        if (!IsFax.checked) {
            $('#IsFaxLOMN').text("Please checked the checkbox");
            $('#IsFaxLOMN').show();
            IsFax.focus();
            return false;
        }
        else {
            $('#IsFaxLOMN').hide();
        }

        if (Fax_Date != undefined) {
            if (Fax_Date.value == null || Fax_Date.value == "" || Fax_Date.value == '') {
                $('#FaxLOMN_Date').text("Please enter date.");
                $('#FaxLOMN_Date').show();
                Fax_Date.focus();
                return false;
            }
            else {
                $('#FaxLOMN_Date').hide();
            }
        }
        //return false;
    }
</script>
