@using DataLayer.Models;
@using System.Web.Script.Serialization;

@{
    List<tblTLocationWorkingDetail> objListOfObj = (List<tblTLocationWorkingDetail>)ViewBag.ListOftblTLocationWorkingDetail;

    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _Location = objListOfObj.ElementAt(0).LocationId;
}
<style>
    .clsloadingforCard {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9998;
        background-color: rgba(0,0,0,.3);
        -webkit-animation: fade 500ms;
        -moz-animation: fade 500ms;
        -o-animation: fade 500ms;
        animation: fade 500ms;
    }

    .divloadingforCard {
        width: 100%;
        text-align: center;
        padding-top: 26%;
    }
</style>
<center><h2 style="margin-top:20px;">Location Working Schedule </h2></center>



<section class="bodyinner">
    <div class="container">

        <div class="report-form clearfix">
            @using (Html.BeginForm("Edit", "WorkingDetails", FormMethod.Post, new { name = "WorkingDetails", id = "WorkingDetails" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.Hidden("ModifiedOn", DateTime.Now)
                @Html.HiddenFor(Model => objListOfObj[0].CreatedOn, new { @class = "Tax_CreatedOn" })
                @Html.HiddenFor(Model => objListOfObj[0].CreatedBy, new { @class = "Tax_CreatedBy" })
                if (ViewBag.Error != null)
                {
                    @Html.Raw(ViewBag.Error)
                }
                <div class="row" id="PersiaHideShow">
                    <div class="col-sm-6 form-group">
                        @Html.Label("Location:")
                        @Html.DropDownList("LocationId", "--Select Location--")
                        <span id="LocationSelect" style="color:red">Please Select Location</span>
                    </div>
                    <div class="col-sm-6 col-md-6 form-group" hidden>
                        <label class="checkbox-inline"><input name="AllLocation" id="AllLocation" type="checkbox">Allow All Location</label>

                    </div>
                </div>

                <div id="divOneDayPriority" class="col-sm-12 form-group">
                    @{
                for (int i = 0; i <= 6; i++)
                {
                    @Html.TextBoxFor(Model => objListOfObj[i].LocationWorkingId, new { @class = "form-control txt_LocationWorkingId", style = "Display:None;", @id = "txt_LocationWorkingId" + i + "", @name = "LocationWorkingId__" + i + "", @readonly = "readonly" })
                        <div class="row TotalTable">
                            <div class="row form-group">

                                <div class="col-sm-3 form-group" id="div1DaysOption">
                                    <label>Days</label>
                                    @Html.TextBoxFor(Model => objListOfObj[i].DayName, new { @class = "form-control txt_OneDayAWeek", @id = "txt_OneDayAWeek__" + i + "", @name = "OneDayAWeek__" + i + "", @readonly = "readonly" })
                                    @*<input type="text" id="txt_OneDayAWeek__@(i)" name="OneDayAWeek__@(i)" class="txt_OneDayAWeek form-control" readonly="readonly" />*@
                                </div>
                                <div class="col-sm-3 form-group" id="div1DaysOption">
                                    <label>Clinic Open Time </label>
                                    @Html.TextBoxFor(Model => objListOfObj[i].OpenFrom, new { @class = "form-control CustomTimeFormat clockpicker txt_OpenFrom ", @id = "txt_OpenFrom__" + i + "", @name = "OpenFrom__" + i + "" })
                                    @*<input type="text" id="txt_OpenFrom__@(i)" name="OpenFrom__@(i)" class="txt_OpenFrom form-control clockpicker" />*@
                                    <span id="validationOPenFrom_@i" style="color:red">Please give clinic open time  </span>
                                </div>
                                <div class="col-sm-3 form-group" id="div1DaysOption">
                                    <label> Clinic Closing Time</label>
                                    @Html.TextBoxFor(Model => objListOfObj[i].OpenTo, new { @class = "form-control CustomTimeFormat clockpicker txt_OpenTo", @id = "txt_OpenTo__" + i + "", @name = "OpenTo__" + i + "" })
                                    @*<input type="text" id="txt_OpenTo__@(i)" name="OpenTo__@(i)" class="txt_OpenTo form-control clockpicker" />*@
                                    <span id="validationOPenTo_@i" style="color:red"> Please give clinic closing time</span>
                                    <span id="timecompare_@i" style="color:red"> Clinic Closing Time cannot be less than Clinic Open Time</span>
                                </div>
                                @*<div class="col-sm-2 form-group">
                                        <label>IsHoliday:</label>
                                        <select title="--Select--" class="dr2_Holiday form-control" id="IsHoliday__@(i)" name="IsHoliday__@(i)">
                                            @if (objListOfObj[i].IsHoliday==true)
                                            {
                                                <option selected="selected" value="False">Yes</option>
                                            <option value="True">No</option>
                                            }
                                            else
                                            {
                                            <option selected="selected" value="False">No</option>
                                            <option value="True">Yes</option>
                                            }
                                        </select>
                                    </div>*@
                                <div class="col-sm-3 form-group">
                                    <label>IsClosed:</label>
                                    <select title="--Select--" class="dr2_OffDay form-control" id="IsClosed__@(i)" name="IsClosed__@(i)">
                                        @if (objListOfObj[i].IsClosed == true)
                                        {
                                            <option selected="selected" value="True">yes</option>
                                            <option value="False">No</option>
                                        }
                                        else
                                        {
                                            <option selected="selected" value="False">No</option>
                                            <option value="True">Yes</option>
                                        }

                                    </select>
                                </div>
                            </div>
                        </div>
                }
                    }

                    <div class="subbutt">
                        <input type="button" id="__btnUpdate" value="Save" class="btn btn-orange pull-right" />
                        <span style="color:red" id="AlertMoreeThenOneDay">More than two days in a week cannot be closed</span>
                    </div>

                </div>
                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>

    </div>
</section>
<div id="loadingforCard" class="clsloadingforCard">
    <div class="divloadingforCard">
        <img src="~/Images/pageloader1.gif" width="200" height="200" />
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#loadingforCard').hide();
    });
</script>
<script>
    $('#LocationId').addClass('form-control');
    $('#LocationId').attr("disabled", true);
    function HideValidation() {
        for (var i = 0; i < 7; i++) {
            $("#validationOPenTo_" + i + "").hide();
            $("#validationOPenFrom_" + i + "").hide();
            $("#timecompare_" + i + "").hide();            
        }
        $('#LocationSelect').hide();
        $("#AlertMoreeThenOneDay").hide();
    };
    $(document).ready(function () {
        HideValidation();
    });

</script>
<script type="text/javascript">
    $("#__btnUpdate").click(function () {

        HideValidation();
        var loId = $('#LocationId').val()
        var IsValue = false;
        var CountIsClosed = 0;
        for (var i = 0; i < 7; i++) {
            var FromTime = $("#txt_OpenFrom__" + i + "").val();
            var ToTime = $("#txt_OpenTo__" + i + "").val();
            var ValInclosed = $("#IsClosed__" + i + "").val();
          //  alert(ValInclosed);
            if (ValInclosed == "True") {
                CountIsClosed++;
                if (CountIsClosed > 2) {
                    $("#AlertMoreeThenOneDay").show();
                   // alert("More than two days in a week cannot be closed");
                    IsValue = false;
                    break;
                }
            }
            if (loId == 0 && $("#AllLocation").is(':checked') == false) {
                $('#LocationSelect').show();
                IsValue = false;
                break;
            }
            else if (FromTime == "") {
                $("#validationOPenFrom_" + i + "").show();
                IsValue = false;
                break;
            }
            else if (ToTime == "") {
                $("#validationOPenTo_" + i + "").show();
                IsValue = false;
                break;
            }
            else if (FromTime > ToTime) {
                $("#timecompare_" + i + "").show();
                IsValue = false;
                break;
            }
            else {
                IsValue = true;
            }

        }
        if (IsValue == true) {
            var AllLocationId = null;
            if ($("#AllLocation").is(':checked') == true) {
                AllLocationId = "true";
            }
            else {
                AllLocationId = "false";
            }
            var __AllTable = [];
            var x = 0;
            $(".TotalTable").each(function () {
                var AllDataTableObj = {}
                AllDataTableObj['LocationId'] = $("#LocationId").val();
                AllDataTableObj['DayName'] = $(this).find(".txt_OneDayAWeek").val();
                AllDataTableObj['OpenFrom'] = $(this).find(".txt_OpenFrom").val();
                AllDataTableObj['OpenTo'] = $(this).find(".txt_OpenTo").val();
                AllDataTableObj['IsClosed'] = $(this).find(".dr2_OffDay").val();
                AllDataTableObj['CreatedOn'] = $(".Tax_CreatedOn").val();
                AllDataTableObj['CreatedBy'] = $(".Tax_CreatedBy").val();
                AllDataTableObj['LocationWorkingId'] = $("#txt_LocationWorkingId" + x + "").val();
                x++;
                __AllTable.push(AllDataTableObj);
            });
            var data = {};
            data = __AllTable;
            $('#loadingforCard').show();
            $.ajax({
                url: '@Url.Action("EditLocation", "WorkingDetails")',
                type: 'POST',
                data: JSON.stringify({ tbltlocationworkingdetail: data, AllLocation: AllLocationId }),
                cache: 'false',
                contentType: 'application/json',
                dataType: "json",
                success: function (result) {

                    if (result != null) {
                       
                        window.location.href = '@Url.Action("Index", "WorkingDetails")?msg=Success!...'+'&locationID='+result;
                        
                    }
                    else {
                        window.location.href = '@Url.Action("Index", "WorkingDetails")?msg=Error Occured!...';
                    }
                },
                error: function () {
                    return false;
                }
            });
        }
    });
    $(document).ready(function () {
        for (var i = 1; i < 7; i++) {
            if ($("#IsClosed__" + i + "").val() == "True") {
                $("#txt_OpenFrom__" + i + "").attr('disabled', 'disabled');
                $("#txt_OpenTo__" + i + "").attr('disabled', 'disabled');
            }
            else {
                $("#txt_OpenFrom__" + i + "").prop("disabled", false);
                $("#txt_OpenTo__" + i + "").prop("disabled", false);
            }
        }







        $('#IsClosed__1').change(function () {
            if ($('#IsClosed__1').val() == "True") {
                $('#txt_OpenFrom__1').val("00:00");
                $('#txt_OpenTo__1').val("00:00");
                $("#txt_OpenFrom__1").attr('disabled', 'disabled');
                $("#txt_OpenTo__1").attr('disabled', 'disabled');
            }
            else {
                $('#txt_OpenFrom__1').val("");
                $('#txt_OpenTo__1').val("");
                $("#txt_OpenFrom__1").prop("disabled", false);
                $("#txt_OpenTo__1").prop("disabled", false);
                $('#txt_OpenFrom__1').focus();
            }
        });
        $('#IsClosed__2').change(function () {
            if ($('#IsClosed__2').val() == "True") {
                $('#txt_OpenFrom__2').val("00:00");
                $('#txt_OpenTo__2').val("00:00");
                $("#txt_OpenFrom__2").attr('disabled', 'disabled');
                $("#txt_OpenTo__2").attr('disabled', 'disabled');
            }
            else {
                $('#txt_OpenFrom__2').val("");
                $('#txt_OpenTo__2').val("");
                $("#txt_OpenFrom__2").prop("disabled", false);
                $("#txt_OpenTo__2").prop("disabled", false);
                $('#txt_OpenFrom__2').focus();
            }
        });
        $('#IsClosed__3').change(function () {
            if ($('#IsClosed__3').val() == "True") {
                $('#txt_OpenFrom__3').val("00:00");
                $('#txt_OpenTo__3').val("00:00");
                $("#txt_OpenFrom__3").attr('disabled', 'disabled');
                $("#txt_OpenTo__3").attr('disabled', 'disabled');
            }
            else {
                $('#txt_OpenFrom__3').val("");
                $('#txt_OpenTo__3').val("");
                $("#txt_OpenFrom__3").prop("disabled", false);
                $("#txt_OpenTo__3").prop("disabled", false);
                $('#txt_OpenFrom__3').focus();
            }
        });
        $('#IsClosed__4').change(function () {
            if ($('#IsClosed__4').val() == "True") {
                $('#txt_OpenFrom__4').val("00:00");
                $('#txt_OpenTo__4').val("00:00");
                $("#txt_OpenFrom__4").attr('disabled', 'disabled');
                $("#txt_OpenTo__4").attr('disabled', 'disabled');
            }
            else {
                $('#txt_OpenFrom__4').val("");
                $('#txt_OpenTo__4').val("");
                $("#txt_OpenFrom__4").prop("disabled", false);
                $("#txt_OpenTo__4").prop("disabled", false);
                $('#txt_OpenFrom__4').focus();
            }
        });
        $('#IsClosed__5').change(function () {
            if ($('#IsClosed__5').val() == "True") {
                $('#txt_OpenFrom__5').val("00:00");
                $('#txt_OpenTo__5').val("00:00");
                $("#txt_OpenFrom__5").attr('disabled', 'disabled');
                $("#txt_OpenTo__5").attr('disabled', 'disabled');
            }
            else {
                $('#txt_OpenFrom__5').val("");
                $('#txt_OpenTo__5').val("");
                $("#txt_OpenFrom__5").prop("disabled", false);
                $("#txt_OpenTo__5").prop("disabled", false);
                $('#txt_OpenFrom__5').focus();
            }
        });
        $('#IsClosed__6').change(function () {
            if ($('#IsClosed__6').val() == "True") {
                $('#txt_OpenFrom__6').val("00:00");
                $('#txt_OpenTo__6').val("00:00");
                $("#txt_OpenFrom__6").attr('disabled', 'disabled');
                $("#txt_OpenTo__6").attr('disabled', 'disabled');
            }
            else {
                $('#txt_OpenFrom__6').val("");
                $('#txt_OpenTo__6').val("");
                $("#txt_OpenFrom__6").prop("disabled", false);
                $("#txt_OpenTo__6").prop("disabled", false);
                $('#txt_OpenFrom__6').focus();
            }
        });
        $('#IsClosed__7').change(function () {
            if ($('#IsClosed__7').val() == "True") {
                $('#txt_OpenFrom__7').val("00:00");
                $('#txt_OpenTo__7').val("00:00");
                $("#txt_OpenFrom__7").attr('disabled', 'disabled');
                $("#txt_OpenTo__7").attr('disabled', 'disabled');
            }
            else {
                $('#txt_OpenFrom__7').val("");
                $('#txt_OpenTo__7').val("");
                $("#txt_OpenFrom__7").prop("disabled", false);
                $("#txt_OpenTo__7").prop("disabled", false);
                $('#txt_OpenFrom__7').focus();
            }
        });
    });
    $('#AllLocation').change(function () {
        if ($(this).is(':checked')) {
            $("#LocationId").attr('disabled', 'disabled');
            $("#LocationId").val(null);
        }
        else {
            var LocationID = '@_Location';
            $("#LocationId").val(LocationID);
            $("#LocationId").attr('disabled', 'disabled');
        }
    });
</script>