@model DataLayer.Models.tblTHandBook

@{
    ViewBag.Title = "Create";
}



<section class="bodyinner">
    <div class="container">
        <div class="bodyleft">


            @Html.Partial("~/Views/Shared/_LeftPart.cshtml")
        </div>
        <div class="bodyright">

            <div class="report-form clearfix">




                @using (Html.BeginForm("Create", "Handbook", FormMethod.Post, new { name = "Create", id = "Create", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()



                    @Html.ValidationSummary(true)

                    <div class="row">
                        <div class="col-sm-6 col-md-6 form-group">


                            @Html.Label("Chapter")
                            @Html.DropDownList("Chapter", String.Empty)
                            @Html.ValidationMessageFor(model => model.Chapter)
                        </div>


                        <div class="col-sm-6 col-md-6 form-group">

                            @Html.Label("Section Name")
                            @Html.DropDownList("Section", String.Empty)
                            @Html.ValidationMessageFor(model => model.Section)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 form-group">

                            @Html.Label("Page Title")
                            @Html.TextBoxFor(model => model.PageTitle, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PageTitle)
                        </div>

                        <div class="col-sm-6 col-md-6 form-group">

                            @Html.Label("Page No")
                            @Html.TextBoxFor(model => model.PageNo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PageNo)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            @Html.Label("Page Content", new { @class = "" })
                        </div>
                        <div class="col-sm-12 col-md-12 form-group">

                            <div class="form-group">


                                @Html.HiddenFor(m => m.PageContent)
                                <div id="editor">

                                </div>

                            </div>
                            @Html.Hidden("CreatedOn", DateTime.Now)
                        </div>
                    </div>
                    <div class="subbutt">
                        <input type="submit" value="Create" class="btn btn-orange pull-right" />

                        <div class="clearfix"></div>
                    </div>



                    <p>@Html.ActionLink("Back to List", "Index")</p>
                }
            </div>



        </div>
        <div class="clearfix"></div>
    </div>
</section>

<script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")"></script>
<script src="@Url.Content("~/Scripts/ckeditor/sample.js")"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/ckeditor/samples.css")">
<link rel="stylesheet" href="@Url.Content("~/Content/ckeditor/neo.css")">
<style>
    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend.scheduler-border {
        width: inherit; /* Or auto */
        padding: 0 10px; /* To give a bit of padding on the left and right */
        border-bottom: none;
    }
</style>
<script>
    ////////////////for htmleditor(CK editor)
    initSample('editor');

    $("#Create").submit(function () {
        $("#editor").html(CKEDITOR.instances["editor"].getData());
        $("#PageContent").val($("#editor").html());
        @*$.ajax({
            url: '@Url.Action("Create", "HandBook")',
            type: 'GET',
            data: {

                PageContent: $("#PageContent").val().trim()

            },
            cache: 'false',
            success: function (result) {
                if (result == "True") {
                    //alert(result);
                    return false;
                }
                else {
                    //alert(result);
                    return false;
                }
            },
            error: function () {
                //alert("Error");
                //alert(result);
                return false;
            }
        });*@
    });
</script>

<script>
    $('#Chapter').addClass('form-control');
    $('#Section').addClass('form-control');
</script>
<script>
    $(function () {


        $('#Chapter').change(function () {

            $('#Section').empty();

            $.ajax({
                type: "POST",

                url: '@Url.Action("GetStatesBySectionName", "Handbook")',
                datatype: "Json",
                data: { Chapter_Id: $('#Chapter').val() },
                success: function (data) {
                    $.each(data, function (index, value) {
                        $('#Section').append('<option value="' + value.Section_Id + '">' + value.SectionName + '</option>');
                    });
                }
            });
        });
    });
</script>