@model IEnumerable<DataLayer.Models.tblTPaymtPatient>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PatientPortal.cshtml";
}

<h2>Index</h2>
<link href="/Content/semantic.css" rel="stylesheet">
@if (ViewBag.Error != null)
{
    <script>
        alertify.alert('@ViewBag.Error').setHeader('AdvancePT Says');
    </script>

}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentMode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardHolderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExipryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CVV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCheque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChequeNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChequeDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BranchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IFSC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmoutToPay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvancePaidAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvPtAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblMLocation.Location_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblMPatient.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblMUser.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardHolderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExipryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CVV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCheque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChequeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChequeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IFSC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmoutToPay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdvancePaidAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdvPtAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblMLocation.Location_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblMPatient.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblMUser.UserName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PatientPayTran_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.PatientPayTran_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PatientPayTran_Id })
            </td>
        </tr>
    }

</table>
