@model DataLayer.Models.DMEOfficeStaffDeliverFusionLigament
@using DataLayer;
@{
    ViewBag.Title = "Ligament Knee Brace Order";
}


<section class="bodyinner">
    <div class="bodyleft">


        @Html.Partial("~/Views/Shared/_LeftPart.cshtml")
    </div>
    <div class="bodyright">

        <div class="report-form clearfix">
            <h2>Fusion Ligament Knee Brace Order Form HCPCS Code: L1845</h2>
            <div class="p_bot15"><strong>*MEDICARE PATIENTS: DO NOT PROCEED IF THEY HAVE BEEN ISSUED A ‘KNEE BRACE’ IN THE PAST 5 YEARS.</strong></div>

            <hr>
            @using (Html.BeginForm("Create8", "KneeBraceFusionLigamentOrderForm", FormMethod.Post, new { name = "OfficeStaffDelivery_Step8", id = "OfficeStaffDelivery_Step8" }))
            {
                <div id="dvFirst">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(e => e.Deliver.DMEForm_Id)
                    @Html.HiddenFor(e => e.Deliver.DMEFormCode)
                    @Html.HiddenFor(e => e.Deliver.CreatedOn)
                    @Html.HiddenFor(e => e.Deliver.IsReceivedOrthosis)
                    @Html.HiddenFor(e => e.Deliver.ReceivedOrthosis_Date)
                    @Html.HiddenFor(e => e.Deliver.Condition)
                    @Html.HiddenFor(e => e.Deliver.DMEClinicAndOfficeStaffDeliver_Id)

                    @if (ViewBag.Error != null)
                    {
                        @Html.Raw(ViewBag.Error)
                    }


                    <div id="dvDeliver" class="todo_inner">


                        <div class="outerf">
                            <div class="stepheading"><strong>8. Clinical & Office Staff </strong> <i>deliver</i></div>

                            <div class="hiddenform">

                                <div class="row">
                                    <div class="col-sm-12 col-md-12 form-group">
                                        <label class="checkbox-inline">

                                            @Html.CheckBoxFor(e => e.Deliver.IsFitAndInstructed, new { @class = "checkbox-inline" })

                                            Fit & Instructed
                                        </label>
                                        <span id="IsFitAndInstructed" class="validateMsg"></span>
                                    </div>
                                </div>
                                <div>
                                    <div class="p_left15 p_bot15">
                                        <div class="row">
                                            <div class="col-sm-1 p_top10">Date</div>
                                            <div class="col-sm-3">
                                                @Html.TextBoxFor(m => m.Deliver.FitAndInstructed_Date, new { @class = "form-control datepicker datepicker-bgc DenyAdvanceDateSelection", @placeholder = "MM/dd/YYYY", style = "width:100%;", @Value = @Model.Deliver.FitAndInstructed_Date.GetExactValue() })
                                                <span id="FitAndInstructed_Date" class="validateMsg"></span>
                                            </div>
                                            <div class="col-sm-1 p_top10">By</div>
                                            <div class="col-sm-3">@Html.TextBoxFor(m => m.Deliver.FitAndInstructedBy, new { @class = "form-control" })
                                                <span id="FitAndInstructedBy" class="validateMsg"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="subbutt">
                                @*<button type="button" class="btn btn-primary pull-left" onclick="GotoPaperwork()">Back</button>*@
                                <button type="submit" onclick="return validateInputs()" class="btn btn-orange pull-right">Submit</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            }


        </div>

    </div>

    <div class="clearfix"></div>

</section>



@*<script type="text/javascript">

    $(document).ready(function () {
        $("#FitAndInstructed_Date").hide();
        $("#FitAndInstructedBy").hide();
    });

    function validateInputs() {
        var FitAndInstructed_Date = document.getElementById("Deliver_FitAndInstructed_Date");
        var FitAndInstructedBy = document.getElementById("Deliver_FitAndInstructedBy");

        if (FitAndInstructed_Date.value == "") {
            $("#FitAndInstructed_Date").show();
            $("#FitAndInstructed_Date").text("Enter FitAndInstructed Date");
            FitAndInstructed_Date.focus();
            return false;
        }
        if (FitAndInstructedBy.value == "") {
            $("#FitAndInstructedBy").show();
            $("#FitAndInstructedBy").text("Enter FitAndInstructed By");
            FitAndInstructedBy.focus();
            return false;
        }

    }
</script>*@

<script type="text/javascript">
    $(document).ready(function () {
        $("#Deliver_IsFitAndInstructed").focus();
        var ReceivedOrthosis_Date = document.getElementById("Deliver_ReceivedOrthosis_Date").value;
        //alert(ReceivedOrthosis_Date);
        $('#Deliver_FitAndInstructed_Date').datepicker('setStartDate', new Date(ReceivedOrthosis_Date));
        $("#IsFitAndInstructed").hide();
        $("#FitAndInstructed_Date").hide();
        $("#FitAndInstructedBy").hide();
    });


    function validateInputs() {


        var IsFit = document.getElementById("Deliver_IsFitAndInstructed");
        var Fit_Date = document.getElementById("Deliver_FitAndInstructed_Date");
        var InstructedBy = document.getElementById("Deliver_FitAndInstructedBy");


        if (!IsFit.checked) {
            $("#IsFitAndInstructed").show();
            $("#IsFitAndInstructed").text("Please check the checkbox");
            IsFit.focus();
            return false;
        }
        else {
            $("#IsFitAndInstructed").hide();
        }


        if (Fit_Date.value == "") {
            $("#FitAndInstructed_Date").show();
            $("#FitAndInstructed_Date").text("Enter Fit And Instructed Date");
            Fit_Date.focus();
            return false;
        }
        else {
            $("#FitAndInstructed_Date").text("");
        }

        if (InstructedBy.value == "") {
            $("#FitAndInstructedBy").show();
            $("#FitAndInstructedBy").text("Enter Fit And Instructed Person");
            InstructedBy.focus();
            return false;
        }
        else {
            $("#FitAndInstructedBy").text("");
        }

    }
</script>


