@model DataLayer.Models.Forgotpassword
@{
    ViewBag.Title = "Forgot";
}
@if (ViewBag.Error != null)
{
    @Html.Raw(ViewBag.Error)
}

    <div class="wrapper">
        @using (Html.BeginForm())
        {
             @Html.ValidationSummary(true)
            <section class="loginsec">
                <div class="formlogin">
                    <h2>Change Password</h2>
                    <div class="formsec">
                       
                            <div class="form-group">
                                @Html.DisplayFor(e => e.UserName, new { @class = "form-control", placeholder = "User Name"})
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(e => e.Password, new { @class = "form-control", placeholder = "Old Password" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(e => e.NewPassword, new { @class = "form-control", type = "password", placeholder = "New Password" })
                            @Html.ValidationMessageFor(e => e.NewPassword)
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(e => e.cNewPassword, new { @class = "form-control", type = "password", placeholder = "Conform Password" })
                                @Html.ValidationMessageFor(e => e.cNewPassword)
                            </div>
                            <button type="submit" class="btn btn-default left">Submit</button>
                           
                           
                            <div class="clearfix"></div>

                    </div>

                </div>
            </section>

        }

    </div>

