@model PagedList.IPagedList<DataLayer.Models.tblCEmpFormApproval>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}





<section class="bodyinner2">
    <div>
        @*<p class="pull-right">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
        </p>*@
        @using (Html.BeginForm("Index", "Menu", FormMethod.Get))
        {
            <div class="searchsec">
                @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Search by Menu Name" })
                <button><i class="fa fa-search" aria-hidden="true"></i></button>
                <div class="clearfix"></div>
            </div>
        }
        <div class="clearfix"></div>
    </div>
    <div>
        <div class="table-responsive">

            <p>@TempData["error"]</p>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayName("Form Name")
                        </th>
                       
                        
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.tblSForm.FormName)
                            </td>
                           
                        
                            <td>
                                <a href="@Url.Action("FormPermissionEdit", "Menu", new { id = item.EmpForm_Id })">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </a>
                              
                            </td>

                        </tr>

                    }
                </tbody>
            </table>
        </div>

        <div>
            <br />
            <div class="pull-left">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </div>
            @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter , CurrentSort = ViewBag.CurrentSort}))
        </div>
    </div>

</section>
