@model DataLayer.Models.DMEClinicalStaffPrescriptionSpinomedIVTLSOForm
@using DataLayer;
@{
    ViewBag.Title = "Spinomed IV TLSO Order Form";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@* <script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>

<section class="bodyinner">

    <div class="bodyleft">
        @Html.Partial("~/Views/Shared/_LeftPart.cshtml")
    </div>

    <div class="bodyright">

        <div class="report-form clearfix">
            <h2>Spinomed IV TLSO Order Form: In Stock HCPCS Code: L0456</h2>
            @*<div class="p_bot15"><strong>*MEDICARE PATIENTS: DO NOT PROCEED IF THEY HAVE BEEN ISSUED A ‘BACK BRACE’IN THE PAST 5 YEARS.</strong></div>*@

            <hr>
            @using (Html.BeginForm("Create1", "SpinomedIVTLSOForm", FormMethod.Post, new { name = "Create1", id = "Create1" }))
            {
                <div id="dvFirst">
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(e => e.Prescription.DMEForm_Id)
                    @Html.HiddenFor(e => e.Prescription.DMEFormCode)
                    @Html.HiddenFor(e => e.Prescription.CreatedOn)
                    @Html.HiddenFor(e => e.Prescription.DMEFormCode)
                    @Html.HiddenFor(e => e.Prescription.CreatedOn)
                    @Html.HiddenFor(e => e.SpinomedIVTLSOForm.SpinomedIVTLSOForm_Id)
                    @Html.HiddenFor(e => e.Prescription.DMEClinicalStaffPrescription_Id)
                    @Html.HiddenFor(e => e.SpinomedIVTLSOForm.CreatedOn)
                    @Html.HiddenFor(e => e.SpinomedIVTLSOForm.CreatedBy)
                    @Html.HiddenFor(e => e.PurchaseOrderItemDetail.PO_Item_Code)
                    @Html.Hidden("Spinomed IV TLSO")
                    @Html.HiddenFor(e => e.SpinomedIVTLSOForm.HCPCSCode)
                    @Html.HiddenFor(e => e.SpinomedIVTLSOForm.Patient_Id)
                    @if (ViewBag.Error != null)
                    {
                        @Html.Raw(ViewBag.Error)
                    }

                    <div id="dvPrescription" class="todo_inner">
                        <div id="dvFirst">

                            <h3>TLSO Description:</h3>
                            <div class="row p_bot20">

                                <div class="col-sm-12">
                                    <div class="rightgray">
                                        <ul>
                                            <li><strong>Effective for OP bone collapse, hyperkyphosis, chronic back pain thoracic & lumbar spines (5 Sizes Available).</strong></li>
                                            <li><strong>Stabilizes spine, activates spinal musculature, reduces kyphosis, reduces pain, and promotes activity.</strong></li>
                                            <li><strong>Proven to strengthen back extensors by 73% and abdominal flexors by 58%.</strong></li>
                                            <li><strong>Lightweight and comfortable with flexible straps and breathable material.</strong></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="~/Images/pic5.jpg" alt="" />
                                </div>

                                <div class="col-sm-5">
                                    <div class="rightgray">
                                        <h4>L0456 Code Includes the Following:</h4>
                                        <ul>
                                            <li>Orthosis</li>
                                            <li>All Straps, Closures and Padding</li>
                                            <li>Fitting & Adjustment</li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="col-sm-4">

                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">

                                            <tbody>
                                                <tr>
                                                    <th>Product Name</th>
                                                    <th>TLSO</th>
                                                </tr>
                                                <tr>
                                                    <th>Manufacturer</th>
                                                    <th>MediUSA</th>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <hr>

                            <h3>TLSO Fitting</h3>
                            <div class="row">
                                <div class="col-md-7 col-sm-12">


                                    <div class="table-responsive">
                                        <table id="tbl_TLSO_Fitting" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Size</th>
                                                    <th>Sacrum to Below C7</th>
                                                    <th>Model #</th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr>
                                                    <th>X-Small</th>
                                                    <th>Up To 17 inches</th>
                                                    <th>85021</th>

                                                </tr>
                                                <tr>
                                                    <th>Small</th>
                                                    <th>17-19.5 inches</th>
                                                    <th>85022</th>

                                                </tr>
                                                <tr>
                                                    <th>Medium</th>
                                                    <th>19.5-21.75 inches</th>
                                                    <th>85023</th>

                                                </tr>
                                                <tr>
                                                    <th>Large</th>
                                                    <th>21.75-24 inches</th>
                                                    <th>85024</th>

                                                </tr>
                                                
                                                <tr>
                                                    <th>X-Large</th>
                                                    <th>24-26.5 inches</th>
                                                    <th>85025</th>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                                <div class="col-md-5 col-sm-12">

                                    <div class="borderbox">
                                        <div class="abovetext">

                                            <div class="pull-left">Sacrum to Just Below C7 : @Html.TextBoxFor(e => e.SpinomedIVTLSOForm.TLSOFitting_SacrumBelowC7, new { @class = "form-control numbersOnly", onblur = "fn_SetModelNo();" }) inches</div>                                           
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="row p_bot15">
                                            <div class="col-sm-2 p_top10">Size </div>
                                            <div class="col-sm-5">
                                                @Html.DropDownListFor(e => e.SpinomedIVTLSOForm.TLSOFittingSize_Id, (IEnumerable<SelectListItem>)ViewBag.LSOFittingSize_Id, new { @class = "form-control Disabled",@readonly=true, @disabled = "disabled" })
                                                @Html.ValidationMessageFor(model => model.SpinomedIVTLSOForm.TLSOFittingSize_Id)
                                            </div>
                                        </div>

                                        <div class="row p_bot15">
                                            <div class="col-sm-2 p_top10">Model#</div>
                                            <div class="col-sm-5">
                                                @Html.TextBoxFor(e => e.SpinomedIVTLSOForm.Model_No, new { @class = "form-control",@readonly=true })
                                                <span id="Model_No" class="validateMsg"></span>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4 col-md-4 form-group">
                                    <label>Patient Name</label>
                                    @Html.TextBoxFor(m => m.SpinomedIVTLSOForm.Patient_Name, new { @class = "form-control" })
                                    <span id="Patient_Name" class="validateMsg"></span>
                                    <br />
                                    @Html.ValidationMessageFor(m => m.SpinomedIVTLSOForm.Patient_Name)
                                </div>
                                <div class="col-sm-4 col-md-4 form-group">
                                    <label for="date">DOB</label>
                                    @Html.TextBoxFor(m => m.SpinomedIVTLSOForm.DOB, new { @class = "form-control datepicker datepicker-bg CustomDateFormat", style = "width:100%;", @Value = @Model.SpinomedIVTLSOForm.DOB.GetExactValue(), @readonly = "readonly" })
                                    <span id="DOB" class="validateMsg"></span>
                                    <br />
                                    @Html.ValidationMessageFor(m => m.SpinomedIVTLSOForm.DOB)
                                </div>
                                <div class="col-sm-2 form-group" style="padding-top:25px;">
                                    <!-- Trigger the modal with a button -->
                                    <button type="button" id="btnTo" class="btn btn-info btn-lg PatientEmailSearchModal" data-toggle="modal" data-id="To" data-target="#PatientEmailSearchModal">Search Patient</button>
                                </div>
                            </div>

                            <hr>

                        </div>

                        <div class="outerf">
                            <div class="stepheading"><strong>1. Clinical Staff </strong> <i>prescription</i></div>
                            <div class="hiddenform">
                                <div class="row">
                                    <div class="col-sm-4 col-md-5 form-group">
                                        Diagnosis
                                    </div>
                                    <div class="col-sm-4 col-md-5 form-group">
                                        ICD-10 Code
                                    </div>
                                    <div class="col-sm-4 col-md-2 form-group">

                                    </div>
                                </div>
                                <div id="dvDiagnosis">
                                    <script>
                                        var counter = 0;
                                    </script>
                                    @for (int i = 0; i < Model.DMEDiognosis.Count; i++)
                                    {
                                        <div class="row">
                                            <div class="col-sm-4 col-md-5 form-group">
                                                @Html.TextBoxFor(e => e.DMEDiognosis[i].Diagnosis_Desc, new { @class = "form-control Disease_nameForICD" })
                                                <span id="Diagnosis_Desc" class="validateMsg"></span>
                                            </div>
                                            <div class="col-sm-4 col-md-5 form-group">
                                                @Html.TextBoxFor(e => e.DMEDiognosis[i].ICD10Code, new { @class = "form-control ICD_CodeForICD" })
                                                <span id="ICD10Code" class="validateMsg"></span>
                                            </div>
                                            <div class="col-sm-4 col-md-2 form-group">
                                                <button id="addRows" class="addbutt" type="button" style="margin-top:0;" title="Add New Diagnosis"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                                @Html.HiddenFor(e => e.DMEDiognosis[i].DMEDiagnosis_Id, new { @class = "icdidForICD" })
                                            </div>
                                        </div>
                                        <script>
                                            counter += 1;
                                        </script>
                                    }

                                </div>
                                <div class="p_bot15">
                                    <button type="button" class="btn btn-primary pull-left" onclick="OpenDialog()">Search ICD-10</button>
                                    <div class="clearfix"></div>
                                </div>
                                <div>
                                    <div class="row form-group">
                                        <div class="col-sm-12"></div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-6 form-group">
                                        <label class="checkbox-inline"><input name="optradio" type="checkbox">Item Requested By</label>
                                        <div class="p_left15">
                                            <label class="checkbox-inline">
                                                @Html.CheckBoxFor(e => e.Prescription.IsItemReqByTherapist, new { @class = "checkone1", onchange = "fnEnableDisableTextbox(this,'Prescription_Therapist_Name');" })
                                                Therapist
                                            </label>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 form-group p_top10">
                                                    @Html.TextBoxFor(e => e.Prescription.Therapist_Name, new { @class = "form-control enabledisable" })
                                                    <span id="Therapist_Name" class="validateMsg"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>

                                    <div class="p_left15">
                                        <label class="checkbox-inline">
                                            @Html.CheckBoxFor(e => e.Prescription.IsItemReqByPatient, new { @class = "checkone1", onchange = "fnEnableDisableTextbox(this,'Prescription_IsItemReqByTherapist');" })
                                            Patient
                                        </label>

                                    </div>
                                    <div class="p_left15">
                                        <label class="checkbox-inline">
                                            @Html.CheckBoxFor(e => e.Prescription.IsItemReqByDoctor, new { @class = "checkone1", onchange = "fnEnableDisableTextbox(this,'Prescription_Doctor_Name');" })
                                           
                                            Doctor
                                        </label>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-6 form-group p_top10">
                                                @Html.TextBoxFor(e => e.Prescription.Doctor_Name, new { @class = "form-control enabledisable" })
                                                <span id="Doctor_Name" class="validateMsg"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">                                    
                                    <div class="col-sm-6 col-md-6 form-group">
                                        <div class="col-sm-1 p_top10">Int</div>
                                        <div class="col-sm-5">
                                            @Html.TextBoxFor(e => e.Prescription.CompleteLOMN_Initial, new { @class = "form-control" })
                                            <span id="CompleteLOMN_Initial" class="validateMsg"></span>
                                         </div>
                                    </div>
                                </div>                                
                            </div>
                            <div class="subbutt">
                                @*<button type="button" class="btn btn-primary pull-left" onclick="GotoFirstPanel()">Back</button>*@
                                <input type="submit" id="btnSubmit" onclick="return validateInputs();" class="btn btn-orange pull-right" value="Submit" />
                                <div class="clearfix"></div>
                            </div>

                        </div>

                    </div>
                    <hr />
                </div>
            }

        </div>

    </div>

    <div class="clearfix"></div>
    <div id="Dialog-Box" class="ICDSearch">
        @Html.Partial("_ICDSearch")
    </div>

</section>

<div class="modal fade" id="PatientEmailSearchModal" role="dialog">
    <div class="modal-dialog modal-lg" style="width:950px;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom:0;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Search Patient Name</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div id="searchPatient">
                        <div class="row SearchFilterContainer" id="SearchFilterContainer">
                            <div class="col-sm-6 col-md-3">
                                <div class=headrightcont>First Name</div>
                                <input id="txtPatientFirstName" type="text" class="applitextfield2" name="Fname" value="" />
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class=headrightcont>Last Name</div>
                                <input id="txtPatientLastName" type="text" class="applitextfield2" name="Lname" value="" />
                            </div>

                            <div class="col-sm-6 col-md-3">
                                <div class="headrightcont">SSN</div>
                                <input id="txtPatientSSN" type="text" class="applitextfield2" name="SSN" value="" />
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="headrightcont">Phone</div>
                                <input id="txtPatientPhone" type="text" class="applitextfield2 UsCellFormat" name="Phone" value="" />
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class=headrightcont>City</div>
                                <input id="txtPatientCity" type="text" class="applitextfield2" name="City" value="" />
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class=headrightcont>State</div>
                                <input id="txtPatientState" type="text" class="applitextfield2" name="State" value="" />
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="headrightcont">Zip Code</div>
                                <input id="txtPatientZipCode" type="text" class="applitextfield2" name="ZipCode" value="" maxlength="5" />
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="headrightcont">&nbsp;</div>
                                <button class="btn btn-success fnSearchForPatient1" onclick="fnSearchForPatient();">Search</button>
                            </div>
                        </div>
                        <div class="SearchResultContainer1">
                            <table class="table table-bordered table-scroll" id="tblPatientList">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>DOB</th>
                                        <th>Email</th>
                                        @*<th>Mob No</th>
                                            <th>Home Phone</th>
                                            <th>Address</th>*@
                                    </tr>
                                </thead>
                                <tbody> </tbody>
                            </table>

                            <div id="div_noRecPatient" style="text-align: center; vertical-align: middle; line-height: 38px; display:none;"><label style='color:red'>There no records are found !!</label></div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdToCC" value="" />
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    $(document).on("click", ".PatientEmailSearchModal", function () {
        var myBookId = $(this).data('id');
        $("#btnTo").val(myBookId);
    });
    $(document).ready(function () {
        $("#SpinomedIVTLSOForm_TLSOFitting_SacrumBelowC7").focus();
    });
</script>
<script type="text/javascript">
    var k1 = "";
    var ccto = "";

    function fnSearchForPatient() {
        $.ajax({
            url: '@Url.Action("SearchForPatient", "SpinomedIVTLSOForm")',
            type: "GET",
            dataType:"JSON",
            data: {
                FirstName: $('#txtPatientFirstName').val(),
                LastName: $('#txtPatientLastName').val(),
                SSN: $('#txtPatientSSN').val(),
                Email: $('#txtPatientEmail').val(),
                Phone: $('#txtPatientPhone').val(),
                City: $('#txtPatientCity').val(),
                State: $('#txtPatientState').val(),
                ZipCode: $('#txtPatientZipCode').val()
            },
            success: function (json) {
                var count = 1;
                $("#tblPatientList tbody").html('');
                for (var i = 0; i < json.length; i++) {
                    var __date = json[i].DOB;
                    //alert('DOB:' + __date);
                    var dateString = __date.substr(6);
                    var currentTime = new Date(parseInt(dateString));
                    var month;
                    if (currentTime.getMonth() < 10)
                    {
                        month = currentTime.getMonth() + 1;
                        month = '0' + month.toString();
                    }

                    else
                        month = currentTime.getMonth() + 1;
                    var day;
                    if (currentTime.getDate() < 10)
                    {

                        day = currentTime.getDate();
                        day = '0' + day.toString();
                    }
                    else
                    {
                        day = currentTime.getDate();
                    }

                    var year = currentTime.getFullYear();
                    var date = month + "-" + day + "-" + year;
                    //alert(date);
                    var row = "<tr onclick='fnSelectPatientRow(this);'>" +
                                        "<td>" + count + "</td>" +
                                       "<td>" + json[i].First_Name + "</td>" +
                                        "<td>" + json[i].Last_Name + "</td>" +
                                        "<td>" + date + "</td>" +
                                         "<td>" + json[i].Email + "</td>" +
                                        //"<td>" + json[i].MobNo + " </td>" +
                                        //"<td>" + json[i].Email + "</td>" +
                                        //"<td>" + json[i].MobNo + " </td>" +
                                        //"<td>" + json[i].Phone2 + "</td>" +
                                        "<td> <input type='hidden' name='' value='" + json[i].Patient_Id + "' class='patientID' /><input type='hidden' name='' value='" + json[i].Email + "' class='patientEmail' />" + json[i].Address + "</td>" +
                                        "<input type='hidden' name='" + "hdn__" + count + "' id='" + "hdn__" + count + "' value='" + date + "' class='patientID' />" +
                                    "</tr>";
                    $("#tblPatientList tbody").append(row);
                    count = count + 1;
                }
                if (json.length == 0) {
                    $("#div_noRecPatient").show();
                    $("#SpinomedIVTLSOForm_Patient_Name").val("");
                    $("#Condition_PatientId").val("");
                }
            },
            error: function (msg) {
            },
        });
    }

    function fnShowPatientSearch() {
        $('#_SearchPatient').modal();

        $('#txtPatientFirstName').val("");
        $('#txtPatientLastName').val("");
        //$('#txtPatientFirstDOB').val("");
        $('#txtPatientLastSSN').val("");
        $('#txtPatientPhone').val("");
        $('#txtPatientCity').val("");
        $('#txtPatientState').val("");
        $('#txtPatientZipCode').val("");
    }
    //For Patient
    function fnSelectPatientRow(obj) {
        //alert(obj);
        $("#tblPatientList tbody tr").removeClass('selectedRow');
        $(obj).addClass('selectedRow');
        $('#PatientEmailSearchModal').modal('hide');
        $("#SpinomedIVTLSOForm_Patient_Name").val($($(obj).find('td')[1]).html() + " " + $($(obj).find('td')[2]).html());
        //$("#KneeBraceCustomForm_DOB").val($($(obj).find('td')[3]).html());
        //$("#KneeBraceCustomForm_DOB").val($($(obj).find('input')[3]).val());
        $("#SpinomedIVTLSOForm_DOB").val($($(obj).find('td')[3]).html());
        $("#SpinomedIVTLSOForm_Patient_Id").val($($(obj).find('input')[0]).val());
        //$("#PatientUser_Email").val($($(obj).find('input')[1]).val());

        //if ($("#hdToCC").val() == "To") {
        //    k1 = k1 + ";" + $($(obj).find('input')[1]).val();
        //    $("#EmailTo").val(k1.substr(1));

        //}
        //else if ($("#hdToCC").val() == "CC") {
        //    ccto = ccto + ";" + $($(obj).find('input')[1]).val();
        //    $("#EmailCC").val(ccto.substr(1));

        //}
    }



</script>

<script type="text/javascript">



    $(function () {
        $("#addRows").click(function () {
            //counter = 2;
            $("#dvDiagnosis").append("<div class='row'><div id='Div"
                + counter + "' class='col-sm-4 col-md-5 form-group'>" +
                "<input class='form-control Disease_nameForICD'  id='DMEDiognosis_" + counter + "__Diagnosis_Desc' name='DMEDiognosis[" + counter + "].Diagnosis_Desc' type='text'>" +
                "</div><div id='Div1" + counter + "' class='col-sm-4 col-md-5 form-group'>" +
                "<input class='form-control ICD_CodeForICD' id='DMEDiognosis_" + counter + "__ICD10Code' name='DMEDiognosis[" + counter + "].ICD10Code'  type='text'>" +
                "</div><div id='Div2" + counter +
                "' class='col-sm-4 col-md-2 form-group'> <button  class='addbutt' type='button' style='margin-top:0;' title='Remove New Diagnosis' onclick='removeRow("
                + counter + ")'><i class='fa fa-remove' aria-hidden='true'></i></button><input type='hidden' id='DMEDiognosis_" + counter + "__DMEDiagnosis_Id' name='DMEDiognosis[" + counter + "].DMEDiagnosis_Id' value='' class='icdidForICD' /></div></div>")
            BindOnFocusForICD();
            counter++;
        });
    });

    function removeRow(cnt) {
        $("#Div" + cnt).remove();
        $("#Div1" + cnt).remove();
        $("#Div2" + cnt).remove();
        counter--;
    }
    $('#Dialog-Box').dialog({
        autoOpen: false,
        height: 500,
        width: 700,
        modal: true
    });

    function OpenDialog() {

        var name = $('#Name').val();
        var address = $('#Address').val();
        $('#Dialog-Name').val(name);
        $('#Dialog-Address').val(address);
        $('#Dialog-Box').dialog("open");
    }


    function SearchICD10() {

        // $('#Dialog-Box').dialog("close");

        @*$.ajax({
            url: '@Url.Action("ActionName", "ControllerName")',
            type: 'POST',
            data: {
                code: $('#Dialog-Name').val()

            },
            success: function (msg) {
            },
            error: function (msg) {
            }
        });*@


    }



    //var formData = $('#Create').serializeObject();
    //$.extend(formData, { 'count': counter }); //Send Additional data





    function closeDiv() {
        $('#Dialog-Box').dialog("close");
    }
</script>

<script type="text/javascript">
    function fn_SetModelNo() {
        var size = "";
        var inches = "";
        var modelNo = "";

        inches = $('#SpinomedIVTLSOForm_TLSOFitting_SacrumBelowC7').val();
        $("#tbl_TLSO_Fitting tbody tr").css("color", "");
        //alert(inches);
        if (inches != undefined) {
            if ((inches != null) && (inches != '') && (inches != ' '))
            {
                //alert(inches);
                //X-Small	Up To 17 inches	
                if (inches >= 1 && inches <= 17)
                {
                    modelNo = 85021;
                    size = 1;
                    $('#SpinomedIVTLSOForm_Model_No').val(modelNo);
                    $('#SpinomedIVTLSOForm_TLSOFittingSize_Id').val(size).attr("selected", "selected");
                    $($("#tbl_TLSO_Fitting tbody tr")[0]).css("color", "#f58f22");
                }
                 //Small	17-19.5 inches
                else if (inches >= 17 && inches <= 19.5) {
                    modelNo = 85022;
                    size = 2;
                    $('#SpinomedIVTLSOForm_Model_No').val(modelNo);
                    $('#SpinomedIVTLSOForm_TLSOFittingSize_Id').val(size).attr("selected", "selected");
                    $($("#tbl_TLSO_Fitting tbody tr")[1]).css("color", "#f58f22");
                }
                //Medium	19.5-21.75 inches
                else if (inches >= 19.5 && inches <= 21.75)
                {
                    modelNo = 85023;
                    size = 3;
                    $('#SpinomedIVTLSOForm_Model_No').val(modelNo);
                    $('#SpinomedIVTLSOForm_TLSOFittingSize_Id').val(size).attr("selected", "selected");
                    $($("#tbl_TLSO_Fitting tbody tr")[2]).css("color", "#f58f22");
                }
                    //Large	   21.75-24 inches
                else if (inches >= 21.75 && inches <= 24)
                {
                    modelNo = 85024;
                    size=4;
                    $('#SpinomedIVTLSOForm_Model_No').val(modelNo);
                    $('#SpinomedIVTLSOForm_TLSOFittingSize_Id').val(size).attr("selected", "selected");
                    $($("#tbl_TLSO_Fitting tbody tr")[3]).css("color", "#f58f22");
                }
                //X-Large	24-26.5 inches
                else if (inches >= 24 && inches <= 26.5) {
                    modelNo = 85025;
                    size=5;
                    $('#SpinomedIVTLSOForm_Model_No').val(modelNo);
                    $('#SpinomedIVTLSOForm_TLSOFittingSize_Id').val(size).attr("selected", "selected");
                    $($("#tbl_TLSO_Fitting tbody tr")[4]).css("color", "#f58f22");
                }
                else
                {
                    alert('Sacrum to Just Below C7 not in range!.......');
                }
            }
            else {
                alert('Input Size Properly!...');
            }
        }

    }

    $("#btnSubmit").click(function () {
        $('#SpinomedIVTLSOForm_TLSOFittingSize_Id').removeAttr('disabled');
    });
    function fnEnableDisableTextbox(obj, textbox) {
        $('.enabledisable').attr("disabled", "disabled");
        $('.enabledisable').val('');
        if ($(obj).is(":checked")) {
            $('#' + textbox).removeAttr("disabled");
            $('.checkone1').not(obj).attr("checked", false);
        }
    }
</script>

<script type="text/javascript">
    $('.numbersOnly').keyup(function () {
        if (this.value != this.value.replace(/[^0-9\.]/g, '')) {
            this.value = this.value.replace(/[^0-9\.]/g, '');
        }
    });
</script>

<script type="text/javascript">

    $(document).ready(function () {

        $('#SpinomedIVTLSOForm_DOB').datepicker('setEndDate', new Date());

        $("#Model_No").hide();
        $("#Therapist_Name").hide();
        $("#Doctor_Name").hide();
        $("#CompleteLOMN_Initial").hide();
        $("#Patient_Name").hide();
        $("#DOB").hide();
        $("#Diagnosis_Desc").hide();
        $("#ICD10Code").hide();
    });

    function validateInputs() {
        var flag = true;
        var Model = document.getElementById('SpinomedIVTLSOForm_Model_No');
        var Patient_Name = document.getElementById("SpinomedIVTLSOForm_Patient_Name");
        var DOB = document.getElementById("SpinomedIVTLSOForm_DOB");
        var Therapist = document.getElementById("Prescription_Therapist_Name");
        var Doctor = document.getElementById("Prescription_Doctor_Name");
        var Initial = document.getElementById("Prescription_CompleteLOMN_Initial");
        var Diagnosis_Desc = document.getElementById("DMEDiognosis_0__Diagnosis_Desc");
        var ICD10Code = document.getElementById("DMEDiognosis_0__ICD10Code");

        if (Model.value == "" || Model.value ==null ||Model.value =='') {
            $("#Model_No").show();
            $("#Model_No").text("Enter Size");
            Model.focus();
            flag = false;
        }
        else {
            $("#Model_No").hide();
            $("#Model_No").text("");
        }

        if (Patient_Name.value == "" || Patient_Name.value == '' || Patient_Name.value == null) {
            $("#Patient_Name").show();
            $("#Patient_Name").text("Enter Patient Name");
            Patient_Name.focus();
            flag = false;
        }
        else
        {
            $("#Patient_Name").hide();
            $("#Patient_Name").text("");
        }

        if (DOB.value == "" ||DOB.value ==null ||DOB.value =='') {
            $("#DOB").show();
            $("#DOB").text("Enter DOB");
            DOB.focus();
            flag = false;
        }
        else{
            $("#DOB").hide();
            $("#DOB").text("");
        }
         if ((Math.abs(new Date().getFullYear() - new Date(DOB.value).getFullYear())) < 10) {
            $("#DOB").show();
            $("#DOB").text("Patient's age should be 10 years or more!!");
            DOB.focus();
            flag = false;
         }

         if (Diagnosis_Desc.value != undefined) {
             if (Diagnosis_Desc.value == null || Diagnosis_Desc.value == "" || Diagnosis_Desc.value == '') {
                 $("#Diagnosis_Desc").show();
                 $("#Diagnosis_Desc").text("Enter Diagnosis_Desc");
                 Diagnosis_Desc.focus();
                 flag = false;
             }
             else {
                 $("#Diagnosis_Desc").hide();
                 $("#Diagnosis_Desc").text("");
             }
         }

         if (ICD10Code.value != undefined) {
             if (ICD10Code.value == null || ICD10Code.value == "" || ICD10Code.value == '') {
                 $("#ICD10Code").show();
                 $("#ICD10Code").text("Enter ICD10 Code");
                 ICD10Code.focus();
                 flag = false;
             }
             else {
                 $("#ICD10Code").hide();
                 $("#ICD10Code").text("");
             }
         }

       
         if (Initial.value == "" || Initial.value == null || Initial.value == '') {
            $("#CompleteLOMN_Initial").show();
            $("#CompleteLOMN_Initial").text("Enter Initial");
            Initial.focus();
            flag = false;
         }
         else {
             $("#CompleteLOMN_Initial").hide();
             $("#CompleteLOMN_Initial").text("");
         }
        
        if ($("#Prescription_IsItemReqByTherapist").is(':checked')) {
            if (Therapist.value == "") {
                $("#Therapist_Name").show();
                $("#Therapist_Name").text("Enter Therapist Name");
                Therapist.focus();
                flag = false;
            }
        } else if ($("#Prescription_IsItemReqByDoctor").is(':checked')) {
            if (Doctor.value == "") {
                $("#Doctor_Name").show();
                $("#Doctor_Name").text("Enter Doctor Name");
                Doctor.focus();
                flag = false;

            }

        }

        if (Initial.value == "" || Initial.value == null || Initial.value == "") {
            $("#Initial").show();
            $("#Initial").text("Enter Initial");
            Therapist.focus();
            flag = false;
        }
        else {
            $("#Initial").hide();
            $("#Initial").text("");
        }

        if (
            $("#Prescription_IsItemReqByPatient").is(':checked')) {
            if ((Doctor.value == "") && (Therapist.value == "")) {
                return true;
            }
        }
        else if ((Doctor.value == "") && (Therapist.value == "")) {
            $("#Therapist_Name").show();
            $("#Therapist_Name").text("Enter Therapist Name");
            Therapist.focus();
            $("#Doctor_Name").show();
            $("#Doctor_Name").text("Enter Doctor Name");
            Doctor.focus();
            flag = false;
        }

        return flag;

    }
</script>