@model DataLayer.Models.tblTSpinomedIVTLSOForm

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tblTSpinomedIVTLSOForm</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.SpinomedIVTLSOForm_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.HCPCSCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HCPCSCode)
                @Html.ValidationMessageFor(model => model.HCPCSCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product_Name)
                @Html.ValidationMessageFor(model => model.Product_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Manufacturer_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Manufacturer_Name)
                @Html.ValidationMessageFor(model => model.Manufacturer_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TLSOFitting_SacrumBelowC7, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TLSOFitting_SacrumBelowC7)
                @Html.ValidationMessageFor(model => model.TLSOFitting_SacrumBelowC7)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TLSOFittingSize_Id, "TLSOFittingSize_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TLSOFittingSize_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.TLSOFittingSize_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Model_No, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Model_No)
                @Html.ValidationMessageFor(model => model.Model_No)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Patient_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Patient_Name)
                @Html.ValidationMessageFor(model => model.Patient_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DOB)
                @Html.ValidationMessageFor(model => model.DOB)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DMEClinicalStaffPrescription_Id, "DMEClinicalStaffPrescription_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DMEClinicalStaffPrescription_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.DMEClinicalStaffPrescription_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DMEOfficeStaffMC_Id, "DMEOfficeStaffMC_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DMEOfficeStaffMC_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.DMEOfficeStaffMC_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DMEOfficeStaffOrder_Id, "DMEOfficeStaffOrder_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DMEOfficeStaffOrder_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.DMEOfficeStaffOrder_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DMEOfficeStaffPaperwork_Id, "DMEOfficeStaffPaperwork_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DMEOfficeStaffPaperwork_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.DMEOfficeStaffPaperwork_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DMEClinicAndOfficeStaffDeliver_Id, "DMEClinicAndOfficeStaffDeliver_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DMEClinicAndOfficeStaffDeliver_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.DMEClinicAndOfficeStaffDeliver_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Revised_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Revised_Date)
                @Html.ValidationMessageFor(model => model.Revised_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DMEForm_Status_Id, "DMEForm_Status_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DMEForm_Status_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.DMEForm_Status_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedBy, "CreatedBy", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CreatedBy", String.Empty)
                @Html.ValidationMessageFor(model => model.CreatedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedOn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedOn)
                @Html.ValidationMessageFor(model => model.CreatedOn)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifiedBy, "ModifiedBy", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ModifiedBy", String.Empty)
                @Html.ValidationMessageFor(model => model.ModifiedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifiedOn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModifiedOn)
                @Html.ValidationMessageFor(model => model.ModifiedOn)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
