@model DataLayer.Models.tblTGoodDeedForm

@{
    ViewBag.Title = "Edit";
}



<section class="bodyinner">
    <div class="container">
        <div class="bodyleft">
           
            @Html.Partial("~/Views/Shared/_LeftPart.cshtml")
        </div>
        <div class="bodyright">

            <div class="report-form clearfix">
                <h2>GoodDeed report Form</h2>


               


               
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true)
                     @Html.HiddenFor(model => model.GoodDeed_Id)
                @Html.Hidden("ModifiedOn", DateTime.Now)
                @Html.HiddenFor(model => model.ModifiedBy)
                @Html.HiddenFor(model => model.CreatedOn)
                @Html.HiddenFor(model => model.CreatedBy)
                 if (ViewBag.Error != null)
                {
                    @Html.Raw(ViewBag.Error)
                }
                    <div class="row">
                        <div class="col-sm-6 col-md-6 form-group">
                            @Html.Label("Today's Date")
                            @Html.TextBoxFor(model => model.TodaysDate, new { @class = "form-control datepicker datepicker-bg", style = "width:100%;", @Value = DateTime.Now.ToString("MM/dd/yyyy"), @Readonly = true })
                            @Html.ValidationMessageFor(model => model.TodaysDate)
                        </div>

                        <div class="col-sm-6 col-md-6 form-group">


                            @Html.Label("Office Location")
                            @Html.DropDownList("OfficeLocation", String.Empty)
                            @Html.ValidationMessageFor(model => model.OfficeLocation)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 form-group">
                            @Html.Label("Employee First Name")
                            @Html.TextBoxFor(model => model.EmpFirstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EmpFirstName)
                        </div>
                        <div class="col-sm-6 col-md-4 form-group">
                            @Html.Label("Employee Last Name")
                            @Html.TextBoxFor(model => model.EmpLastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EmpLastName)
                        </div>
                        <div class="col-sm-6 col-md-4 form-group">
                            @Html.Label("Job Title")
                            @Html.TextBoxFor(model => model.JobTitle, new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.JobTitle)
                        </div>

                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 form-group">
                            @Html.Label("Provide details of the good deed preformed")
                            @Html.TextAreaFor(model => model.GoodDeedPerformed, new { @class = "form-control",@id = "txtdata", @onkeyup = "javascript:ValidateCharactercount(this);", @maxlength = "2000", @autocomplete = "off"  })
                            @Html.ValidationMessageFor(model => model.GoodDeedPerformed)
                            <div id="divmessage" style="color: green;"></div>  
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 form-group">
                            @Html.Label("Witness First & Last Name")
                            &nbsp;&nbsp;
                            @Html.TextBoxFor(model => model.WitnessFirstLastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.WitnessFirstLastName)
                        </div>
                        <div class="col-sm-6 col-md-4 form-group">
                            @Html.Label("Date When Good Deed Happened")

                            @Html.TextBoxFor(model => model.GoodDeedDt, new { @class = "form-control datepicker datepicker-bg", placeholder = "mm/dd/yyyy", style = "width:100%;" })
                            @Html.ValidationMessageFor(model => model.GoodDeedDt)
                        </div>
                        <div class="col-sm-6 col-md-4 form-group">
                            @Html.Label("Time When Good Deed Happened")
                            @Html.TextBoxFor(model => model.GoodDeedTm, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.GoodDeedTm)
                        </div>

                    </div>
                    <hr>



                    <div class="subbutt">
                        <input type="submit" value="Save" class="btn btn-orange pull-right" />
                        

                        <div class="clearfix"></div>
                    </div>
                    <p>@Html.ActionLink("Back to List", "Index")</p>
                }
            </div>



        </div>
        <div class="clearfix"></div>
    </div>
</section>


<script>
    $('#OfficeLocation').addClass('form-control');
</script>

<script>
    jQuery('.datepicker').datepicker();
</script>

<script language="javascript">
    function ValidateCharactercount(cont) {
        var len = cont.value.length;
        var remchars = 2000 - len;
        if (remchars == 0) {
            //alert('Maximum Length Is 500 Chars!......');
            $('#divmessage').css('color', 'red');
        }
        else {
            $('#divmessage').css('color', 'green');
        }
        //var id = "#" + cont.id;
        $("#divmessage").html("Character remaning :" + remchars);
    }
</script>