@{
    ViewBag.Title = "PatientSelfSchedule";
    Layout = "~/Views/Shared/_PatientPortal.cshtml";

    var _ForReschedeule = "";
}
@*<script>
        _ForReschedeule = '@ViewBag.ForReschedule';
        alert(_ForReschedeule);
    </script>*@
<style>
    .innerbo {
        padding: 12px;
        background: #f3f3f3;
        margin: 12px 5px;
        font-size: 16px;
    }
</style>
<style>
    .loadingdivAvailSlot {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9998;
        background-color: rgba(0,0,0,.3);
        -webkit-animation: fade 500ms;
        -moz-animation: fade 500ms;
        -o-animation: fade 500ms;
        animation: fade 500ms;
    }

    .loadingcontainerAvailSlot {
        width: 100%;
        text-align: center;
        padding-top: 26%;
    }
</style>
<section class="selfscheduleheader">


    <div class="activationform_fullpage">
        @using (Html.BeginForm())
        {
            <div class="report-form clearfix">
                <h2 id="h2schedule"></h2>

                <div class="topforn">

                </div>

                @*<div id="dvid_1" class="inlinetext">

                        <div class="headrightcont">
                            Which is better, mornings or afternoons?


                        </div>
                        <div>


                            <div class="radio-tile-group">
                                <div class="input-container">
                                    <input type="radio" name='rbSession' id="rbSession" value="1" class="radio-button">
                                    <div class="radio-tile">
                                        <label class="radio-tile-label">Morning</label>
                                    </div>

                                </div>
                                <div class="input-container">
                                    <input type="radio" name='rbSession' id="rbSession" value="2" class="radio-button">
                                    <div class="radio-tile">
                                        <label class="radio-tile-label">Afternoon</label>
                                    </div>

                                </div>
                            </div>






                            <div class="clearfix"></div>
                            <div class="subbutt" id="btn_div1">

                                <input type="button" id="_btnnext" value="Next" class="btn btn-primary pull-right" style="color:white" />

                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>*@
                <div id="dvid_2" class="inlinetext">

                    <div id="availableslot">


                    </div>
                    <div class="subbutt" id="btn_div2">
                        <input type="button" id="btnResetForReschedule" value="Reset" class="btn btn-primary pull-left" style="color:white" onclick="GetAvailableSlotByDate('nextReschedule');" />
                        <input type="button" id="btnReset" value="Reset" class="btn btn-primary pull-left" style="color:white" onclick="GetAvailableSlotByDate('next');" />
                        <input type="button" class="btn btn-primary pull-left" id="btnnextoption" value="Next Availability" onclick="functionnextoptionByPriority();" />
                        <input type="button" class="btn btn-primary pull-left" id="btnnextoptionbydate" value="Save & Next Week" onclick="GetAvailableSlotByDate('Nextdatewise');" />
                        <input type="button" class="btn btn-primary pull-left" id="btnnextoptionbydateforReschd" value="Next Week" onclick="GetAvailableSlotByDate('NextdatewiseReschedule');" />
                        <input type="button" id="_btnSave" value="Save & Exit" class="btn btn-orange pull-right" style="color:white" />
                        <input type="button" id="_btnSaveForReschedule" value="Save & Exit" class="btn btn-orange pull-right" style="color:white" />
                        @*<input type="button" id="_btnSaveForReschedule" value="Save & Exit" class="btn btn-orange pull-right" style="color:white" />*@

                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>



                @*@Html.Partial("_PrevNext")*@

                @*<div id="dvid_subbutt" class="subbutt" style="display:none">

                        <button type="submit" class="btn btn-orange pull-right">Submit</button>
                        <div class="clearfix"></div>
                    </div>*@



            </div>


        }
    </div>

</section>
<div id="loadforAvailSlot" class="loadingdivAvailSlot">
    <div class="loadingcontainerAvailSlot">
        <img src="~/Images/pageloader1.gif" width="200" height="200" />
    </div>
</div>
<script>
    //$("#_btnprev").click(function () {
    //    DeleteFromSearchTable();
    //});
    $("#_btnSave").click(function () {
        @*var ForReschedeule = '@ViewBag.ForReschedule';
        //alert(ForReschedeule);
        if (ForReschedeule != "") {
            alert("Your reschedule has been successfully placed");
            window.location.href = '@Url.Action("Index", "Patient")';
        }
        else {

            SaveDataToAppoTable();
        }*@
        SaveDataToAppoTable();
    });
    $("#_btnSaveForReschedule").click(function () {
        SaveDataToAppoTableForReschedule();

    });

    //__last = 2;
    //function fnValidate(pos) {

    //    return true;
    //}

    //function fnNextToShow(pos) {

    //    //alert('pos === ' + pos);
    //    if (pos == 1)
    //    {
    //        //alert($("input[type='radio'][name='rbSession']:checked").val());
    //        if ($("input[type='radio'][name='rbSession']:checked").val() == undefined) {
    //            //alert("fdfdfdsf");
    //            alert("Choose any one option!!");
    //            return pos;

    //        }
    //        else {
    //            //alert("Ok");
    //            GetAvailableSlot();
    //            pos = pos + 1;
    //            return pos;
    //        }
    //    }

    //}


    //function fnTriggerAtEnd() {
    //    if ($("#dvid_" + __last).is(':visible')) $('#dvid_subbutt').show();
    //    else $('#dvid_subbutt').hide();
    //}

</script>

<script>
    $(document).ready(function () {

        var msg = '@ViewBag.Msg';

        if (msg != ''){
            alertify.alert("" + msg  +"");
        }



        //alert("okk");
        $("#loadforAvailSlot").hide();

        var ForReschedeule = '@ViewBag.ForReschedule';
        if (ForReschedeule != "") {
            //alert(11);
            $("#btnnextoptionbydate").hide();
            $("#btnnextoptionbydateforReschd").show();

            $("#btnReset").hide();
            $("#btnResetForReschedule").show();

            $("#_btnSave").hide();
            $("#_btnSaveForReschedule").show();
            GetAvailableSlotByDate("nextReschedule");
        }
        else {
            $("#btnnextoptionbydate").show();
            $("#btnnextoptionbydateforReschd").hide();

            $("#btnResetForReschedule").hide();
            $("#btnReset").show();

            $("#_btnSave").show();
            $("#_btnSaveForReschedule").hide();
            GetAvailableSlotByDate("next");
        }
        //$("#dvid_1").show();
        //$("#dvid_2").hide();
        //$("#btn_div1").show();
        //$("#btn_div2").hide();

        //$("#dvid_1").hide();
        $("#dvid_2").show();
        //$("#btn_div1").hide();
        $("#btn_div2").show();
        //$("#_btnprev").hide();
        //$("#_btnnext").show();
        //$("#_btnSave").hide();

    });
    $("#_btnprev").click(function () {

        //$("#dvid_1").html("");
        //$("#dvid_2").html("");

        $("#dvid_1").show();
        $("#dvid_2").hide();
        $("#btn_div1").show();
        $("#btn_div2").hide();
        //$("#dvid_1").show();
        //$("#dvid_2").hide();
        //$("#_btnprev").hide();
        //$("#_btnnext").show();
        //$("#_btnSave").hide();

    });

    $("#_btnnext").click(function () {
        //alert(11);



        if ($("input[type='radio'][name='rbSession']:checked").val() == undefined) {

            alert("Choose any one option!!");
            $("#dvid_1").show();
            $("#dvid_2").hide();
            $("#btn_div1").show();
            $("#btn_div2").hide();

        }
        else {
            // alert($("input[type='radio'][name='rbSession']:checked").val());
            GetAvailableSlotByDate("next");
            //$("#dvid_1").hide();
            $("#dvid_2").show();
            //$("#btn_div1").hide();
            $("#btn_div2").show();

        }
    });
    function functionnextoptionByPriority() {
        //alert($("input[type='radio'][name='rbSession']:checked").val());
        //for partial view(Prioritybase)
        $("#loadforAvailSlot").show();
        //var session1 = $("input[type='radio'][name='rbSession']:checked").val();
        $.ajax({
            url: '@Url.Action("_SelfSchedulePartialByPrority", "Patient")',
            type: "GET",
            //dataType: "JSON",
            data: {},
            success: function (success) {
                //alert(success.TotalNoOfVisitsPerWeekNeededNew);
                //if (success.TotalNoOfVisitsPerWeekNeededNew != undefined) {
                //    $("#lbl_DaysPerWeek").text(success.TotalNoOfVisitsPerWeekNeededNew);
                //}
                //if (success.TotalNoOfVisitsPerWeekNeededNew == 'Zero' || success.TotalNoOfVisitsPerWeekNeededNew == 'One') {
                //    $("#lbl_DaysPerWeek1").text('time');
                //}
                //else {
                //    $("#lbl_DaysPerWeek1").text('times');
                //}
                //if (success.RemainingAppo != undefined) {
                //    $("#lbl_AppoRemain").text(success.RemainingAppo);
                //}
                //if (success.RemainingAppo == '0' || success.RemainingAppo == '1') {
                //    $("#lbl_AppoRemain1").text('appointment');
                //}
                //else {
                //    $("#lbl_AppoRemain1").text('appointments');
                //}
                //if (success.goalPercentageNew != undefined) {
                //    $("#lbl_GoalPercentage").text(success.goalPercentageNew);
                //}




                $("#loadforAvailSlot").hide();
                //alert(success.indexOf('innerbo'));
                if (success.indexOf('innerbo') != -1) {
                    $("#availableslot").html("");
                    $("#availableslot").html(success);


                    $("#lbl_DaysPerWeek").text($("#hdn_No_Visit_Per_Week").val());

                    if ($("#hdn_No_Visit_Per_Week").val() == 'Zero' || $("#hdn_No_Visit_Per_Week").val() == 'One') {
                        $("#lbl_DaysPerWeek1").text('time');
                    }
                    else {
                        $("#lbl_DaysPerWeek1").text('times');
                    }
                    $("#lbl_AppoRemain").text($("#hdn_RemainingAppo").val());
                    if ($("#hdn_RemainingAppo").val() == '0' || $("#hdn_RemainingAppo").val() == '1') {
                        $("#lbl_AppoRemain1").text('appointment');
                    }
                    else {
                        $("#lbl_AppoRemain1").text('appointments');
                    }
                    $("#lbl_GoalPercentage").text($("#hdn_goalPercentageNew").val());

                    if($("#h2schedule").text()=="Reschedule")
                    {
                        //alert(1);
                        $("#div_SelfScheduleHeaderContent").hide();
                    }
                    else {
                        $("#div_SelfScheduleHeaderContent").show();
                    }
                }
                else {
                    $("#availableslot").html("");
                    $("#availableslot").html('<span id="spannorecords" style="color:red;font-size: 31px;font-weight: bold;width: 100%;display: block;text-align: center;padding-bottom: 187px;padding-top: 58px;">There are no records found</span>');
                }

            },
            error: function (error) {
                $("#loadforAvailSlot").hide();
                alert("Error1: " + error);
            },
            statusCode: {
                404: function () {
                    $("#loadforAvailSlot").hide();
                    alert("Page Not Found.");
                }
            }
        });
    }
    function GetAvailableSlotByDate(fromdatewisesearch) {
        //alert(99);
        //alert(1);
        // debugger;
        var str = "";
        var __AppoTable = [];
        var intcount = 1;
        if (fromdatewisesearch == "Nextdatewise") {


            $.ajax({
                url: '@Url.Action("checkforPaymentCompletedfornextschedule", "Patient")',
                type: "POST",
                data: {},
                cache: 'false',
                contentType: 'application/json',
                // dataType: "html",
                success: function (success) {
                    if (success.obj == "no") {
                        var msg = success.message;
                        window.location.href = '@Url.Action("Index", "Patient")?msgpayamount='+msg;
                        //$("#loadforAvailSlot").hide();
                    }
                    else if (success.obj == "yes") {
                        
                        // alert(fromdatewisesearch+1);
                        //with save
                        $(".radio").each(function () {

                            var d = new Date();
                            var month = d.getMonth() + 1;
                            var day = d.getDate();
                            var GetDate = (month < 10 ? '0' : '') + month + '/' + (day < 10 ? '0' : '') + day + '/' + d.getFullYear();

                            if ($('#optionsRadios_' + intcount).is(':checked')) {
                                //alert("it's checked");
                                //alert($(".radio").children("#hdnAppoDate_" + intcount).val());
                                var RowObj = {};

                                RowObj['AppointmentDate'] = $(".radio").children("#hdnAppoDate_" + intcount).val();
                                RowObj['FromTime'] = $(".radio").children("#hdnSlotStart_" + intcount).val();
                                RowObj['ToTime'] = $(".radio").children("#hdnSlotEnd_" + intcount).val();
                                RowObj['PatientID'] = $(".radio").children("#hdnPatientId_" + intcount).val();
                                RowObj['PatientConditionId'] = $(".radio").children("#hdnPatientConditionId_" + intcount).val();
                                RowObj['ResourceID'] = $(".radio").children("#hdnResource_Id_" + intcount).val();
                                RowObj['AppointmentType'] = $(".radio").children("#hdnAppointmentType_" + intcount).val();
                                RowObj['EmployeeID'] = $(".radio").children("#hdnEmployeeId_" + intcount).val();
                                RowObj['CreatedOn'] = GetDate;
                                RowObj['CreatedBy'] = $(".radio").children("#hdnCreatedBy_" + intcount).val();

                                __AppoTable.push(RowObj);
                            }

                            intcount = intcount + 1;


                        })
                        if (__AppoTable != "") {
                            ///// check select appo as per how many days per week
                            var visitperweek=$("#hdn_visitperweek").val();

                            if (visitperweek == __AppoTable.length) { 

                            }
                            else {
                                var RemApp1 = parseInt($('#lbl_AppoRemain').text());
                                //if (RemApp1 == 1 && __AppoTable.length == 1) {
                                //}
                                //else {
                                //    alertify.alert("Please choose option(s) as per how many times per week appointment(s)!!!").setHeader('AdvancePT Says');
                                //    return false;
                                //}

                                if (RemApp1 == 1)
                                {
                                    if(__AppoTable.length == 1)
                                    {

                                    }
                                    else {
                                        alertify.alert("Please choose option(s) as per remaining appointment(s)!!!").setHeader('AdvancePT Says');
                                        return false;
                                    }
                                }
                                else if (RemApp1 == 2) {
                                    if (__AppoTable.length == 2) {

                                    }
                                    else {
                                        alertify.alert("Please choose option(s) as per remaining appointment(s)!!!").setHeader('AdvancePT Says');
                                        return false;
                                    }
                                }
                                else {
                                    alertify.alert("Please choose option(s) as per how many times per week appointment(s)!!!").setHeader('AdvancePT Says');
                                    return false;
                                }

                              
                            }





                            //for checking the remainingappo vs choose option as it will not return -(minus) appo remaining
                            var RemApp = parseInt($('#lbl_AppoRemain').text());
                            //alert(__AppoTable.length);
                            //alert($('#lbl_AppoRemain').text());
                            if (RemApp >= __AppoTable.length) {

                            }
                            else {
                                alertify.alert("Please choose option(s) as per remaining appointment(s)!!!").setHeader('AdvancePT Says');
                                return false;
                            }

                        }
                        if (__AppoTable == "") {
                            if ($('#spannorecords').length) {
                                //span is available ......only check available slot

                                $("#loadforAvailSlot").show();

                                //var session1 = $("input[type='radio'][name='rbSession']:checked").val();
                                $.ajax({
                                    url: '@Url.Action("_SelfSchedulePartialByDate", "Patient")',
                                    type: "POST",
                                    data: JSON.stringify({ data: __AppoTable, fromdatewisesearch: fromdatewisesearch }),
                                    cache: 'false',
                                    contentType: 'application/json',
                                    //dataType: "html",

                                    success: function (success) {
                                        @*//for check schedule header
                                        var chkrescheduleheader = '@ViewBag.fromdatewisesearch';
                                        alert(chkrescheduleheader);
                                        if (chkrescheduleheader != "") {
                                            $("#h2schedule").text("Reschedule");
                                        }
                                        else {
                                            $("#h2schedule").text("Schedule");
                                        }
                                        ////////////////////////*@
                                        if (success.TotalNoOfVisitsPerWeekNeededNew != undefined) {
                                            $("#lbl_DaysPerWeek").text(success.TotalNoOfVisitsPerWeekNeededNew);
                                        }
                                        if (success.TotalNoOfVisitsPerWeekNeededNew == 'Zero' || success.TotalNoOfVisitsPerWeekNeededNew == 'One') {
                                            $("#lbl_DaysPerWeek1").text('time');
                                        }
                                        else {
                                            $("#lbl_DaysPerWeek1").text('times');
                                        }
                                        if (success.RemainingAppo != undefined) {
                                            $("#lbl_AppoRemain").text(success.RemainingAppo);
                                        }
                                        if (success.RemainingAppo == '0' || success.RemainingAppo == '1') {
                                            $("#lbl_AppoRemain1").text('appointment');
                                        }
                                        else {
                                            $("#lbl_AppoRemain1").text('appointments');
                                        }
                                        if (success.goalPercentageNew != undefined) {
                                            $("#lbl_GoalPercentage").text(success.goalPercentageNew);
                                        }
                                        //alert($("#hdn_No_Visit_Per_Week").val());
                                        // alert(success);
                                        $("#loadforAvailSlot").hide();
                                        //alert(success.indexOf('innerbo'));
                                        if (success.success == "reachgoal") {
                                            //$("#loadforAvailSlot").hide();
                                            //alertify.alert("You have already reached your goal!!").setHeader('AdvancePT Says');
                                            window.location.href = '@Url.Action("Index", "Patient")?msgreachgoal=All appointments have been taken';
                                        }
                                        else if (success.success == "Nodata") {
                                            // $("#loadforAvailSlot").hide();
                                            $("#availableslot").html("");
                                            //$("#availableslot").html('<span id="spannorecords" style="color:red">There are no records found</span>');
                                            $("#availableslot").html('<span id="spannorecords" style="color:red;font-size: 31px;font-weight: bold;width: 100%;display: block;text-align: center;padding-bottom: 187px;padding-top: 58px;">There are no records found</span>');

                                        }
                                        else if (success.success == "payamount") {
                                            //$("#loadforAvailSlot").hide();
                                            window.location.href = '@Url.Action("Index", "Patient")?msgpayamount=Please pay amount for next appointment';
                                        }
                                        else if (success.success == "payamountforextracharge") {
                                            //$("#loadforAvailSlot").hide();
                                            window.location.href = '@Url.Action("Index", "Patient")?msgpayamount=Please pay amount for previous reschedule or cancellation, before next appointment';
                                        }
                                        else {
                                            //$("#loadforAvailSlot").hide();
                                            //alertify.alert("Your appointment(s) has been scheduled").setHeader('AdvancePT Says');
                                            $("#availableslot").html("");
                                            $("#availableslot").html(success);

                                            $("#lbl_DaysPerWeek").text($("#hdn_No_Visit_Per_Week").val());
                                            if ($("#hdn_No_Visit_Per_Week").val() == 'Zero' || $("#hdn_No_Visit_Per_Week").val() == 'One') {
                                                $("#lbl_DaysPerWeek1").text('time');
                                            }
                                            else {
                                                $("#lbl_DaysPerWeek1").text('times');
                                            }
                                            $("#lbl_AppoRemain").text($("#hdn_RemainingAppo").val());
                                            if ($("#hdn_RemainingAppo").val() == '0' || $("#hdn_RemainingAppo").val() == '1') {
                                                $("#lbl_AppoRemain1").text('appointment');
                                            }
                                            else {
                                                $("#lbl_AppoRemain1").text('appointments');
                                            }
                                            $("#lbl_GoalPercentage").text($("#hdn_goalPercentageNew").val());

                               

                                            // $("#hdn_Rescheduleheader").val("");
                                            ////////////////////////
                                        }
                                        //for check schedule header

                                        if ($("#hdn_Rescheduleheader").val() != "" && $("#hdn_Rescheduleheader").val() != null) {
                                            if (($("#hdn_Rescheduleheader").val() == "nextReschedule") || ($("#hdn_Rescheduleheader").val() == "NextdatewiseReschedule")) {
                                                $("#h2schedule").text("Reschedule");
                                            }
                                            else {
                                                $("#h2schedule").text("Schedule");
                                            }
                                        }
                                        else {
                                            $("#h2schedule").text("Schedule");
                                        }

                                    },
                                    error: function (error) {

                                        $("#loadforAvailSlot").hide();
                                        alert("ErrorMsg: " + error);
                                    },
                                    statusCode: {
                                        404: function () {
                                            $("#loadforAvailSlot").hide();
                                            alert("Page Not Found.");
                                        }
                                    }
                                });


                            } else {
                                //span is not available
                                alertify.alert("Please choose any one option(s)!!").setHeader('AdvancePT Says');
                                return;
                            }



                        }

                        else {

                            // alert(__AppoTable);
                            $("#loadforAvailSlot").show();

                            //var session1 = $("input[type='radio'][name='rbSession']:checked").val();
                            $.ajax({
                                url: '@Url.Action("_SelfSchedulePartialByDate", "Patient")',
                                type: "POST",
                                data: JSON.stringify({ data: __AppoTable, fromdatewisesearch: fromdatewisesearch }),
                                cache: 'false',
                                contentType: 'application/json',
                                //dataType: "html",

                                success: function (success) {


                                    if (success.TotalNoOfVisitsPerWeekNeededNew != undefined) {
                                        $("#lbl_DaysPerWeek").text(success.TotalNoOfVisitsPerWeekNeededNew);
                                    }
                                    if (success.TotalNoOfVisitsPerWeekNeededNew == 'Zero' || success.TotalNoOfVisitsPerWeekNeededNew == 'One') {
                                        $("#lbl_DaysPerWeek1").text('time');
                                    }
                                    else {
                                        $("#lbl_DaysPerWeek1").text('times');
                                    }
                                    if (success.RemainingAppo != undefined) {
                                        $("#lbl_AppoRemain").text(success.RemainingAppo);
                                    }
                                    if (success.RemainingAppo == '0' || success.RemainingAppo == '1') {
                                        $("#lbl_AppoRemain1").text('appointment');
                                    }
                                    else {
                                        $("#lbl_AppoRemain1").text('appointments');
                                    }
                                    if (success.goalPercentageNew != undefined) {
                                        $("#lbl_GoalPercentage").text(success.goalPercentageNew);
                                    }
                                    // alert($("#hdn_No_Visit_Per_Week").val());
                                    //alert(success);
                                    $("#loadforAvailSlot").hide();
                                    //alert(success.indexOf('innerbo'));
                                    if (success.success == "reachgoal") {
                                        //$("#loadforAvailSlot").hide();
                                        //alertify.alert("You have already reached your goal!!").setHeader('AdvancePT Says');
                                        window.location.href = '@Url.Action("Index", "Patient")?msgreachgoal=All appointments have been taken';
                                    }
                                    else if (success.success == "Nodata") {
                                        //$("#loadforAvailSlot").hide();
                                        $("#availableslot").html("");
                                        //$("#availableslot").html('<span id="spannorecords" style="color:red">There are no records found</span>');
                                        $("#availableslot").html('<span id="spannorecords" style="color:red;font-size: 31px;font-weight: bold;width: 100%;display: block;text-align: center;padding-bottom: 187px;padding-top: 58px;">There are no records found</span>');

                                    }
                                    else if (success.success == "payamount") {
                                        //$("#loadforAvailSlot").hide();
                                        window.location.href = '@Url.Action("Index", "Patient")?msgpayamount=Please pay amount for next appointment';
                                    }
                                    else if (success.success == "payamountforextracharge") {
                                        //$("#loadforAvailSlot").hide();
                                        window.location.href = '@Url.Action("Index", "Patient")?msgpayamount=Please pay amount for previous reschedule or cancellation, before next appointment';
                                    }
                                    else {
                                        //$("#loadforAvailSlot").hide();
                                        alertify.alert("Your appointment(s) has been scheduled").setHeader('AdvancePT Says');
                                        $("#availableslot").html("");
                                        $("#availableslot").html(success);

                                        $("#lbl_DaysPerWeek").text($("#hdn_No_Visit_Per_Week").val());
                                        if ($("#hdn_No_Visit_Per_Week").val() == 'Zero' || $("#hdn_No_Visit_Per_Week").val() == 'One') {
                                            $("#lbl_DaysPerWeek1").text('time');
                                        }
                                        else {
                                            $("#lbl_DaysPerWeek1").text('times');
                                        }
                                        $("#lbl_AppoRemain").text($("#hdn_RemainingAppo").val());
                                        if ($("#hdn_RemainingAppo").val() == '0' || $("#hdn_RemainingAppo").val() == '1') {
                                            $("#lbl_AppoRemain1").text('appointment');
                                        }
                                        else {
                                            $("#lbl_AppoRemain1").text('appointments');
                                        }
                                        $("#lbl_GoalPercentage").text($("#hdn_goalPercentageNew").val());
                           
                                        //$("#hdn_Rescheduleheader").val("");
                                        ////////////////////////
                                    }
                                    //for check schedule header

                                    if ($("#hdn_Rescheduleheader").val() != "" && $("#hdn_Rescheduleheader").val() != null) {
                                        if (($("#hdn_Rescheduleheader").val() == "nextReschedule") || ($("#hdn_Rescheduleheader").val() == "NextdatewiseReschedule")) {
                                            $("#h2schedule").text("Reschedule");
                                        }
                                        else {
                                            $("#h2schedule").text("Schedule");
                                        }
                                    }
                                    else {
                                        $("#h2schedule").text("Schedule");
                                    }

                                },
                                error: function (error) {

                                    $("#loadforAvailSlot").hide();
                                    alert("ErrorMsg: " + error);
                                },
                                statusCode: {
                                    404: function () {
                                        $("#loadforAvailSlot").hide();
                                        alert("Page Not Found.");
                                    }
                                }
                            });
                        }
                       
                    }
                  

                },
                error: function ( error) {

                    $("#loadforAvailSlot").hide();


                }
              
            });



          
        }
        else if (fromdatewisesearch == "next") {
            //alert(11);
            //  alert(fromdatewisesearch + 2);
            //without save
            $("#loadforAvailSlot").show();

            //var session1 = $("input[type='radio'][name='rbSession']:checked").val();
            $.ajax({
                url: '@Url.Action("checkforextracharge", "Patient")',
                type: "POST",
                data: {},
                cache: 'false',
                contentType: 'application/json',
                // dataType: "html",
                success: function (success) {
                    if(success=="yes")
                    {
                       
                        window.location.href = '@Url.Action("Index", "Patient")?msgpayamount=Please pay amount for previous reschedule or cancellation, before next appointment';
                        //$("#loadforAvailSlot").hide();
                    }
                    else if(success=="no")
                    {
                        // all the parts of schedeule

                        $.ajax({
                            url: '@Url.Action("_SelfSchedulePartialByDate", "Patient")',
                            type: "POST",
                            data: JSON.stringify({ data: __AppoTable, fromdatewisesearch: fromdatewisesearch }),
                            cache: 'false',
                            contentType: 'application/json',
                            // dataType: "html",
                            success: function (success) {
                                //alert(12);

                                if (success.TotalNoOfVisitsPerWeekNeededNew != undefined) {
                                    $("#lbl_DaysPerWeek").text(success.TotalNoOfVisitsPerWeekNeededNew);
                                }
                                if (success.TotalNoOfVisitsPerWeekNeededNew == 'Zero' || success.TotalNoOfVisitsPerWeekNeededNew == 'One') {
                                    $("#lbl_DaysPerWeek1").text('time');
                                }
                                else {
                                    $("#lbl_DaysPerWeek1").text('times');
                                }
                                if (success.RemainingAppo != undefined) {
                                    $("#lbl_AppoRemain").text(success.RemainingAppo);
                                }
                                if (success.RemainingAppo == '0' || success.RemainingAppo == '1') {
                                    $("#lbl_AppoRemain1").text('appointment');
                                }
                                else {
                                    $("#lbl_AppoRemain1").text('appointments');
                                }
                                if (success.goalPercentageNew != undefined) {
                                    $("#lbl_GoalPercentage").text(success.goalPercentageNew);
                                }
                                // alert(success.success);
                                $("#loadforAvailSlot").hide();
                                //alert(success.indexOf('innerbo'));
                                //if (success.indexOf('innerbo') != -1) {
                                if (success.success == "reachgoal") {
                                    //$("#loadforAvailSlot").hide();
                                    //alertify.alert("You have already reached your goal!!").setHeader('AdvancePT Says');
                                    window.location.href = '@Url.Action("Index", "Patient")?msgreachgoal=All appointments have been taken';
                                }
                                else if (success.success == "Nodata") {
                                    //$("#loadforAvailSlot").hide();
                                    $("#availableslot").html("");
                                    //$("#availableslot").html('<span id="spannorecords" style="color:red">There are no records found</span>');
                                    $("#availableslot").html('<span id="spannorecords" style="color:red;font-size: 31px;font-weight: bold;width: 100%;display: block;text-align: center;padding-bottom: 187px;padding-top: 58px;">There are no records found</span>');

                                }
                                else if (success.success == "payamount") {
                                    //$("#loadforAvailSlot").hide();
                                    window.location.href = '@Url.Action("Index", "Patient")?msgpayamount=Please pay amount for next appointment';
                                }
                                else if (success.success == "payamountforextracharge") {
                                    //$("#loadforAvailSlot").hide();
                                    window.location.href = '@Url.Action("Index", "Patient")?msgpayamount=Please pay amount for previous reschedule or cancellation, before next appointment';
                                }
                                else {
                                    //$("#loadforAvailSlot").hide();
                                    // alert("enter");
                                    //alert(success);
                                    //alertify.alert("Your appointment(s) has been scheduled").setHeader('AdvancePT Says');
                                    $("#availableslot").html("");
                                    $("#availableslot").html(success);

                                    $("#lbl_DaysPerWeek").text($("#hdn_No_Visit_Per_Week").val());
                                    if ($("#hdn_No_Visit_Per_Week").val() == 'Zero' || $("#hdn_No_Visit_Per_Week").val() == 'One') {
                                        $("#lbl_DaysPerWeek1").text('time');
                                    }
                                    else {
                                        $("#lbl_DaysPerWeek1").text('times');
                                    }
                                    $("#lbl_AppoRemain").text($("#hdn_RemainingAppo").val());
                                    if ($("#hdn_RemainingAppo").val() == '0' || $("#hdn_RemainingAppo").val() == '1') {
                                        $("#lbl_AppoRemain1").text('appointment');
                                    }
                                    else {
                                        $("#lbl_AppoRemain1").text('appointments');
                                    }
                                    $("#lbl_GoalPercentage").text($("#hdn_goalPercentageNew").val());

                                    //$("#hdn_Rescheduleheader").val("");
                                    //alert($("#hdn_Rescheduleheader").val());
                                    ////////////////////////
                                }
                                //for check schedule header
                                //alert($("#hdn_Rescheduleheader").val());
                                if ($("#h2schedule").text() == "Reschedule") {

                                    $("#h2schedule").text("Reschedule");


                                }
                                else {
                                    // alert(2);
                                    $("#h2schedule").text("Schedule");
                                }

                            },
                            error: function (request, ststus, error) {

                                $("#loadforAvailSlot").hide();
                                //alert("ErrorMsg11_responseText: " + request.responseText);
                                //alert("ErrorMsg11_State: " + error.State);
                                //alert("ErrorMsg11_Status: " + error.Status);

                            },
                            statusCode: {
                                404: function () {
                                    $("#loadforAvailSlot").hide();
                                    alert("Page Not Found.");
                                }
                            }
                        });
                    }
                    else
                    {
                                          
                        window.location.href = '@Url.Action("Index", "Patient")?msgpayamount=' + success;
                    }

                },
                error: function (request, ststus, error) {

                    $("#loadforAvailSlot").hide();
                   

                },
                statusCode: {
                    404: function () {
                        $("#loadforAvailSlot").hide();
                        alert("Page Not Found.");
                    }
                }
            });

                        
        }
        else {
            // alert(1);
            //without save and for Re Schedule
            $("#loadforAvailSlot").show();

            //var session1 = $("input[type='radio'][name='rbSession']:checked").val();
            $.ajax({
                url: '@Url.Action("_SelfSchedulePartialByDate", "Patient")',
                type: "POST",
                data: JSON.stringify({ data: __AppoTable, fromdatewisesearch: fromdatewisesearch }),
                cache: 'false',
                contentType: 'application/json',
                // dataType: "html",
                success: function (success) {

                    $("#loadforAvailSlot").hide();

                    @*if (success.TotalNoOfVisitsPerWeekNeededNew != undefined) {
                        $("#lbl_DaysPerWeek").text(success.TotalNoOfVisitsPerWeekNeededNew);
                    }
                    if (success.TotalNoOfVisitsPerWeekNeededNew == 'Zero' || success.TotalNoOfVisitsPerWeekNeededNew == 'One') {
                        $("#lbl_DaysPerWeek1").text('time');
                    }
                    else {
                        $("#lbl_DaysPerWeek1").text('times');
                    }
                    if (success.RemainingAppo != undefined) {
                        $("#lbl_AppoRemain").text(success.RemainingAppo);
                    }
                    if (success.RemainingAppo == '0' || success.RemainingAppo == '1') {
                        $("#lbl_AppoRemain1").text('appointment');
                    }
                    else {
                        $("#lbl_AppoRemain1").text('appointments');
                    }
                    if (success.goalPercentageNew != undefined) {
                        $("#lbl_GoalPercentage").text(success.goalPercentageNew);
                    }
                    // alert(success.success);
                    $("#loadforAvailSlot").hide();
                    //alert(success.indexOf('innerbo'));
                    //if (success.indexOf('innerbo') != -1) {
                    if (success.success == "reachgoal") {
                        //alertify.alert("You have already reached your goal!!").setHeader('AdvancePT Says');
                        window.location.href = '@Url.Action("Index", "Patient")?msgreachgoal="You have reached your goal"';
                    }
                    else if (success.success == "Nodata") {
                        $("#availableslot").html("");
                        //$("#availableslot").html('<span id="spannorecords" style="color:red">There are no records found</span>');
                        $("#availableslot").html('<span id="spannorecords" style="color:red;font-size: 31px;font-weight: bold;width: 100%;display: block;text-align: center;padding-bottom: 187px;padding-top: 58px;">There are no records found</span>');

                    }
                    else if (success.success == "payamount") {
                        window.location.href = '@Url.Action("Index", "Patient")?msgpayamount="Please pay amount for next appointment"';
                    }
                    else {
                        //alertify.alert("Your appointment(s) has been scheduled").setHeader('AdvancePT Says');
                        //$("#availableslot").html("");
                        //$("#availableslot").html(success);

                        //$("#lbl_DaysPerWeek").text($("#hdn_No_Visit_Per_Week").val());
                        //if ($("#hdn_No_Visit_Per_Week").val() == 'Zero' || $("#hdn_No_Visit_Per_Week").val() == 'One') {
                        //    $("#lbl_DaysPerWeek1").text('time');
                        //}
                        //else {
                        //    $("#lbl_DaysPerWeek1").text('times');
                        //}
                        //$("#lbl_AppoRemain").text($("#hdn_RemainingAppo").val());
                        //if ($("#hdn_RemainingAppo").val() == '0' || $("#hdn_RemainingAppo").val() == '1') {
                        //    $("#lbl_AppoRemain1").text('appointment');
                        //}
                        //else {
                        //    $("#lbl_AppoRemain1").text('appointments');
                        //}
                        //$("#lbl_GoalPercentage").text($("#hdn_goalPercentageNew").val());
                        //$("#div_SelfScheduleHeaderContent").hide();
                    }*@
                    $("#availableslot").html("");
                    $("#availableslot").html(success);

                    $("#lbl_DaysPerWeek").text($("#hdn_No_Visit_Per_Week").val());
                    if ($("#hdn_No_Visit_Per_Week").val() == 'Zero' || $("#hdn_No_Visit_Per_Week").val() == 'One') {
                        $("#lbl_DaysPerWeek1").text('time');
                    }
                    else {
                        $("#lbl_DaysPerWeek1").text('times');
                    }
                    $("#lbl_AppoRemain").text($("#hdn_RemainingAppo").val());
                    if ($("#hdn_RemainingAppo").val() == '0' || $("#hdn_RemainingAppo").val() == '1') {
                        $("#lbl_AppoRemain1").text('appointment');
                    }
                    else {
                        $("#lbl_AppoRemain1").text('appointments');
                    }
                    $("#lbl_GoalPercentage").text($("#hdn_goalPercentageNew").val());
                    $("#div_SelfScheduleHeaderContent").hide();
                    //for check schedule header

                    if ($("#hdn_Rescheduleheader").val() != "" && $("#hdn_Rescheduleheader").val() != null) {
                        if (($("#hdn_Rescheduleheader").val() == "nextReschedule")||($("#hdn_Rescheduleheader").val() == "NextdatewiseReschedule")) {
                            $("#h2schedule").text("Reschedule");
                        }
                        else {
                            $("#h2schedule").text("Schedule");
                        }
                    }
                    else {
                        $("#h2schedule").text("Schedule");
                    }
                    //$("#hdn_Rescheduleheader").val("");
                    ////////////////////////
                },
                error: function (request, ststus, error) {

                    $("#loadforAvailSlot").hide();
                    //alert("ErrorMsg11_responseText: " + request.responseText);
                    //alert("ErrorMsg11_State: " + error.State);
                    //alert("ErrorMsg11_Status: " + error.Status);

                },
                statusCode: {
                    404: function () {
                        $("#loadforAvailSlot").hide();
                        alert("Page Not Found.");
                    }
                }
            });
        }

    }
    function GetPatientShedule() {
        //alert("ok");
        $.ajax({
            url: "@Url.Action("GetPatientschedule", "Patient")",
            type: "POST",
            dataType: "JSON",
            data: { PId: $('#PatientId').val() },
            success: function (data) {
                //$('#myModal').modal();
                $('#TotalAmoutToPay').val(data.TotalAmoutToPay);
                $('#AdvancePaidAmount').val(data.AdvancePaidAmount);
                $('#DueAmount').val(data.DueAmount);
                $('#PaidAmount').val(data.DueAmount);
                $('#NoOfInstallments').val(0);

            },
            error: function (error) { alert("Error: " + error); },
            statusCode: {
                404: function () {
                    alert("Page Not Found.");
                }
            }

        });

    }

    function DeleteFromSearchTable() {
        //alert("ok");
        $.ajax({
            url: "@Url.Action("DeleteFromSearchTable", "Patient")",
            type: "POST",
            dataType: "JSON",
            //data: { PId: $('#PatientId').val() },
            success: function (data) {
                //alert(data.Msg);

            },
            error: function (error) { alert("Error: " + error); },
            statusCode: {
                404: function () {
                    alert("Page Not Found.");
                }
            }
        });

    }
    function SaveDataToAppoTableForReschedule() {


        var str = "";
        var __AppoTable = [];
        var intcount = 1;
        $(".radio").each(function () {

            var d = new Date();
            var month = d.getMonth() + 1;
            var day = d.getDate();
            var GetDate = (month < 10 ? '0' : '') + month + '/' + (day < 10 ? '0' : '') + day + '/' + d.getFullYear();

            if ($('#optionsRadios_' + intcount).is(':checked')) {
                //alert("it's checked");
                //alert($(".radio").children("#hdnAppoDate_" + intcount).val());
                var RowObj = {};

                RowObj['AppointmentDate'] = $(".radio").children("#hdnAppoDate_" + intcount).val();
                RowObj['FromTime'] = $(".radio").children("#hdnSlotStart_" + intcount).val();
                RowObj['ToTime'] = $(".radio").children("#hdnSlotEnd_" + intcount).val();
                RowObj['PatientID'] = $(".radio").children("#hdnPatientId_" + intcount).val();
                RowObj['PatientConditionId'] = $(".radio").children("#hdnPatientConditionId_" + intcount).val();
                RowObj['ResourceID'] = $(".radio").children("#hdnResource_Id_" + intcount).val();
                RowObj['AppointmentType'] = $(".radio").children("#hdnAppointmentType_" + intcount).val();
                RowObj['EmployeeID'] = $(".radio").children("#hdnEmployeeId_" + intcount).val();
                RowObj['CreatedOn'] = GetDate;
                RowObj['CreatedBy'] = $(".radio").children("#hdnCreatedBy_" + intcount).val();

                __AppoTable.push(RowObj);
            }


            intcount = intcount + 1;


        })



        if (__AppoTable == "") {
            alertify.alert("Please choose any one option(s)!!").setHeader('AdvancePT Says');
            return;
        }
        else {

            $.ajax({
                url: "@Url.Action("SaveDatatoAppoTableForReschedule", "Patient")",
                type: "POST",
            data: JSON.stringify(__AppoTable),
            cache: 'false',
            contentType: 'application/json',
            dataType: "json",
            success: function (data) {
                
                if (data.Msg == "AlreadyExits") {

                    alertify.alert("Already an appointment exits on this time slot. Please select another time slot").setHeader('');
                    return false;
                    
                }

                if (data.Msg != "nodata") {

                    // alertify.alert("All appointments are processed successfully").setHeader('AdvancePT Says');
                    window.location.href = '@Url.Action("Index", "Patient")?msgfromselfschedule="Your appointment is rescheduled successfully"';
                }
                else if (data.Msg == "nodata") {
                    alertify.alert("Please choose any one option(s)!!").setHeader('AdvancePT Says');
                }                
                else {
                    alertify.alert("Some error occured!!").setHeader('AdvancePT Says');
                }

            },
            error: function (error) { alert("Error: " + error); },
            statusCode: {
                404: function () {
                    alert("Page Not Found.");
                }
            }
        });
    }

    }
    function SaveDataToAppoTable() {


        $.ajax({
            url: '@Url.Action("checkforPaymentCompletedfornextschedule", "Patient")',
            type: "POST",
            data: {},
            cache: 'false',
            contentType: 'application/json',
            // dataType: "html",
            success: function (success) {
                if (success.obj == "no") {
                    var msg = success.message;
                    window.location.href = '@Url.Action("Index", "Patient")?msgpayamount='+msg;
                    //$("#loadforAvailSlot").hide();
                }
                else if (success.obj == "yes") {
                        
                    var str = "";
                    var __AppoTable = [];
                    var intcount = 1;
                    $(".radio").each(function () {

                        var d = new Date();
                        var month = d.getMonth() + 1;
                        var day = d.getDate();
                        var GetDate = (month < 10 ? '0' : '') + month + '/' + (day < 10 ? '0' : '') + day + '/' + d.getFullYear();

                        if ($('#optionsRadios_' + intcount).is(':checked')) {
                            //alert("it's checked");
                            //alert($(".radio").children("#hdnAppoDate_" + intcount).val());
                            var RowObj = {};

                            RowObj['AppointmentDate'] = $(".radio").children("#hdnAppoDate_" + intcount).val();
                            RowObj['FromTime'] = $(".radio").children("#hdnSlotStart_" + intcount).val();
                            RowObj['ToTime'] = $(".radio").children("#hdnSlotEnd_" + intcount).val();
                            RowObj['PatientID'] = $(".radio").children("#hdnPatientId_" + intcount).val();
                            RowObj['PatientConditionId'] = $(".radio").children("#hdnPatientConditionId_" + intcount).val();
                            RowObj['ResourceID'] = $(".radio").children("#hdnResource_Id_" + intcount).val();
                            RowObj['AppointmentType'] = $(".radio").children("#hdnAppointmentType_" + intcount).val();
                            RowObj['EmployeeID'] = $(".radio").children("#hdnEmployeeId_" + intcount).val();
                            RowObj['CreatedOn'] = GetDate;
                            RowObj['CreatedBy'] = $(".radio").children("#hdnCreatedBy_" + intcount).val();

                            __AppoTable.push(RowObj);
                        }
                        //var a = $(".radio").children("#hdnAppoDate_" + intcount).val();
                        //var a1 = $(".radio").children("#hdnSlotStart_" + intcount).val();
                        //var a2 = $(".radio").children("#hdnSlotEnd_" + intcount).val();
                        //var a3 = $(".radio").children("#hdnPatientId_" + intcount).val();
                        //var a4 = $(".radio").children("#hdnPatientConditionId_" + intcount).val();
                        //var a5 = $(".radio").children("#hdnResource_Id_" + intcount).val();
                        //var a6 = $(".radio").children("#hdnAppointmentType_" + intcount).val();
                        //var a7 = $(".radio").children("#hdnEmployeeId_" + intcount).val();
                        //alert(a);
                        //alert(a1);
                        //alert(a2);
                        //alert(a3);
                        //alert(a4);
                        //alert(a5);
                        //alert(a6);
                        //alert(a7);
                        intcount = intcount + 1;


                    })

                    //for checking the remainingappo vs choose option as it will not return -(minus) appo remaining
                    if (__AppoTable != "") {
                        ///// check select appo as per how many days per week
                        var visitperweek = $("#hdn_visitperweek").val();

                        if (visitperweek == __AppoTable.length) {

                        }
                        else {
                            var RemApp1 = parseInt($('#lbl_AppoRemain').text());
                            //if (RemApp1 == 1 && __AppoTable.length == 1) {
                            //}
                            //else {
                            //    alertify.alert("Please choose option(s) as per how many times per week appointment(s)!!!").setHeader('AdvancePT Says');
                            //    return false;
                            //}

                            if (RemApp1 == 1) {
                                if (__AppoTable.length == 1) {

                                }
                                else {
                                    alertify.alert("Please choose option(s) as per remaining appointment(s)!!!").setHeader('AdvancePT Says');
                                    return false;
                                }
                            }
                            else if (RemApp1 == 2) {
                                if (__AppoTable.length == 2) {

                                }
                                else {
                                    alertify.alert("Please choose option(s) as per remaining appointment(s)!!!").setHeader('AdvancePT Says');
                                    return false;
                                }
                            }
                            else {
                                alertify.alert("Please choose option(s) as per how many times per week appointment(s)!!!").setHeader('AdvancePT Says');
                                return false;
                            }

                        }




                        var RemApp = parseInt($('#lbl_AppoRemain').text());
                        //alert(__AppoTable.length);
                        //alert($('#lbl_AppoRemain').text());
                        if (RemApp >= __AppoTable.length) {

                        }
                        else {
                            alertify.alert("Please choose option(s) as per remaining appointment(s)!!!").setHeader('AdvancePT Says');
                            return false;
                        }

                    }

                    if (__AppoTable == "") {
                        alertify.alert("Please choose any one option(s)!!").setHeader('AdvancePT Says');
                        return;
                    }
                    else {

                        $.ajax({
                            url: "@Url.Action("SaveDatatoAppoTable", "Patient")",
                            type: "POST",
                        data: JSON.stringify(__AppoTable),
                        cache: 'false',
                        contentType: 'application/json',
                        dataType: "json",
                        success: function (data) {
                            if (data.Msg != "nodata") {

                                // alertify.alert("All appointments are processed successfully").setHeader('AdvancePT Says');
                                window.location.href = '@Url.Action("Index", "Patient")?msgfromselfschedule="Your appointment(s) are scheduled successfully"';
                            }
                            else if (data.Msg == "nodata") {
                                alertify.alert("Please choose any one option(s)!!").setHeader('AdvancePT Says');
                            }
                            else {
                                alertify.alert("Some error occured!!").setHeader('AdvancePT Says');
                            }

                        },
                        error: function (error) { alert("Error: " + error); },
                        statusCode: {
                            404: function () {
                                alert("Page Not Found.");
                            }
                        }
                    });
                }

                       
                }
                  

            },
            error: function ( error) {

                $("#loadforAvailSlot").hide();


            }
              
        });


        
    }
</script>

