@model DataLayer.Models.tblTCIAPlan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblTCIAPlan</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FrequencyPerWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrequencyPerWeek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalNoOfWeeks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalNoOfWeeks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Treatment_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Treatment_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblMPatient.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblMPatient.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblMUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblMUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblMUser1.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblMUser1.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblTPatientCondition.ProblemDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblTPatientCondition.ProblemDetail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Plan_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
