@model DataLayer.Models.tblMReferralSource

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>*@

<section class="bodyinner">
    <div class="container">
        @using (Html.BeginForm())
        {
            <div class="bodyleft">

                @Html.Partial("~/Views/Shared/_LeftPart.cshtml")
            </div>
            <div class="bodyright">

                <div class="report-form clearfix">
                    <h2>Doctor Form</h2>


                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true)

                    @Html.HiddenFor(model => model.ReferralSource_Id)
                    @Html.HiddenFor(model => model.ModifiedOn)
                    @Html.HiddenFor(model => model.ModifiedBy)
                    @Html.HiddenFor(model => model.CreatedOn)
                    @Html.HiddenFor(model => model.CreatedBy)

                    @if (ViewBag.Error != null)
                    {
                        @Html.Raw(ViewBag.Error)
                    }

                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-sm-6 col-md-6 form-group">
                            @Html.Label("Source Name")
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 form-group">
                            @Html.Label("Related Query")
                            @Html.TextBoxFor(model => model.Related_query, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Related_query)
                        </div>
                    </div>

                  


                  

                    <p>@Html.ActionLink("Back to List", "Index")</p>

                </div>



            </div>
        }
    </div>

</section>






















<div>
    <h4>Referral Source</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Related_query)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Related_query)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReferralSource_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
