@model DataLayer.Models.tblMHandbookSection

@{
    ViewBag.Title = "Create";
}



<section class="bodyinner">
    
    <div class="container">
        <div class="bodyleft">


            @Html.Partial("~/Views/Shared/_LeftPart.cshtml")
        </div>
        <div class="bodyright">

            <div class="report-form clearfix">




                @using (Html.BeginForm("Create", "Section", FormMethod.Post, new { name = "Create", id = "Create", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()



                    @Html.ValidationSummary(true)
                <center><h2>Section Name Create</h2></center>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 form-group">

                            @Html.Label("Section Name")
                            @Html.TextBoxFor(model => model.SectionName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SectionName)
                        </div>

                        <div class="col-sm-6 col-md-4 form-group">


                            @Html.Label("Chapter Name")
                            @Html.DropDownList("ChapterId", String.Empty)
                            @Html.ValidationMessageFor(model => model.ChapterId)
                        </div>

                      
                    </div>
                    <div class="row">
                       
                        <div class="col-sm-12 col-md-12 form-group">

                            @*@Html.HiddenFor(model => model.CreatedBy)*@
                            @Html.Hidden("CreatedOn", DateTime.Now)
                        </div>
                    </div>
                    <div class="subbutt">
                        <input type="submit" value="Create" class="btn btn-orange pull-right" />

                        <div class="clearfix"></div>
                    </div>



                    <p>@Html.ActionLink("Back to List", "Index")</p>
                }
            </div>



        </div>
        <div class="clearfix"></div>
    </div>
</section>


<script>
    $('#ChapterId').addClass('form-control');
</script>






























@*@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tblMHandbookSection</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.SectionName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SectionName)
                @Html.ValidationMessageFor(model => model.SectionName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChapterId, "ChapterId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ChapterId", String.Empty)
                @Html.ValidationMessageFor(model => model.ChapterId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedOn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedOn)
                @Html.ValidationMessageFor(model => model.CreatedOn)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedBy, "CreatedBy", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CreatedBy", String.Empty)
                @Html.ValidationMessageFor(model => model.CreatedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifiedOn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModifiedOn)
                @Html.ValidationMessageFor(model => model.ModifiedOn)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifiedBy, "ModifiedBy", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ModifiedBy", String.Empty)
                @Html.ValidationMessageFor(model => model.ModifiedBy)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
