@model DataLayer.Models.tblMHandbookSection

@{
    ViewBag.Title = "Edit";
}


<section class="bodyinner">

    <div class="container">
        <div class="bodyleft">


            @Html.Partial("~/Views/Shared/_LeftPart.cshtml")
        </div>
        <div class="bodyright">

            <div class="report-form clearfix">




                @using (Html.BeginForm("Edit", "Section", FormMethod.Post, new { name = "Edit", id = "Edit", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                 @Html.HiddenFor(model => model.Section_Id)

                    @Html.ValidationSummary(true)
                    <center><h2>Section Name Edit</h2></center>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 form-group">

                            @Html.Label("Section Name")
                            @Html.TextBoxFor(model => model.SectionName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SectionName)
                        </div>

                        <div class="col-sm-6 col-md-4 form-group">


                            @Html.Label("Chapter Name")
                            @Html.DropDownList("ChapterId", String.Empty)
                            @Html.ValidationMessageFor(model => model.ChapterId)
                        </div>


                    </div>
                    <div class="row">

                        <div class="col-sm-12 col-md-12 form-group">

                            @*@Html.HiddenFor(model => model.CreatedBy)*@
                            @Html.HiddenFor(model => model.CreatedOn)
                            @Html.HiddenFor(model => model.CreatedBy)
                            @Html.Hidden("ModifiedOn", DateTime.Now)
                        </div>
                    </div>
                    <div class="subbutt">
                        <input type="submit" value="Save" class="btn btn-orange pull-right" />

                        <div class="clearfix"></div>
                    </div>



                    <p>@Html.ActionLink("Back to List", "Index")</p>
                }
            </div>



        </div>
        <div class="clearfix"></div>
    </div>
</section>


<script>
    $('#ChapterId').addClass('form-control');
</script>
