@model DataLayer.Models.tblTKneeBraceCustomForm

@{
    ViewBag.Title = "Knee Brace Custom Order";
}



<section class="bodyinner">
    @*@using (Html.BeginForm("Create", "KneeBraceCustomForm", FormMethod.Post, new { name = "Create", id = "Create" }))
    {*@
       
    <div class="bodyleft">
       

        @Html.Partial("~/Views/Shared/_LeftPart.cshtml")
    </div>
        <div class="bodyright">

            <div class="report-form clearfix">
                <h2>BREG Custom Knee Brace Order Form (HCPCS Code: L1846)</h2>
                <div class="p_bot15"><strong>*MEDICARE PATIENTS: DO NOT PROCEED IF THEY HAVE BEEN ISSUED A ‘KNEE BRACE’ IN THE PAST 5 YEARS.</strong></div>

                <hr>
              @using (Html.BeginForm("Create", "KneeBraceCustomForm", FormMethod.Post, new { name = "Create", id = "Create" }))
              { 
                <div id="dvFirst">
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(e => e.KneeBraceCustomForm_Id)
                    @Html.Hidden("CreatedOn", DateTime.Now)
                    @Html.Hidden("HCPCSCode", "L1846")
                    <h3>Description:</h3>
                    <div class="row p_bot20">
                        <div class="col-sm-6">
                            <div class="p_bot05">
                                <label class="checkbox-inline">   
                                     @Html.CheckBox("IsCustomOAMedialOffLoader_01208", new { @class = "checkbox-inline" })                               
                                    01208 Custom OA Medial Off-Loader
                                </label>
                            </div>
                            <div class="p_bot05">
                                <label class="checkbox-inline">
                                     @Html.CheckBox("IsCustomOALateralOffLoader_01300", new { @class = "checkbox-inline" })  
                                    01300 Custom OA Lateral Off-Loader
                                </label>
                            </div>
                            <div class="p_bot05">
                                <label class="checkbox-inline">
                                    @Html.CheckBox("IsCustomLigamentBrace_01207", new { @class = "checkbox-inline" })  
                                    01207 Custom Ligament Brace
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="rightgray">
                                <h4>L1846 Code Includes the Following:</h4>
                                <ul>
                                    <li>Orthosis</li>
                                    <li>All Straps, Closures and Padding</li>
                                    <li>Fitting & Adjustment</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h3>Fitting</h3>
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="borderbox">
                                <div class="row innerborder">
                                    <div class="col-sm-5 p_top10"><strong>1. Thigh Circumference:</strong></div>
                                    <div class="col-sm-7">

                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.Fitting_ThighCircumference, new { @class = "form-control shortfield" })
                                            <label for="exampleInputName2" class=" p_left10">inches (6 inches above mid-patella)</label>
                                            <br />
                                            @Html.ValidationMessageFor(model => model.Fitting_ThighCircumference)
                                        </div>

                                    </div>
                                </div>
                                <div class="row innerborder">
                                    <div class="col-sm-5 p_top10"><strong>2. Calf Circumference:</strong></div>
                                    <div class="col-sm-7">

                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.Fitting_CalfCircumference, new { @class = "form-control shortfield" })
                                            <label for="exampleInputName2" class=" p_left10">inches (6 inches below mid-patella)</label>
                                            <br />
                                            @Html.ValidationMessageFor(model => model.Fitting_CalfCircumference)
                                        </div>

                                    </div>
                                </div>
                                <div class="row innerborder">
                                    <div class="col-sm-5 p_top10"><strong>3. Knee Offset:</strong></div>
                                    <div class="col-sm-7">

                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.Fitting_KneeOffset, new { @class = "form-control shortfield" })
                                            <label for="exampleInputName2" class=" p_left10">milimeter (push in plunger on tool)</label>
                                            <br />
                                            @Html.ValidationMessageFor(model => model.Fitting_KneeOffset)
                                        </div>

                                    </div>
                                </div>
                                <div class="row innerborder">
                                    <div class="col-sm-5 p_top10"><strong>4. Knee Width:</strong></div>
                                    <div class="col-sm-7">

                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.Fitting_KneeWidth, new { @class = "form-control shortfield" })
                                            <label for="exampleInputName2" class=" p_left10">milimeter (use width caliper)</label>
                                            <br />
                                            @Html.ValidationMessageFor(model => model.Fitting_KneeWidth)
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="borderbox">
                                <div class="row">
                                    <div class="col-md-3 col-sm-12"><strong>Circle</strong></div>
                                    <div class="col-md-9 col-sm-12">
                                        <span class=" p_rig30">
                                            <label class="radio-inline"><input name="optradio" type="radio">@Html.RadioButtonFor(m => m.CirclePosition, "RIGHT")RIGHT</label>
                                            <label class="radio-inline">@Html.RadioButtonFor(m => m.CirclePosition, "LEFT")LEFT</label>
                                            <br />
                                            @Html.ValidationMessageFor(m => m.CirclePosition)
                                        </span>
                                        </div>
                                        <div class="col-md-3 col-sm-12"><strong>Gender</strong> </div>
                                        <div class="col-md-9 col-sm-12">
                                            
                                            <span class="p_rig25">
                                                <label class="radio-inline">@Html.RadioButtonFor(m => m.Gender, "M")Male</label>
                                                <label class="radio-inline">@Html.RadioButtonFor(m => m.Gender, "F")Female</label>
                                                <br />
                                                @Html.ValidationMessageFor(m => m.Gender)
                                            </span>
                                        </div>
                                    </div>
                                    
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-md-6 form-group">
                                    <label>Patient Name</label>
                                    @Html.TextBoxFor(m => m.Patient_Name, new { @class = "form-control" })
                                    <br />
                                    @Html.ValidationMessageFor(m => m.Patient_Name)
                                </div>
                                <div class="col-sm-6 col-md-6 form-group">
                                    <label for="date">DOB</label>
                                    @Html.TextBoxFor(m => m.DOB, new { @class = "form-control datepicker datepicker-bg", style = "width:100%;",@Readonly = true })
                                    <br />
                                    @Html.ValidationMessageFor(m => m.DOB)
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-3"><img src="@Url.Content("~/Images/pic1.png")" alt="" /></div>
                    </div>
                    <div class="subbutt">
                        <button type="submit" class="btn btn-orange pull-right">Submit</button>
                        <div class="clearfix"></div>



                    </div>
                    <hr>
                </div>
              }





                



            </div>

        </div>

        <div class="clearfix"></div>
        
        
      
    @*}*@
</section>



