@model DataLayer.Models.tblTKneeBraceCustomForm

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tblTKneeBraceCustomForm</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.KneeBraceCustomForm_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.HCPCSCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HCPCSCode)
                @Html.ValidationMessageFor(model => model.HCPCSCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsCustomOAMedialOffLoader_01208, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsCustomOAMedialOffLoader_01208)
                @Html.ValidationMessageFor(model => model.IsCustomOAMedialOffLoader_01208)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsCustomOALateralOffLoader_01300, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsCustomOALateralOffLoader_01300)
                @Html.ValidationMessageFor(model => model.IsCustomOALateralOffLoader_01300)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsCustomLigamentBrace_01207, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsCustomLigamentBrace_01207)
                @Html.ValidationMessageFor(model => model.IsCustomLigamentBrace_01207)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fitting_ThighCircumference, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fitting_ThighCircumference)
                @Html.ValidationMessageFor(model => model.Fitting_ThighCircumference)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fitting_CalfCircumference, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fitting_CalfCircumference)
                @Html.ValidationMessageFor(model => model.Fitting_CalfCircumference)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fitting_KneeOffset, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fitting_KneeOffset)
                @Html.ValidationMessageFor(model => model.Fitting_KneeOffset)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fitting_KneeWidth, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fitting_KneeWidth)
                @Html.ValidationMessageFor(model => model.Fitting_KneeWidth)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CirclePosition, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CirclePosition)
                @Html.ValidationMessageFor(model => model.CirclePosition)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gender)
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Patient_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Patient_Name)
                @Html.ValidationMessageFor(model => model.Patient_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DOB, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DOB)
                @Html.ValidationMessageFor(model => model.DOB)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PatientMC, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatientMC)
                @Html.ValidationMessageFor(model => model.PatientMC)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsCheckDriversLicenseRegionC, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsCheckDriversLicenseRegionC)
                @Html.ValidationMessageFor(model => model.IsCheckDriversLicenseRegionC)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CallMCRepNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CallMCRepNo)
                @Html.ValidationMessageFor(model => model.CallMCRepNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tax_ID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tax_ID)
                @Html.ValidationMessageFor(model => model.Tax_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PTAN, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PTAN)
                @Html.ValidationMessageFor(model => model.PTAN)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NPI, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NPI)
                @Html.ValidationMessageFor(model => model.NPI)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegionC_Confirm, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RegionC_Confirm)
                @Html.ValidationMessageFor(model => model.RegionC_Confirm)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MC_RepName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MC_RepName)
                @Html.ValidationMessageFor(model => model.MC_RepName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MC_BadgeNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MC_BadgeNo)
                @Html.ValidationMessageFor(model => model.MC_BadgeNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MC_Int, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MC_Int)
                @Html.ValidationMessageFor(model => model.MC_Int)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Diagnosis_Desc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Diagnosis_Desc)
                @Html.ValidationMessageFor(model => model.Diagnosis_Desc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Therapist_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Therapist_Name)
                @Html.ValidationMessageFor(model => model.Therapist_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Doctor_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Doctor_Name)
                @Html.ValidationMessageFor(model => model.Doctor_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsCompleLetterOfMedNec, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsCompleLetterOfMedNec)
                @Html.ValidationMessageFor(model => model.IsCompleLetterOfMedNec)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompleLetterOfMedNec_Int, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompleLetterOfMedNec_Int)
                @Html.ValidationMessageFor(model => model.CompleLetterOfMedNec_Int)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsGiveFromLetterOfMedNec, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsGiveFromLetterOfMedNec)
                @Html.ValidationMessageFor(model => model.IsGiveFromLetterOfMedNec)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsFAXLetterOfMedNec, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsFAXLetterOfMedNec)
                @Html.ValidationMessageFor(model => model.IsFAXLetterOfMedNec)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FAXLetterOfMedNec_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FAXLetterOfMedNec_Date)
                @Html.ValidationMessageFor(model => model.FAXLetterOfMedNec_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsRecivedLetterOfMedNec, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsRecivedLetterOfMedNec)
                @Html.ValidationMessageFor(model => model.IsRecivedLetterOfMedNec)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReceivedLetterOfMedNec_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReceivedLetterOfMedNec_Date)
                @Html.ValidationMessageFor(model => model.ReceivedLetterOfMedNec_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsOrderOrthosis, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsOrderOrthosis)
                @Html.ValidationMessageFor(model => model.IsOrderOrthosis)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderOrthosis_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderOrthosis_Date)
                @Html.ValidationMessageFor(model => model.OrderOrthosis_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNo)
                @Html.ValidationMessageFor(model => model.PhoneNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AcctNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AcctNo)
                @Html.ValidationMessageFor(model => model.AcctNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Note, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Note)
                @Html.ValidationMessageFor(model => model.Note)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfimationNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfimationNo)
                @Html.ValidationMessageFor(model => model.ConfimationNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PO)
                @Html.ValidationMessageFor(model => model.PO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaperWorkStatus_Id, "PaperWorkStatus_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PaperWorkStatus_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.PaperWorkStatus_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsReceivedOrthosis, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsReceivedOrthosis)
                @Html.ValidationMessageFor(model => model.IsReceivedOrthosis)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReceivedOrthosis_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReceivedOrthosis_Date)
                @Html.ValidationMessageFor(model => model.ReceivedOrthosis_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReceivedOrthosisBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReceivedOrthosisBy)
                @Html.ValidationMessageFor(model => model.ReceivedOrthosisBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConditionReceived, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConditionReceived)
                @Html.ValidationMessageFor(model => model.ConditionReceived)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsFitInstructed, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsFitInstructed)
                @Html.ValidationMessageFor(model => model.IsFitInstructed)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FitInstructed_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FitInstructed_Date)
                @Html.ValidationMessageFor(model => model.FitInstructed_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FitInstructedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FitInstructedBy)
                @Html.ValidationMessageFor(model => model.FitInstructedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsCompletePaperWork, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsCompletePaperWork)
                @Html.ValidationMessageFor(model => model.IsCompletePaperWork)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompletePaperWork_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompletePaperWork_Date)
                @Html.ValidationMessageFor(model => model.CompletePaperWork_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompletePaperWorkBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompletePaperWorkBy)
                @Html.ValidationMessageFor(model => model.CompletePaperWorkBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Revised_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Revised_Date)
                @Html.ValidationMessageFor(model => model.Revised_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ApprovedBy, "ApprovedBy", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ApprovedBy", String.Empty)
                @Html.ValidationMessageFor(model => model.ApprovedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ApprovedOn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ApprovedOn)
                @Html.ValidationMessageFor(model => model.ApprovedOn)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedBy, "CreatedBy", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CreatedBy", String.Empty)
                @Html.ValidationMessageFor(model => model.CreatedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedOn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedOn)
                @Html.ValidationMessageFor(model => model.CreatedOn)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifiedBy, "ModifiedBy", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ModifiedBy", String.Empty)
                @Html.ValidationMessageFor(model => model.ModifiedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifiedOn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModifiedOn)
                @Html.ValidationMessageFor(model => model.ModifiedOn)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
