@*@model IEnumerable<DataLayer.Models.tblTKneeBraceCustomForm>*@
@model PagedList.IPagedList<DataLayer.Models.tblPandinglist>
@using PagedList.Mvc;
@using DataLayer;
@{
    ViewBag.Title = "Index";
    var currentuserid = ViewContext.Controller.CurrentUserID();
    var lStatus = ViewContext.Controller.DmePermittedStatusList(7);
}
<center><h2 style="margin-top:20px;">DME LOMN Pending List</h2></center>
@*<h2>Index</h2>*@
<section class="bodyinner2">
    <div>
        @*<p class="pull-right">
            @Html.ActionLink("Create New Record", "Create1", null, new { @class = "btn btn-primary" })
        </p>*@
        @using (Html.BeginForm("PandingList", "KneeBraceCustomForm", FormMethod.Get))
        {
            @*<div class="col-sm-3">
                <select class="form-control" id="drSearch">
                    <option selected>-- Select --</option>
                    <option value="1">Patient Name</option>
                    <option value="2">DOB</option>
                    <option value="3">HCPCS Code</option>
                    <option value="4">Status</option>
                </select>

            </div>*@
            <div class="searchsec">
                @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Search by Patient Name" })
                <button><i class="fa fa-search" aria-hidden="true"></i></button>
                <div class="clearfix"></div>
            </div>
        }
        <div class="clearfix"></div>
    </div>

    <div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Patient Name")
                        </th>
                       
                        <th>
                            @Html.DisplayName("HCPCS Code")
                        </th>
                        

                        <th>
                            @Html.DisplayName("Status")
                        </th>
                        <th>

                        </th>

                       
                       
                    </tr>

                </thead>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Patient_Name) 
                        </td>
                        
                        <td>
                            @if (item.HCPCSCode != null)
                            {
                                @Html.DisplayFor(modelItem => item.HCPCSCode)
                            }
                        </td>
                       
                        <td>
                            @if (item.DMEForm_Status_Id != null)
                            {
                              @item.DMEForm_Status
                            }
                        </td>
                        
                       
                        @*<td class="tdList_PDF">
                            <a href="javascript:void(0);" onclick="fnShowDetail(@item.Dmefromid);">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            </a>
                        </td>*@
                        @if (item.DMEOfficeStaffOrder_Id == null && item.HCPCSCode == "L1846")
                        { 
                        <td>
                            <a href="@Url.Action("Create3", "KneeBraceCustomForm", new { id = item.Dmefromid })">
                                <i class="btn btn-primary" aria-hidden="true">Received LOMN</i>
                            </a>
                        </td>
                      }
                        else if (item.DMEOfficeStaffOrder_Id == null && item.HCPCSCode == "L1843")
                        {
                            <td>
                                <a href="@Url.Action("Create3", "KneeBraceFreeStyleOASoftForm", new { id = item.Dmefromid })">
                                    <i class="btn btn-primary" aria-hidden="true">Received LOMN</i>
                                </a>
                            </td>
                        }
                        else if (item.DMEOfficeStaffOrder_Id == null && item.HCPCSCode == "L1845")
                        {
                            <td>
                                <a href="@Url.Action("Create3", "KneeBraceFusionLigamentOrderForm", new { id = item.Dmefromid })">
                                    <i class="btn btn-primary" aria-hidden="true">Received LOMN</i>
                                </a>
                            </td>
                        }
                        else if (item.DMEOfficeStaffOrder_Id == null && item.HCPCSCode == "L1847")
                        {
                            <td>
                                <a href="@Url.Action("Create3", "KneeBraceFusionOAForm", new { id = item.Dmefromid })">
                                    <i class="btn btn-primary" aria-hidden="true">Received LOMN</i>
                                </a>
                            </td>
                        }
                        else if (item.DMEOfficeStaffOrder_Id == null && item.HCPCSCode == "L0637")
                        {
                            <td>
                                <a href="@Url.Action("Create3", "LumbosacralOrthosisForm", new { id = item.Dmefromid })">
                                    <i class="btn btn-primary" aria-hidden="true">Received LOMN</i>
                                </a>
                            </td>
                        }
                        else if (item.DMEOfficeStaffOrder_Id == null && item.HCPCSCode == "L0456")
                        {
                            <td>
                                <a href="@Url.Action("Create3", "SpinomedIVTLSOForm", new { id = item.Dmefromid })">
                                    <i class="btn btn-primary" aria-hidden="true">Received LOMN</i>
                                </a>
                            </td>
                        }
                    </tr>
                }

            </table>

        </div>
        <div>
            <br />
            @using (Html.BeginForm("PandingList", "KneeBraceCustomForm", new { sortOrder = ViewBag.CurrentSort, searchString = ViewBag.CurrentFilter, CurrentSort = ViewBag.CurrentSort }, FormMethod.Post, new { @style = "float:left;width:80px;" }))
            {
                @Html.DropDownList("PageSize")
            }
            @{
                bool? direction = ViewBag.SortDirection;
                if (direction == null) { direction = false; }
            }
            <div class="pull-left" style=" padding:10px;">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </div>

            @Html.PagedListPager(Model, page => Url.Action("PandingList",
                      new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, CurrentSort = ViewBag.CurrentSort, IsAsc = !direction }))
        </div>
    </div>

</section>
<script>
    function fnShowDetail(KneeBraceCustomForm_Id) {
        var url = "@Url.Action("KneeBraceCustomFormPdf", "KneeBraceCustomForm", new { Area = "DmeForm" })" + "?id=" + KneeBraceCustomForm_Id;
        //fnShowPopupForDetail(url);
        popupwindow(url, 'KneeBraceCustomForm', 1000, 800);
    }
</script>


<script>
    $("#PageSize").addClass("form-control");
    $('#PageSize').on('change', function (event) {

        var form = $(event.target).parents('form');

        form.submit();
    });
</script>
