@model DataLayer.Models.tblMPatient

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tblMPatient</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Patient_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.UserID, "UserID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserID", String.Empty)
                @Html.ValidationMessageFor(model => model.UserID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DOB, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DOB)
                @Html.ValidationMessageFor(model => model.DOB)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gender)
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AddressLine1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddressLine1)
                @Html.ValidationMessageFor(model => model.AddressLine1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AddressLine2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddressLine2)
                @Html.ValidationMessageFor(model => model.AddressLine2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City)
                @Html.ValidationMessageFor(model => model.City)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.State, "State", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("State", String.Empty)
                @Html.ValidationMessageFor(model => model.State)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ZipCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ZipCode)
                @Html.ValidationMessageFor(model => model.ZipCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone2)
                @Html.ValidationMessageFor(model => model.Phone2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone3, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone3)
                @Html.ValidationMessageFor(model => model.Phone3)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsMinor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsMinor)
                @Html.ValidationMessageFor(model => model.IsMinor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Guardian_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Guardian_Name)
                @Html.ValidationMessageFor(model => model.Guardian_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Occupation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Occupation)
                @Html.ValidationMessageFor(model => model.Occupation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Employer_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Employer_Name)
                @Html.ValidationMessageFor(model => model.Employer_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Employer_Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Employer_Phone)
                @Html.ValidationMessageFor(model => model.Employer_Phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Emergency_Contact_Person, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Emergency_Contact_Person)
                @Html.ValidationMessageFor(model => model.Emergency_Contact_Person)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Emergency_Contact_Relation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Emergency_Contact_Relation)
                @Html.ValidationMessageFor(model => model.Emergency_Contact_Relation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Emergency_Contact_Phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Emergency_Contact_Phone)
                @Html.ValidationMessageFor(model => model.Emergency_Contact_Phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Social_Security, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Social_Security)
                @Html.ValidationMessageFor(model => model.Social_Security)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Marital_Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Marital_Status)
                @Html.ValidationMessageFor(model => model.Marital_Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Work_Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Work_Status)
                @Html.ValidationMessageFor(model => model.Work_Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Disability, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Disability)
                @Html.ValidationMessageFor(model => model.Disability)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Student, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Student)
                @Html.ValidationMessageFor(model => model.Student)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReferralSource, "ReferralSource", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ReferralSource", String.Empty)
                @Html.ValidationMessageFor(model => model.ReferralSource)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReferralNote, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReferralNote)
                @Html.ValidationMessageFor(model => model.ReferralNote)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location, "Location", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Location", String.Empty)
                @Html.ValidationMessageFor(model => model.Location)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsApproved, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsApproved)
                @Html.ValidationMessageFor(model => model.IsApproved)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedOn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedOn)
                @Html.ValidationMessageFor(model => model.CreatedOn)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedBy, "CreatedBy", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CreatedBy", String.Empty)
                @Html.ValidationMessageFor(model => model.CreatedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifiedOn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModifiedOn)
                @Html.ValidationMessageFor(model => model.ModifiedOn)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifiedBy, "ModifiedBy", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ModifiedBy", String.Empty)
                @Html.ValidationMessageFor(model => model.ModifiedBy)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
