@model DataLayer.Models.tblTPaymentFeeSlipDetail

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bodyinner">
    <div class="container">



        <div class="report-form clearfix">
            <h2 class="text-center">Fee Slip</h2>
            @using (Html.BeginForm("Create", "PaymentFeeSlip", FormMethod.Post, new { name = "Create", id = "Create", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.Hidden("CreatedOn", DateTime.Now)
                @Html.HiddenFor(a => a.FeeSlipCode_Id, new { @id = "FeeShipId" })
                if (ViewBag.Error != null)
                {
                    @Html.Raw(ViewBag.Error)
                }

                <div class="row">
                    <div class="col-sm-6 col-md-6 form-group">
                        @Html.Label("Unit")
                        @Html.TextBoxFor(e => e.Unit, new { @class = "form-control ", onkeypress = "return restrictCharacters(this, event, integerOnly);", maxlength = "6" })
                        @Html.ValidationMessageFor(e => e.Unit)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 form-group">
                        @Html.Label("Patient Name")
                        @Html.DropDownListFor(e => e.PatientId, (SelectList)ViewBag.PacentName, string.Empty, new { @class = "form-control", @id = "dr_PatientId" })
                        @Html.ValidationMessageFor(e => e.PatientId)
                    </div>
                    <div class="col-sm-6 col-md-6 form-group">
                        @Html.Label("Slip Code")
                        @Html.DropDownList("FeeShipCode", string.Empty)
                        @Html.ValidationMessageFor(e => e.FeeSlipCode_Id)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 form-group">
                        @Html.Label("Fee Slip Date")
                        @Html.TextBoxFor(e => e.FeeSlipDate, new { @class = "form-control datepicker datepicker-bg" })
                        @Html.ValidationMessageFor(e => e.FeeSlipDate)
                    </div>
                    <div class="col-sm-6 col-md-6 form-group">
                        @Html.Label("Total Minutes")
                        @Html.TextBoxFor(e => e.TotalMinutes, new { @class = "form-control", onkeypress = "return restrictCharacters(this, event, integerOnly);", maxlength = "4" })
                        @Html.ValidationMessageFor(e => e.TotalMinutes)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 form-group">
                        @Html.Label("Billed PIP Auto Lien")
                        @Html.TextBoxFor(e => e.Billed_PIP_Auto_Lien, new { @class = "form-control AmountDecimal", onkeypress = "return restrictCharacters(this, event, integerOnly);", maxlength = "10" })

                    </div>
                    <div class="col-sm-6 col-md-6 form-group">
                        @Html.Label("Aetna Cigna OON")
                        @Html.TextBoxFor(e => e.Aetna_Cigna_OON, new { @class = "form-control AmountDecimal", onkeypress = "return restrictCharacters(this, event, integerOnly);", maxlength = "10" })

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 form-group">
                        @Html.Label("Tricare VA ChampVA")
                        @Html.TextBoxFor(e => e.Tricare_VA_ChampVA, new { @class = "form-control AmountDecimal", onkeypress = "return restrictCharacters(this, event, integerOnly);", maxlength = "10" })
                    </div>
                    <div class="col-sm-6 col-md-6 form-group">
                        @Html.Label("Blue Cross")
                        @Html.TextBoxFor(e => e.Blue_Cross, new { @class = "form-control AmountDecimal", onkeypress = "return restrictCharacters(this, event, integerOnly);", maxlength = "10" })

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 form-group">
                        @Html.Label("MC")
                        @Html.TextBoxFor(e => e.MC, new { @class = "form-control AmountDecimal", onkeypress = "return restrictCharacters(this, event, integerOnly);", maxlength = "10" })
                        @Html.ValidationMessageFor(e => e.MC)
                    </div>
                    <div class="col-sm-6 col-md-6 form-group">
                        @Html.Label("Other")
                        @Html.TextBoxFor(e => e.Other, new { @class = "form-control AmountDecimal", onkeypress = "return restrictCharacters(this, event, integerOnly);", maxlength = "10" })

                    </div>
                </div>

                <div class="subbutt">
                    <input type="submit" value="Create" class="btn btn-orange pull-right" />

                </div>
                <p>@Html.ActionLink("Back to List", "Index")</p>
            }
        </div>
    </div>
    <div class="clearfix"></div>

</section>

<script>
    $('#FeeShipCode').addClass('form-control');
</script>
<script type="text/javascript">
    var digitsOnly = /[1234567890]/g;
    var integerOnly = /[0-9\.]/g;
    var alphaOnly = /[A-Za-z]/g;

    function restrictCharacters(myfield, e, restrictionType) {
        if (!e) var e = window.event
        if (e.keyCode) code = e.keyCode;
        else if (e.which) code = e.which;
        var character = String.fromCharCode(code);
        if (code == 27) { this.blur(); return false; }
        if (!e.ctrlKey && code != 9 && code != 8 && code != 36 && code != 37 && code != 38 && (code != 39 || (code == 39 && character == "'")) && code != 40) {
            if (character.match(restrictionType)) {
                return true;
            } else {
                return false;
            }

        }
    }
    $(document).ready(function () {
        $(".AmountDecimal").mask("#,##0.00", { reverse: true });
        var FeeShipId = $("#FeeShipCode").val();
        $('#FeeShipId').val(FeeShipId);
        $("#FeeShipCode").change(function () {
            var FeeShipId = $("#FeeShipCode").val();
            $('#FeeShipId').val(FeeShipId);
        });
    });


</script>

