@model DataLayer.Models.DMEOfficeStaffOrderGenericForm
@using DataLayer;
@{
    ViewBag.Title = "Generic Form";
}

<section class="bodyinner">

    <div class="bodyleft">
        @Html.Partial("~/Views/Shared/_LeftPart.cshtml")
    </div>
    <div class="bodyright">

        <div class="report-form clearfix">
            <h2>Generic DME Order Form Code: L0001</h2>

            <hr>
            @using (Html.BeginForm("Create5", "GenericForm", FormMethod.Post, new { name = "DMEGenaricForm_Order_Step5", id = "DMEGenaricForm_Order_Step5" }))
            {
                <div id="dvFirst">
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(e => e.Order.DMEForm_Id)
                    @Html.HiddenFor(e => e.Order.DMEFormCode)
                    @Html.HiddenFor(e => e.Order.CreatedOn)
                    @Html.HiddenFor(e => e.Order.IsFaxLOMN)
                    @Html.HiddenFor(e => e.Order.FaxLOMN_Date)
                    @Html.HiddenFor(e => e.Order.IsReceiveLOMN)
                    @Html.HiddenFor(e => e.Order.ReceiveLOMN_Date)
                    @Html.HiddenFor(e => e.Order.DMEOfficeStaffOrder_Id)

                    @if (ViewBag.Error != null)
                    {
                        @Html.Raw(ViewBag.Error)
                    }


                    <div id="dvOrder" class="todo_inner">


                        <div class="outerf">
                            <div class="stepheading"><strong>5. Office Staff </strong> <i>order</i></div>
                            <div class="hiddenform">

                                <div class="row">
                                    <div class="col-sm-12 col-md-12 form-group">
                                        <label class="checkbox-inline">

                                            @Html.CheckBoxFor(e => e.Order.IsOrderOrthosis, new { @class = "checkbox-inline" })
                                            Order Orthosis
                                        </label>
                                    </div>
                                </div>
                                <div>
                                    <div class="row form-group">
                                        <div class="col-sm-3 p_top10">Date</div>
                                        <div class="col-sm-5">
                                            @Html.TextBoxFor(m => m.Order.OrderOrthosis_Date, new { @class = "form-control datepicker datepicker-bg DenyAdvanceDateSelection", style = "width:100%;", @Readonly = true, @Value = @Model.Order.OrderOrthosis_Date.GetExactValue() })
                                            <span id="OrderOrthosis_Date" class="validateMsg"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row p_top15">
                                    <div class="col-sm-12 col-md-12 form-group">

                                        <p style="padding-bottom:8px;">
                                            Ph# 800-321-0607 Acct#: 23298
                                            <br /><strong>NOTE: Ground Shipping/UPS</strong>
                                        </p>
                                        <div class="row form-group">
                                            <div class="col-sm-3 p_top10">Confirmation#</div>
                                            <div class="col-sm-5">
                                                @Html.TextBoxFor(m => m.Order.ConfirmationNo, new { @class = "form-control" })
                                                <span id="ConfirmationNo" class="validateMsg"></span>
                                            </div>
                                        </div>

                                        PO#: Last Name of the Patient

                                    </div>
                                </div>
                            </div>
                            <div class="subbutt">
                                @*<button type="button" class="btn btn-primary pull-left" onclick="GotoMC()">Back</button>*@
                                <button type="submit" class="btn btn-orange pull-right" onclick="return validateInputs();">Submit</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            }

        </div>

    </div>

    <div class="clearfix"></div>

</section>

<script type="text/javascript">

    $(document).ready(function () {


        var Fax_Date = document.getElementById("Order_ReceiveLOMN_Date").value;
        $('#Order_OrderOrthosis_Date').datepicker('setStartDate', new Date(Fax_Date));
        //$('#Order_OrderOrthosis_Date').datepicker('setEndDate', new Date());
        $("#OrderOrthosis_Date").hide();
        $("#ConfirmationNo").hide();
    });

    function validateInputs() {
        var OrderOrthosis_Date = document.getElementById("Order_OrderOrthosis_Date");
        var Confirmation_No = document.getElementById("Order_ConfirmationNo");

        if (OrderOrthosis_Date.value == "") {
            $("#OrderOrthosis_Date").show();
            $("#OrderOrthosis_Date").text("Enter OrderOrthosis Date");
            OrderOrthosis_Date.focus();
            return false;
        }
        if (Confirmation_No.value == "") {
            $("#ConfirmationNo").show();
            $("#ConfirmationNo").text("Enter ConfirmationNo");
            ConfirmationNo.focus();
            return false;
        }

    }
</script>



