@model DataLayer.Models.DMEOfficeStaffOrderGenericForm
@using DataLayer;
@{
    ViewBag.Title = "Knee Brace Custom Order";
}



<section class="bodyinner">

    <div class="bodyright" style="width:100%;">

        <div class="report-form clearfix">
            <h2>Generic DME Order Form Code: L0001</h2>
            <div class="row" id="pname">
                <div class="col-sm-6">
                    Patient Name: @Html.Label("patientname", (string)@ViewBag.patientname)
                </div>
                <div class="col-sm-6">
                    DOB: @Html.Label("dob", (string)@ViewBag.dob)

                </div>
            </div>

            <hr>
            @using (Html.BeginForm("Create3", "GenericForm", FormMethod.Post, new { name = "Create", id = "Create" }))
            {
                <div id="dvFirst">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(e => e.Order.DMEForm_Id)
                    @Html.HiddenFor(e => e.Order.DMEFormCode)
                    @Html.HiddenFor(e => e.Order.CreatedOn)
                    @Html.HiddenFor(e => e.Order.IsFaxLOMN)
                    @Html.HiddenFor(e => e.Order.FaxLOMN_Date)
                    @Html.HiddenFor(e => e.Order.IsOrderOrthosis)
                    @Html.HiddenFor(e => e.Order.IsReceiveLOMN)
                    @Html.HiddenFor(e => e.Order.DMEOfficeStaffOrder_Id)
                    @*@Html.HiddenFor(e => e.Order.IsReceiveLOMN)*@

                    @if (ViewBag.Error != null)
                    {
                        @Html.Raw(ViewBag.Error)
                    }


                    <div id="dvOrder">


                        <div class="outerf">
                            <div class="borderbox">
                                <div class="hiddenform">

                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 form-group">
                                            <div class="col-sm-4"><h3>Letter of Medical Necessity:</h3></div>
                                            <div class="radiosec">
                                                <input id="Order_IsReceive" class="checkbox-custom" name="IsReceiveLOMN" type="checkbox" value="true">
                                                <label for="Order_IsReceive" class="checkbox-custom-label">
                                                    Received
                                                </label>
                                                @*<span id="IsReceiveLOMN" class="validateMsg"></span>*@
                                            </div>
                                            <div class="col-sm-4 radiosec">
                                                @Html.TextBoxFor(m => m.Order.ReceiveLOMN_Date, new { @class = "form-control datepicker datepicker-bg DenyAdvanceDateSelection", @placeholder = "MM/dd/YYYY", style = "width:100%;", @Value = @DateTime.Now.ToShortDateString() })
                                                <span id="ReceiveLOMN_Date" class="validateMsg"></span>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                            <div class="borderbox">
                                <div class="hiddenform">

                                    <div class="row">
                                        @*<div class="col-sm-12 col-md-12 form-group">
                                            <div class="col-sm-4"><h3>Letter of Medical Necessity:</h3></div>
                                            <div class="radiosec">
                                                <input id="Order_IsOrderOr" class="checkbox-custom" name="IsOrderOrthosis" type="checkbox" value="true">
                                                <label for="Order_IsOrderOr" class="checkbox-custom-label">
                                                    Generate
                                                </label>
                                              
                                            </div>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(m => m.Order.OrderOrthosis_Date, new { @class = "form-control datepicker datepicker-bg DenyAdvanceDateSelection", @placeholder = "MM/dd/YYYY", style = "width:100%;", @Value = @Model.Order.OrderOrthosis_Date.GetExactValue() })
                                                <span id="OrderOrthosis_Date" class="validateMsg"></span>
                                            </div>
                                        </div>*@

                                        <div class="col-sm-12 col-md-12 form-group">

                                            <p style="padding-bottom:8px;">
                                                Ph# 800-321-0607 Acct#: 23298
                                                <br /><strong>NOTE: Ground Shipping/UPS</strong>
                                            </p>
                                            <div class="row form-group">
                                                <div class="col-sm-3 p_top10">Confirmation#:</div>
                                                <div class="col-sm-5">
                                                    @Html.TextBoxFor(m => m.Order.ConfirmationNo, new { @class = "form-control" })
                                                    <span id="ConfirmationNo" class="validateMsg"></span>
                                                </div>
                                            </div>

                                            PO#: Last Name of the Patient

                                        </div>
                                    </div>



                                </div>
                            </div>

                            <div class="subbutt">
                                @*<button type="button" class="btn btn-primary pull-left" onclick="GotoMC()">Back</button>*@
                                <button type="submit" class="btn btn-orange pull-right" onclick="return validateInputs();">Submit</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            }

        </div>

    </div>



    <div class="clearfix"></div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Order_IsReceiveLOMN").focus();
        var Fax_Date = document.getElementById("Order_FaxLOMN_Date").value;
        //alert(Fax_Date);
        $("#Order_ReceiveLOMN_Date").datepicker('setStartDate', new Date(Fax_Date));

        //var Orthosis_Date = document.getElementById('Order_ReceiveLOMN_Date').value;
        //alert(Orthosis_Date);
        //$('#Order_OrderOrthosis_Date').datepicker('setStartDate', new Date(Orthosis_Date));

        $("#Order_IsOrderOrthosis").focus();
        $("#IsOrderOrthosis").hide();
        $("#OrderOrthosis_Date").hide();
        $("#ConfirmationNo").hide();

        if ($("#Order_IsReceive").val() == "true") {

            $('#Order_IsReceive').prop('checked', true);
        }
        if ($("#Order_IsOrderOrthosis").val() == "true") {

            $('#Order_IsOrderOr').prop('checked', true);
        }

    });
    if ($("#Order_IsReceive").val() == "true") {
        $("#Order_IsReceiveLOMN").val(true);
    }
    if ($("#Order_IsOrderOr").val() == "true") {
        $("#Order_IsOrderOrthosis").val(true);
    }

    function validateInputs() {

        $('#IsReceiveLOMN').hide();
        $("#ReceiveLOMN_Date").hide();

        var IsReceive = document.getElementById("Order_IsReceiveLOMN");
        var ReceiveDate = document.getElementById("Order_ReceiveLOMN_Date");

        //if (!IsReceive.checked) {
        //    $("#IsReceiveLOMN").show();
        //    $("#IsReceiveLOMN").text("Please select an option.........");
        //    IsReceive.focus();
        //    return false;
        //}
        //else {
        //    $("#IsReceiveLOMN").hide();
        //}

        //if (ReceiveDate.value=="") {
        //    $("#ReceiveLOMN_Date").text("Please enter the date");
        //    $("#ReceiveLOMN_Date").show();
        //    ReceiveDate.focus();
        //    return false;
        //}
        //else {
        //    $("#ReceiveLOMN_Date").hide();
        //}
    }

    //function validateInputs()
    //{
    //    var IsOrderOrthosis = document.getElementById("Order_IsOrderOrthosis");
    //    var OrderOrthosis_Date = document.getElementById('Order_OrderOrthosis_Date');
    //    var ConfirmationNo = document.getElementById("Order_ConfirmationNo");

    //    if (ConfirmationNo != undefined) {
    //        if (!(ConfirmationNo.value == null || ConfirmationNo.value == "" || ConfirmationNo.value == '')) {
    //            $("#ConfirmationNo").text("");
    //        }
    //    }

    //    if (!IsOrderOrthosis.checked) {
    //        $("#IsOrderOrthosis").show();
    //        $("#IsOrderOrthosis").text("Please select an option.........");
    //        IsOrderOrthosis.focus();
    //        return false;
    //    }
    //    else {
    //        $("#IsOrderOrthosis").hide();
    //    }

    //    if (OrderOrthosis_Date.value == "") {
    //        $("#OrderOrthosis_Date").show();
    //        $("#OrderOrthosis_Date").text("Enter Order Orthosis Date");
    //        OrderOrthosis_Date.focus();
    //        return false;
    //    }
    //    else {
    //        $("#OrderOrthosis_Date").hide();
    //    }

    //    if (ConfirmationNo.value == ""||ConfirmationNo.value == null || ConfirmationNo.value == '') {
    //        $("#ConfirmationNo").show();
    //        $("#ConfirmationNo").text("Enter Confirmation No");
    //        ConfirmationNo.focus();
    //        return false;
    //    }


    //}
</script>

