@model DataLayer.Models.tblMPatSchdScheduleSetting
@{
    Layout = null;
}
<style>
    .form-control {
        display: block;
        width: 100%;
        height: 42px;
        padding: 7px 12px;
        font-size: 15px;
        line-height: 1.42857143;
        color: #000;
        background-color: #e5e8ed;
        background-image: none;
        border: 1px solid #d2d3d4;
        border-radius: 1px;
    }

    .label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 400;
    }
</style>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/Speedometer/jquery-1.4.min.js"></script>
<script src="~/Scripts/Speedometer/excanvas-modified.js"></script>
<script src="~/Scripts/Speedometer/jquery.jqcanvas-modified.js"></script>
<script src="~/Scripts/Speedometer/jquery.speedometer.js"></script>


<div class="col-sm-12 col-md-12 form-group" style="margin-top:20px;">

    <div class=" col-sm-3 form-group">

        <div id="test" style="width:80px; height:70px;"></div>

    </div>
    <div class="col-sm-3 form-group">
        @Html.Label("Location")
        @Html.DropDownListFor(e => e.LocationId, (SelectList)ViewBag.Location, "Select Location", new { @class = "form-control" })
    </div>
    <div class="col-sm-3 form-group">
        @*@Html.Label("From Date:")*@
        <input type="text" id="txtFromDate" name="txtFromDate" style="display:none;" class="form-control datepicker" placeholder="MM/DD/yyyy" />
    </div>
    <div class="col-sm-3 form-group">
        @*@Html.Label("To date:")*@
        <input type="text" id="txtToDate" name="txtToDate" style="display:none;" class="form-control datepicker" placeholder="MM/DD/yyyy" />
    </div>
    
    @*<div class="col-sm-3 form-group">
        @Html.Label("Current Day:")
        <input type="text" id="CurrentDay" name="CurrentDay" class="form-control datepicker" disabled="disabled" />
    </div>
    <div class="col-sm-3 form-group">
        @Html.Label("Current City:")
        <input type="text" id="CurrentCity" name="CurrentCity" class="form-control datepicker" disabled="disabled" />
    </div>*@

</div>

@*<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
        $('#test').speedometer();
    });

    $("#LocationId").change(function () {
        fnGetLocationWiseBooking();
    });


    //function fnGetLocationWiseBooking() {
    function fnGetLocationWiseBooking() {
        //alert('hi');
        $.ajax({
            url: '@Url.Action("GetLocationWiseBooking", "ScheduleSettings")',
            type: "GET",
            dataType: "Json",
            data: { LocationId: $('#LocationId').val(), txtFromDate: $('#txtFromDate').val(), txtToDate: $('#txtToDate').val() },
            success: function (data) {
                $('#test').speedometer({ percentage: data || 0 });
            },
            error: function (error) {
                alert("Error: " + error);
            },
            statusCode: {
                404: function () {
                    alert("page not found");
                }
            }
        });
    }



    $(document).ready(function () {
        var weekday = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
        var a = new Date();
        currda = weekday[a.getDay()];
        $('#CurrentDay').val(currda);

    });
    $(document).ready(function () {
        $.getJSON("http://freegeoip.net/json/", function (data1) {
            var country_code = data1.country_code;
            var country = data1.country_name;
            var ip = data1.ip;
            var time_zone = data1.time_zone;
            var latitude = data1.latitude;
            var longitude = data1.longitude;
            var city = data1.fnGetLocationWiseBooking;
            xyz(ip);
            // For Get Metter

        });
    });

    function xyz(ip) {
        $.ajax({
            url: '@Url.Action("GetUserCountryByIp", "ScheduleSettings")',
            type: "GET",
            dataType: "Json",
            data: { id: ip },
            success: function (data) {
                var location = data.split("\"");
                $("#CurrentCity").val(location[1]);
                GetLocationID($("#CurrentCity").val());

            },
            error: function (error) {
                alert("Error: " + error);
            },
            statusCode: {
                404: function () {
                    alert("page not found");
                }
            }
        });
    }
    function GetLocationID(CurrentCity) {
        var CurrentCityID = 0;
        var Location = ["Ocala",
            "Kolkata",
            "Trulia",
            "FL 32162",
            "Spearfish",
            "Traverse"];
        if ($("#CurrentCity").val() != null) {
            CurrentCity = $("#CurrentCity").val();
            CurrentCityID = Location.indexOf(CurrentCity);
        }
        var d = new Date();
        var curr_date = d.getDate();
        var curr_month = d.getMonth() + 1;
        var curr_year = d.getFullYear();
        var OneWeekFrom = d.setDate(d.getDate() - 30);
        var From_date = d.toISOString().split('T')[0];
        var From_Split = From_date.split('-');
        var from_day = From_Split[2];
        var from_month = From_Split[1];
        var from_year = From_Split[0];
        var currentDate = curr_month + '/' + curr_date + '/' + curr_year;
        var FromDate = from_month + '/' + from_day + '/' + from_year;
        $("#txtFromDate").val(FromDate);
        $("#txtToDate").val(currentDate);
        $.ajax({
            url: '@Url.Action("GetLocationWiseBooking", "ScheduleSettings")',
            type: "GET",
            dataType: "Json",
             data: { LocationId: $('#LocationId').val(), txtFromDate: $('#txtFromDate').val(), txtToDate: $('#txtToDate').val() },
            //data: { LocationId: CurrentCityID, txtFromDate: FromDate, txtToDate: currentDate },
            success: function (data) {
                $('#test').speedometer({ percentage: data || 0 });
            },
            error: function (error) {
                alert("Error: " + error);
            },
            statusCode: {
                404: function () {
                    alert("page not found");
                }
            }
        });
    };
</script>
