@model DataLayer.Models.tblTMaintenanceRequestForm

@{
    ViewBag.Title = "Create";
}
<section class="bodyinner">
    <div class="container">
        <div class="bodyleft">
            @Html.Partial("~/Views/Shared/_LeftPart.cshtml")
        </div>
        <div class="bodyright">

            <div class="report-form clearfix">
                <h2>Maintenance Request Form</h2>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true)
                    @Html.Hidden("CreatedOn", DateTime.Now)


                      if (ViewBag.Error != null)
                {
                     @Html.Raw(ViewBag.Error)
                }
                    <div class="clearfix"></div>


                    <div class="row">

                        <div class="col-sm-6 col-md-4 form-group">
                            <label for="date">Today’s Date:<br />&nbsp;&nbsp;</label>
                            @Html.TextBoxFor(m => m.TodaysDate, new { @class = "form-control datepicker datepicker-bg", style = "width:100%;", @Value = DateTime.Now.ToString("MM/dd/yyyy"), @Readonly = true })
                        </div>

                        <div class="col-sm-6 col-md-6 form-group">
                            <label>Office Location<br />&nbsp;&nbsp;</label>
                            @Html.DropDownList("OfficeLocation", string.Empty)
                            @Html.ValidationMessageFor(model => model.OfficeLocation)
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-6 form-group">
                            <label>Employee First Name </label>
                            @Html.TextBoxFor(m => m.EmpFirstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.EmpFirstName)
                        </div>
                        <div class="col-sm-6 col-md-6 form-group">
                            <label for="date">Employee Last Name </label>
                            @Html.TextBoxFor(m => m.EmpLastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.EmpLastName)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-6 form-group">
                            @Html.Label("Priority")
                            @Html.DropDownListFor(m => m.Priority, from DataLayer.MaintenancePriority state in Enum.GetValues(typeof(DataLayer.MaintenancePriority))
                                                               select new SelectListItem() { Text = state.ToString(), Value = ((int)state).ToString() },string.Empty)


                        </div>
                    </div>
                    <hr />
                    <div class="row">

                        <div class="col-sm-12 col-md-12 form-group">
                            <label>Describe item requiring repair or maintenance below: </label>
                            @*<input name="date" type="text" class="form-control datepicker datepicker-bg" placeholder="mm/dd/yyyy" style="width:100%;">*@
                            @Html.TextAreaFor(m => m.DescItemRequired, new { @class = "form-control", style = "width:100%;", @id = "txtdata", @onkeyup = "javascript:ValidateCharactercount(this);", @maxlength = "2000", @autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.DescItemRequired)  
                            <div id="divmessage" style="color: green;"></div>                        
                        </div>


                    </div>

                    <div class="subbutt">
                        <input type="submit" value="Create" class="btn btn-orange pull-right" />

                        <div class="clearfix"></div>
                    </div>
                    <p>@Html.ActionLink("Back to List", "Index")</p>
                }
            </div>



        </div>
    </div>
</section>







<script>
    $('#OfficeLocation').addClass('form-control');
    $('#Priority').addClass('form-control');
</script>

<script language="javascript">
    function ValidateCharactercount(cont) {
        var len = cont.value.length;
        var remchars = 2000 - len;
        if (remchars == 0) {
            //alert('Maximum Length Is 500 Chars!......');
            $('#divmessage').css('color', 'red');
        }
        else {
            $('#divmessage').css('color', 'green');
        }
        //var id = "#" + cont.id;
        $("#divmessage").html("Character remaning :" + remchars);
    }
</script>

